*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


i, .icon-list > img, .control .buttons-time .buttons > img, .control .buttons-time .buttons .volumen .icon-volume-up,.control .buttons-time .buttons .volumen .icon-volume-down{
	cursor: pointer;
}

#reproductor{
	margin: auto;
	display: block;
	width: 90%;
}


.control{
	background: #222;
	color: #fff;
}
.icon-list > img{
	width: 50px;
	height: 50px;

}

.btn-ctr{
    bottom: 7px;
    position: relative;
    padding: 0px 10px;
}
.btn-ctr-vol{
	width: 28px !important;
    bottom: 7px;
    position: relative;
}
.btn-ctr-down{
    bottom: 7px;
    position: relative;
    padding: 0 10px 0 0px;
	display: inline-block;
}

.reproductor .content-titulo {
	position: relative;
	width: 100%;
	height: 0;
}

.reproductor .content-titulo .titulo{ 
	transform: translateY(-400%);

    text-align: center;
}

.reproductor .content-titulo .titulo .nombre{
    font: message-box;
    font-size: x-large;
}


.rep-body{
	margin-top: 10px;
	width: 100%;
	overflow: hidden;
}


#reproductor .reproductor {
	width: 100%;
	display: inline-block;
	float: left;
	padding: 10px 10px 0 10px;
}



/* para volumen slider */ 
#reproductor .volumen {
	display: inline-block;
}
.volumen .reproduction .reproducted{
	width: 100% ;
	top: 0;
	left: 0;
	height:4px;
	background: #ff432e;
	position: relative;
	cursor: pointer;
}
.volumen .volumen-body{

	height: 18px;
	width: 0px ;
	overflow: hidden;
	visibility: hidden;
	display: inline-block;
	-webkit-transition:  width 0.5s, visibility 0.5s;
  	transition: width 0.5s, visibility 0.5s;

	position: relative;
    bottom: 10px;
}


.volumen:hover > .volumen-body, .volumen:active > .volumen-body{
    padding: 0 0 0 5px;
	visibility: visible;
	width: 80px ;
	display: inline-block;
}



.volumen .icon-vol{
	
	display: inline-block;
}


.volumen .reproduction .circle{
	top: -83%;
	left: 100%;
	/*border : 2px solid #000;*/ 
	background: #ff432e;
	position: absolute;
	transform: translateX(-50%) ;
	width: 10px;
	height:10px;
	cursor: pointer;
	border-radius: 100%;
}



.volumen .reproduction{
	top: 58%;
	width: 93%;
	height:4px;
	background: #fff;
	position: relative;
	cursor: pointer;

}

/* --------------------- */

.rep-body .reproduction{
	z-index: 10;	/*top: -4px;*/
	width: 86%;
	height:6px;
	background: gray;
	position: absolute;

	opacity: 0.7;
	-webkit-transition:  0.3s linear;
  	transition: 0.3s linear;
}

.rep-body .reproduction .reproducted{
	z-index: 15;
	width: 0;
	top: 0;
	left: 0;
	height:6px;
	background: #ff432e;
	position: absolute;

	
	-webkit-transition: top 0.3s linear, height 0.3s linear;
  	transition: top 0.3s linear, height 0.3s linear;

}

.rep-body .reproduction .buffered{
	z-index: 14;
	width: 0px;
	top: 0;
	left: 0;
	height:6px;
	background: gold;
	position: absolute;

	
	-webkit-transition: top 0.3s linear, height 0.3s linear;
  	transition: top 0.3s linear, height 0.3s linear;	
}

.rep-body .reproduction .circle{
	z-index: 6;
	top: -2.5px;
	left: 0;
	/*border : 2px solid #000;*/ 
	background: #ff432e;
	position: absolute;
	transform: translateX(-50%) ;
	width: 11px;
	height:11px;
	cursor: pointer;
	border-radius: 100%;

	-webkit-transition: top 0.3s linear, width 0.3s linear, height 0.3s linear;
  	transition: top 0.3s linear, width 0.3s linear, height 0.3s linear;
}

.rep-body .reproduction .circle-time{
	z-index: 4;
	top: 18px;
	left: 0;
	background: gray;
	position: absolute;
	transform: translateX(-20%) ;
	cursor: pointer;
	border-radius: 5px;
	padding: 3px;
	color: #FFF;
	font-size:  10px;
	display: none;
}

.rep-body .reproduction:hover, .rep-body .reproduction:active{
	cursor: pointer;
}

.rep-body .reproduction:hover > .circle, .rep-body .reproduction:active > .circle {
	width: 16px;
	height: 16px;
}

.rep-body .reproduction:hover, .rep-body .reproduction:active {

	opacity: 1;
	height: 8px;
}


.rep-body .reproduction:hover > .reproducted, .rep-body .reproduction:active > .reproducted,
.rep-body .reproduction:hover > .buffered, .rep-body .reproduction:active > .buffered {
	top: 0px;
	opacity: 1;
	height: 8px;
}

.rep-body .reproduction:hover ~ .list-img .img-cover > div, .rep-body .reproduction:active ~ .list-img .img-cover > div  {
	background: rgba(0,0,0,0.6);
}

.rep-body .reproductor .reproduction .time .duration{
	left: 100%;
    position: absolute;
    transform: translateX(-100%);
}
.rep-body .reproductor .reproduction .time .played{
	left: 0%;
    position: absolute;
}



.rep-body .reproductor .reproduction .time > span{
    z-index: -1;
    background: gray;
    margin: 8px 0 0 0;
}

.rep-body .reproductor .reproduction .time{
	opacity: 0;
	-webkit-transition: 0.4s linear;
  	transition: 0.4s linear;
}
.rep-body .reproduction:hover > .time, .rep-body .reproduction:active > .time {
	opacity: 1;
}
.rep-body .reproduction:hover > .time span, .rep-body .reproduction:active > .time span {
	z-index: 5;
	opacity: 1;
	background: grey;
}
/*
.rep-body .reproduction:hover ~ .list-img, .rep-body .reproduction:active ~ .list-img .img-cover > div{
	top: 0px;
	opacity: 1;
	height: 6px;
}

*/





.buttons-time{
    border-top: solid 1px white;
    padding: 2px 0px;
	text-align: center;
	margin: auto;
	display: block;
	width: 100%;
}


/* barras equalizer */
#bar0{

	margin-left: 2px; 
	border-style:solid;
	border-color:#FFF;
	width:1px;
	position:absolute;
	background:#FFF;

	-webkit-animation: mymove 3s infinite; /* Safari 4.0 - 8.0 */
	animation: mymove 6s infinite;
	animation-direction: alternate;
}


#bar1{

	margin-left: 5px; 
	width:1.5px;
	position:absolute;
	background:#FFF;

	-webkit-animation: mymove 0.2s infinite; /* Safari 4.0 - 8.0 */
	animation: mymove 0.2s infinite;
	animation-direction: alternate;
}

#bar2{

	margin-left: 7px; 
	width:1.5px;
	position:absolute;
	background:#FFF;


	-webkit-animation: mymove 6s infinite; /* Safari 4.0 - 8.0 */
	animation: mymove 0.5s infinite;
	animation-direction: alternate;
}

#bar3{
	margin-left: 9px; 
	width:1.5px;
	position:absolute;
	background:#FFF;

	-webkit-animation: mymove 0.2s infinite; /* Safari 4.0 - 8.0 */
	animation: mymove 0.2s infinite;
	animation-direction: alternate;
}


/* Safari 4.0 - 8.0 */
#bar0 {-webkit-animation-timing-function: ease-in-out ;}
#bar1 {-webkit-animation-timing-function: ease-in-out ;}
#bar2 {-webkit-animation-timing-function: ease-in-out;}
#bar3 {-webkit-animation-timing-function: ease-in-out;}

/* Standard syntax */
#bar0 {animation-timing-function: ease-in-out;}
#bar1 {animation-timing-function: ease-in-out;}
#bar2 {animation-timing-function: ease-in-out;}
#bar3 {animation-timing-function: ease-in-out;}



/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    from {height:  0px;}
    to {height:  15px;}
}

/* Standard syntax */
@keyframes mymove {
    from {height:  0px;}
    to {height:  15px;}
}

.music.status{
	display: inline-block;
	
}


/* icono para desplegar lista */

.rep-body .list{
	width: 100%;
	position: relative;
	z-index: 1;
}

.rep-body .list-img .icon-list{
	margin-top: 6px;
    z-index: 2;
    left: 85%;
    height: 70px;
    position: absolute;
    opacity: 0.4;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    transform: translateX(-18px);


	-webkit-transition:  0.4s ease-in-out;
  	transition: 0.4s ease-in-out;
}

.rep-body .list-img .icon-list-checkbox{
	visibility: hidden;
	/*
	width: 16px;
	height: 16px;
	left: 100%;
	margin-top: 3px;
	transform: translateX(-129%);
	display: block;
	visibility: visible;
	*/
}

.rep-body .list .lista{
	background: transparent;
	text-align: left !important;
	width: 100%;
	position: absolute;
	text-align: right;
	height: 0;.reproductor 

	width: 100%;
	max-height: 50px;
}

.rep-body .list .lista .playing{
	background: #bbb !important;
}

.rep-body .list .lista .song{
	background: #6b6b6b;
	padding: 10px;
	font-size: small;
}
.rep-body .list .lista .song:hover{
	background: #adaaaa;
	font-size: small;
}


#reproductor .reproductor .list-img > .img-cover img {
	width: 100%;
}
@media (min-width: 500px){
	#reproductor .reproductor .list-img > .img-cover img {
		width: 100%;
		height: 430px;
	}
}

#reproductor .reproductor .list-img .img-cover {
	position: relative;
}
#reproductor .reproductor .list-img .img-cover > div {    
	position: absolute;
    height: 100%;
    width: 100%;

    -webkit-transition:  0.5s ease-in-out;
  	transition: 0.5s ease-in-out;
}
#reproductor .reproductor .list-img .img-cover:hover > div, .rep-body .list-img .icon-list:hover ~ .img-cover > div {    
	
    background: rgba(0,0,0,0.6);
}


#reproductor .reproductor .list-img{
	overflow: hidden;
	overflow-y: auto;
	position: relative;
}

.lista .lista-back{
	transform: translateY(-260%);
    -webkit-transition:  0.5s ease-in-out;
  	transition: 0.5s ease-in-out;

}

.rep-body .list-img .icon-list-checkbox:checked ~ .list > .lista .lista-back {

	transform: translateY(0%);
}

.list .lista .title-total {
    padding: 5px;
    text-align: center;
    margin: 0;
    background: rgba(34, 34, 34, 0.3);
}
.list .lista .title-total > .title {
    font-size: 20px;
    padding: 0;
    margin:0;
}
.list .lista .title-total > .total {
    font-size: 15px;
    padding: 0;
    margin:0;
}


.rep-body .list {
	opacity: 0.4;
	-webkit-transition:  0.4s ease-in-out;
  	transition: 0.4s ease-in-out;
}

#reproductor .reproductor .list-img:hover > .list,#reproductor .reproductor .list-img:hover > .icon-list {
	opacity: 1;
}



/* -----------*/


.load-player{
	top: 40%;
    position: absolute;
    width: 70px !important;
    height: 70px !important;
    margin-left: 41.5%;
}

.load-player {
    border: 16px solid #f3f3f3; /* Light grey */
    border-radius: 50%;
    border-top: 16px solid #d9534f;
    border-bottom: 16px solid #d9534f;
    animation: spin 2s linear infinite;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* SCROLLBAR */
::-webkit-scrollbar-track
{
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #bbbbbb;
	width: 7px;
}

::-webkit-scrollbar-thumb
{
	/*border-radius: 10px;*/
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
	background-color: #bbbbbb;
}



/* --------------- */
.info-btn{
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
}
.info-p{
    position: absolute;
    top: 20%;
    transform: translateX(-1%);
    color: black;
    font-size: 20px;
}