.sol-checkbox{
    left: 20%;
}

html,body{

}

.registeration{
    border-top: 5px solid #ff432e;
    -webkit-box-shadow: 0px 5px 21px -2px rgba(0,0,0,0.47);
    -moz-box-shadow: 0px 5px 21px -2px rgba(0,0,0,0.47);
    box-shadow: 0px 5px 21px -2px rgba(0,0,0,0.47);
    margin-top: 70px;

}

.registerInner{
 
}




.form-group{
    width: 80%;
    line-height: 50px; 

}

.signbuttons{
    margin-bottom: 35px;
    background: #ff432e;
    border: none;
}

input{
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: 1px solid #ff432e !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
}

.headerSign{
    color: #2E2E2E;
    margin-bottom: 20px;
    text-align: center;
}

.darktext{
    color: #ff432e;
}

.select-form{
    width: 100%;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: 1px solid #ff432e !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
}
.select-form-date{
    width: 32.2%;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: 1px solid #ff432e !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
}



/* ------  img ------ */
#img_id{
  width: 100%;
  /*max-width: 358px;*/

}

#div_id_photo .img{
  width: 100%;
  background: white;
}

#div_id_photo{
  padding: 0 0 32px 0;
}



.errorlist{
  color: #a94442;
}


/* ck editor */
.cke_chrome{
  width: auto !important;
  display: block !important;
}
.django-ckeditor-widget{
  width: auto !important;
  display: block !important;
  margin-bottom: 20px;
}



 /**********File Inputs**********/
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.iborrainputfile {
  font-size:16px; 
  font-weight:normal;
  font-family: 'Lato';
}

/* style 1 */

.inputfile-1 + label {
    color: #fff;
    background-color: #ff432e;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: #ff432e;
}


h3.popover-title{
    color: black;
}
li.list{
    color: black; 
    margin: 2px;
}
li:hover{
    color: red;
}

/* --- loader --- */

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-radius: 50%;
    border-top: 16px solid #d9534f;
    border-bottom: 16px solid #d9534f;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader-porcent{
    position: absolute;
    z-index: 1;
    top: 40px;
    font-size: 19px;
    left: 50%;
    margin-left: -23px;
}




