
.icon-play:before { content: '\e800'; } /* '' */
.icon-stop:before { content: '\e801'; } /* '' */
.icon-pause:before { content: '\e802'; } /* '' */
.icon-to-end:before { content: '\e803'; } /* '' */
.icon-to-end-alt:before { content: '\e804'; } /* '' */
.icon-to-start:before { content: '\e805'; } /* '' */
.icon-to-start-alt:before { content: '\e806'; } /* '' */
.icon-fast-fw:before { content: '\e807'; } /* '' */
.icon-fast-bw:before { content: '\e808'; } /* '' */
.icon-volume-off:before { content: '\e809'; } /* '' */
.icon-volume-down:before { content: '\e80a'; } /* '' */
.icon-volume:before { content: '\e80b'; } /* '' */
.icon-volume-up:before { content: '\e80c'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */