@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?51365251');
  src: url('../font/fontello.eot?51365251#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?51365251') format('woff2'),
       url('../font/fontello.woff?51365251') format('woff'),
       url('../font/fontello.ttf?51365251') format('truetype'),
       url('../font/fontello.svg?51365251#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?51365251#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-play:before { content: '\e800'; } /* '' */
.icon-stop:before { content: '\e801'; } /* '' */
.icon-pause:before { content: '\e802'; } /* '' */
.icon-to-end:before { content: '\e803'; } /* '' */
.icon-to-end-alt:before { content: '\e804'; } /* '' */
.icon-to-start:before { content: '\e805'; } /* '' */
.icon-to-start-alt:before { content: '\e806'; } /* '' */
.icon-fast-fw:before { content: '\e807'; } /* '' */
.icon-fast-bw:before { content: '\e808'; } /* '' */
.icon-volume-off:before { content: '\e809'; } /* '' */
.icon-volume-down:before { content: '\e80a'; } /* '' */
.icon-volume:before { content: '\e80b'; } /* '' */
.icon-volume-up:before { content: '\e80c'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */