{% extends 'base.html' %}


{% block title %}
Iniciar sesión - Hits Música
{% endblock %}

{% block styles %}
<div id="target-style">
	<link href="/static/css/formularios/formularios.css" rel="stylesheet">
</div>
{% endblock %}


{% block body %}

<div id="target-body">

<div class="container">
    <div class="row col-md-8 col-md-offset-2 registeration">
    
        <div class="registerInner">
            <div class="col-md-12">
                <h3 class="headerSign">INICIAR SESION</h3>
            </div>
			
			
			<center><span class="errorlist">{{mensaje}}</span></center> 
			<form method="post" action="{{action}}" id="">
				{% csrf_token %}
				
				<div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 wow animated slideInLeft" data-wow-delay=".5s">
					<center>
						<div>
							<input type="text" name="username" id="username" placeholder="Nombre de Usuario" class="form-group">
						</div>
					</center>
				</div>
				
				<div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 wow animated slideInRight" data-wow-delay=".5s">
					<center>
						<div>
							<input type="password" name="password" id="password" placeholder="Contraseña" class="form-group">
						</div>
					</center>
				</div>
				
				<input type="hidden" name="next" id="next" value="{{next}}">
				<div class="relative fullwidth col-xs-12">
					<center>
						<br>
						<a href="{% url 'password_reset' %}">Olvidé mi contraseña</a>
						<br>
						<br>
						<input type="submit" class="signbuttons btn btn-primary" value="Iniciar Sesión
					">
					</center>
				</div>
				
			</form>
        </div>
        
    </div>
</div>

</div>
{% endblock %}
