
{% extends 'base.html' %}

	{% block body %}
  <link rel="stylesheet" href="/static/css/profile.css">
<div class="mainbody container-fluid">
    <div class="row">
        
        <div style="padding-top:50px;"> </div>
        
         
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <span>
                           <div class="fb-profile">
                                <img align="left" class="fb-image-lg" src="/{{usuario.front}}" alt="Profile image example"/>
                                <img align="left" class="fb-image-profile thumbnail" src="/{{usuario.photo}}" alt="Profile image example"/>
                                <div class="fb-profile-text">
                                    <h1>{{usuario.name|default_if_none:usuario.username}}</h1>
                                    <p>{{usuario.website|default_if_none:''}}</p>
                                    <p>{{usuario.instagram|default_if_none:''}}</p>
                                    <p>{{usuario.description|default_if_none:''}}</p>
                                    <p>{{usuario.get_followers.all.count}} seguidores </p>
                                    <p>{{usuario.get_following.all.count}} seguidos </p>
                                    {% if request.user.username != usuario.username %}
                                        {% if follow %}
                                        <button class="btn btn-primary btn-min-block"  onclick="follow({{usuario.pk}},'{{artist}}');" >Dejar de Seguir</button>
                                        {% else %}
                                        <button class="btn btn-primary btn-min-block"  onclick="follow({{usuario.pk}},'{{artist}}');" >Seguir</button>
                                        {% endif %}
                                    {% else %}
                                        {% if artist %}
                                        <a class="btn btn-primary btn-min-block" href="{{request.user.username}}/aeditar">Editar</a>
                                        {% else %}
                                        <a class="btn btn-primary btn-min-block" href="{{request.user.username}}/editar">Editar</a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div> 
                    </span>
                   <hr>
                    
                </div>
            </div>
            <hr>
            <!-- Ultimas Canciones del usuario. -->
            
                {% if artist %}
            <div class="panel panel-default">
                <div class="panel-body">
                            <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="section-title text-center">
                            <h3>Ultimas Canciones</h3>
                            <p></p>
                            <a class="btn btn-primary btn-min-block" href="{% url 'usuarios:songs_user' usuario.username%}">Ver todas</a>
                        </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-1">
                    <div id="team-section">
                    
                        
                
                

                                <div class="our-team">
                                    {% for cancion in usuario.singer.song_set.all|slice:":6" %}
                                    <div class="team-member">
                                        <img src="/{{cancion.photo}}" class="img-responsive" alt="">
                                        <div class="team-details">
                                            <h4>{{cancion.name}}</h4>
                                            <p>{{ cancion.artists.all|join:"  X " }}</p>
                                            <ul>
                                                <li><a href="#"><i class="fa fa-arrow-circle-o-down"></i></a></li>
                                          
                                            </ul>
                                        </div>
                                    </div>
                                    {% empty %}
                                        <div> No hay canciones</div>
                                    {% endfor %}
                                </div>
                    </div>
                </div>
            </div>
                
        </div>
    </div>
 </div>
<!--Fin Canciones del usuario-->


     <div class="panel panel-default">
                <div class="panel-body">
                            <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="section-title text-center">
                            <h3>Ultimos Albums</h3>
                            <p></p>
                            <a class="btn btn-primary btn-min-block" href="{% url 'usuarios:albums_user' usuario.username %}">Ver todos</a>
                        </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-11">
                    <div id="team-section">
                    
                        
                
                

                                <div class="our-team">
                                    {% for album in usuario.singer.album_set.all|slice:":6" %}
                                    <div class="team-member">
                                        <img src="/{{album.photo}}" class="img-responsive" alt="">
                                        <div class="team-details">
                                            <h4>{{album.name}}</h4>
                                            <ul>
                                                <li><a href="#"><i class="fa fa-arrow-circle-o-down"></i></a></li>
                                          
                                            </ul>
                                        </div>
                                    </div>
                                    {% empty %}
                                        <div> No hay albumes </div>
                                    {% endfor %}


                                </div>

                    
                    </div>
                </div>
            </div>
                
        </div>
    </div>
 </div>

{% endif %}


<!--Listas de reproduccion Usuario-->
    
<div class="panel panel-default">
    <div class="panel-body">
       <div class="section-title text-center">
                            <h3>Listas</h3>
                            <p></p>
                            <a class="btn btn-primary btn-min-block" href="{% url 'usuarios:playlists_user' usuario.username %}">Ver todas</a>
                        </div>
    {% for list in usuario.playlist_set.all|slice:":3" %}
    <div class="row">
        <div class="col-md-4   watch-card ">
            <div class="artist-title col-md-12">
                <a href="">{{list.name}}</a><br/>
                <span></span>
            </div>
        </div>
    </div>
    {% empty %}
    <div> No hay PLaylist </div>
    {% endfor %}

    </div>
</div>
<!--fin listas de reproduccion usuario-->




<div class="panel panel-default">
                <div class="panel-body">
                            <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="section-title text-center">
                            <h3>Favoritas</h3>
                            <p></p>
                            <a class="btn btn-primary btn-min-block" href="{% url 'usuarios:favorites_user' usuario.username %}">Ver todas</a>
                        </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-1">
                    <div id="team-section">
                    
                        
                
                

                                <div class="our-team">
                                    {% for cancion in usuario.song_set.all|slice:":6" %}
                                    <div class="team-member">
                                        <img src="/{{cancion.photo}}" class="img-responsive" alt="">
                                        <div class="team-details">
                                            <h4>{{cancion.name}}</h4>
                                            <p>{{cancion.artists.all|join:"  X " }}</p>
                                            <ul>
                                                <li><a href="#"><i class="fa fa-arrow-circle-o-down"></i></a></li>
                                          
                                            </ul>
                                        </div>
                                    </div>
                                    {% empty %}
                                        <div> No hay favoritos</div>
                                    {% endfor %}


                                </div>

                    
                    </div>
                </div>
            </div>
                
        </div>
    </div>
 </div>



           
    </div>

<div class="col-lg-3 col-md-3 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                       
                        <div class="media-body">
                            <hr>
                            <h3><strong>Informacion Personal</strong></h3>
                            <p>{{usuario.description}}</p>
                            <hr>
                            <h3><strong>Rol</strong></h3>
                            <p>{{usuario.groups.all|join:" - "}}</p>
                            <hr>
                            <h3><strong>Listas de Reproduccion</strong></h3>
                            <p>{{usuario.playlist_set.all.count}} Listas</p>
                            <hr>
                            {% if artist %}
                                <h3><strong>Canciones</strong></h3>
                                <p>{{usuario.singer.song_set.all.count}} Canciones</p>
                                <hr>
                                <h3><strong>Albumes</strong></h3>
                                <p>{{usuario.singer.album_set.all.count}} Albumes</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

    {% endblock %}



{% block scripts %}

<script type="text/javascript">
    


    function linkNoticia(button) {
        window.location.href = $(button).attr('data-url');
    }

    function follow(id, artist){
        b = artist == 'True';
        alert(b);
        $.ajax({
            type: 'POST',
            url: "{% url 'usuarios:follow_user' %}",
            data: {'id' : id, 'artist':b},
            dataType: 'json',
            success: function (data) {
                alert(data.add);
                if (data.r){
                    var seg = parseInt($("."+id+".seguidores").text());
                    if (data.add)
                        $("."+id+".seguidores").text(seg+1);
                    else
                        $("."+id+".seguidores").text(seg-1);
                }
            }
          });
    }
</script>


{% endblock %}