{% extends 'base.html' %}


{% block title %}
Registro de usuario - Hits Música
{% endblock %}

{% block styles %}
<div id="target-style">
	<link href="/static/css/formularios/formularios.css" rel="stylesheet">
</div>
{% endblock %}


{% block body %}

<div id="target-body">

<div class="container">
    <div class="row col-md-8 col-md-offset-2 registeration">
    
        <div class="registerInner">
            <div class="col-md-12">
                <h3 class="headerSign">REGISTRARSE</h3>
            </div>
			
			
			<center><span class="errorlist">{{mensaje}}</span></center> 
			<form method="post" action="{{action}}" >

				{% csrf_token %}

				<div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 wow animated slideInLeft" data-wow-delay=".5s">
					<center>
						<span class="helptext">150 carácteres como máximo. Únicamente letras, dígitos y @/./+/-/_ </span>
						{{form.username.errors}}
						<input type="text" name="username" value="{{form.username.value|default_if_none:''}}" class="form-group" maxlength="150" placeholder="Nombre de Usuario" id="id_username" />
						
						<br>
						<br>
					</center>
				</div>

				<div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 wow animated slideInRight" data-wow-delay=".5s">
					<center>
						{{form.email.errors}}
						<input type="email" name="email" class="form-group" value="{{form.email.value|default_if_none:''}}" maxlength="254" placeholder="Correo" id="id_email" />
					</center>
				</div>

				<div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 wow animated slideInLeft" data-wow-delay=".5s">
					<center>
						<div class="form-group">
							{{form.country.errors}}
							<label for="id_country">País:</label>
							{{form.country}}
						</div>
					</center>
				</div>
				
				<div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 wow animated slideInRight" data-wow-delay=".5s">
					<center><label for="id_birthdate">Fecha de nacimiento:</label>
						<div class="form-group">
							{{form.birthdate.errors}}
							{{form.birthdate}}
						</div>
					</center>
				</div>
				
				<div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 wow animated slideInLeft" data-wow-delay=".5s">
					<center>
						{{form.password1.errors}}
						<input type="password" name="password1" class="form-group" placeholder="password" id="id_password1" />
					</center>
				</div>

				<div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 wow animated slideInRight" data-wow-delay=".5s">
					<center>
						{{form.password2.errors}}
						<input type="password" name="password2" class="form-group" placeholder="password" id="id_password2" />
					</center>
				</div>

				<div class="relative fullwidth col-xs-12">
					<center>
					<button type="submit" class="signbuttons btn btn-primary">Registrarse</button>
					</center>
				</div>
			</form>
        </div>
        
    </div>
</div>

</div>
{% endblock %}