{% extends 'base.html' %}


{% block title %}
Registrarse - Hits Música
{% endblock %}

{% block styles %}
<div id="target-style">

    <link rel="stylesheet" href="/static/css/selection.css">
    <link rel="stylesheet" href="/static/css/imagehover.min.css">
</div>
{% endblock %}


{% block body %}

<div id="target-body">

		     <br/><br/><br/>
    <section id="tipoUser">
        <div class="container">
            <div class="col-md-12 ">
                <center> <h2>Selecciona tu rol</h2></center>
                <br />
                <div class="row">
                <!-- item -->
                    <div class="col-md-6 text-center">
                    
				        <figure class="imghvr-blur"  >
    			            <img src="/static/images/Artista.jpg">
    				        <figcaption class="contenido">
    					    
                                <h3 class="ih-fade-down ih-delay-sm ">Haz que el mundo te conozca!</h3>
                                <p class="ih-zoom-in ih-delay-md">
                                  <i>Sube Canciones, Videos y Albumes! y consigue miles de seguidores. Que esperas? </i>
                                </p>
                                <a class="btn btn-danger btn-lg" href="{% url 'usuarios:register_musician' %}">Ser Artista!</a>
                            </figcaption>
					   </figure>

                    </div>
                <!-- /item -->

                <!-- item -->
          
                <!-- /item -->

                <!-- item -->
                    <div class="col-md-6 text-center ">
                        <figure class="imghvr-blur">
					       <img src="/static/images/Usuario.jpg">
					       <figcaption class="contenido">
					    
                                <h3 class="ih-fade-down ih-delay-sm ">Toda tu musica en un solo lugar</h3>
                                <p class="ih-zoom-in ih-delay-md">
                                    <i>Descarga canciones, crea listas de reproducción, sigue a tus artistas favoritos y todo en un solo lugar </i>
                                </p>
                                <a class="btn btn-danger btn-lg" href="{% url 'usuarios:register' %}">Ser Usuario!</a>
                            </figcaption>
					   </figure>
                    </div>
                <!-- /item -->

                </div>
            </div>
        </div>
    </section>
<center>
    <script type="text/javascript">
        var ad_idzone = "2707984",
        ad_width = "300",
        ad_height = "50";
    </script>
<div id="ad1"></div>
</center> 
    <!-- /Plans -->

</div>
{% endblock %}




{% block scripts %}
<div id="target-script">

 <script >
    $(function() {

        var script = '<script type="text/javascript" src="https://ads.exdynsrv.com/ads.js"><\/script>'+
'<noscript><a href="https://main.exdynsrv.com/img-click.php?idzone=2707984" target="_blank"><img src="https://syndication.exdynsrv.com/ads-iframe-display.php?idzone=2707984&output=img&type=300x50" width="300" height="50"></a><\/noscript>';
        
        postscribe('#ad1', script);
    });
    </script>
</div>

{% endblock %}

