{% extends 'base.html' %}


{% block title %}
Editar {{form.username.value}} - Hits Música
{% endblock %}

{% block styles %}
<div id="target-style">
    <link rel="stylesheet" href="/static/css/profile2.css">
</div>
{% endblock %}


{% block body %}

<div id="target-body">

<div class="mainbody container-fluid">
    <div class="row">
     
        <div style="padding-top:50px;"> </div>
        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1 class="panel-title pull-left" style="font-size:30px;"><i class="fa fa-pencil" aria-hidden="true"></i> Editar Perfil</h1>
                </div>
            </div>
        </div>
        
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <form class="form-horizontal" method="post" action="{{action}}" id="form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1 class="panel-title pull-left" style="font-size:30px;">Mi Perfil</h1>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <h4 class="panel-title pull-left">Nombre</h4>
                    <br>
                        {{form.name.errors}}
                        <input type="text" class="form-control" value="{{form.name.value|default_if_none:''}}" id="" name="name" placeholder="Nombre y Apellido" >
                        <br><br>

                    <h4 class="panel-title pull-left">Nombre Artistico</h4>
                    <br>
                        {{form.stage_name.errors}}
                        <input type="text" class="form-control" value="{{form.stage_name.value|default_if_none:''}}" id="" name="stage_name" placeholder="Nombre Artístico" >
                        <br><br>

                    <h4 class="panel-title pull-left">Nombre de Usuario</h4>
                    <br>
                        {{form.username.errors}}
                        <input type="text" class="form-control" value="{{form.username.value|default_if_none:''}}" id="" name="username" placeholder="Nombre de Usuario" >
                        <br><br>

                    <h4 class="panel-title pull-left">Correo</h4>
                    <br>
                        {{form.email.errors}}
                        <input type="text" class="form-control" value="{{form.email.value|default_if_none:''}}" id="" name="email" placeholder="Correo" >
                        <br><br>
                </div>
            </div>

           <!--foto de perfil-->
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="panel-title pull-left">Foto de Perfil</h3>
                    <br><br>
                    <div align="center">
                        <div class="col-lg-12 col-md-12">
                            <img class="img-thumbnail img-responsive" data-id="id_photo" src="/{{form.photo.value|default_if_none:''}}" width="300" height="300">
                        </div>
                        <div class="col-lg-12 col-md-12">
                            {{form.photo.errors}}
                           <input type="file" name="photo" id="id_photo" value="{{form.photo.value|default_if_none:''}}" class="inputfile inputfile-1" onchange="upload_img(this)" >
                            <label for="id_photo">
                            <svg xmlns="http://www.w3.org/2000/svg" class="iborrainputfile" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path></svg>
                            <span class="iborrainputfile">Seleccionar Imagen</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <!--foto de portada-->
                <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="panel-title pull-left">Foto de Portada</h3>
                    <br><br>
                    <div align="center">
                        <div class="col-lg-12 col-md-12">
                            <img class="fb-image-lg" data-id="id_front" src="/{{form.front.value|default_if_none:''}}" height="300" >
                        </div>
                        <div class="col-lg-12 col-md-12">
                            {{form.front.errors}}
                            <input type="file" name="front" id="id_front" value="{{form.front.value|default_if_none:''}}" class="inputfile inputfile-1" onchange="upload_img(this)" >
                            <label for="id_front">
                            <svg xmlns="http://www.w3.org/2000/svg" class="iborrainputfile" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path></svg>
                            <span class="iborrainputfile">Seleccionar archivo</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="panel-title pull-left">Informacion Personal</h3>
                    
                    <br><br>
                        {{form.description.errors}}
                        <textarea name="description" class="form-control" rows="3" placeholder="Biografia" value="{{form.description.value|default_if_none:''}}"></textarea>
                    <br><br>
                       
                        {{form.country.errors}}
                        <label for="id_country">País:</label>
                        {{form.country}}
                        <br>
                        
                        {{form.website.errors}}
                        <input type="text" name="website" class="form-control" id="" placeholder="Sitio Web" value="{{form.website.value|default_if_none:''}}">
                        <br>

                        {{form.instagram.errors}}
                        <input type="text" name="instagram" value="{{form.instagram.value|default_if_none:''}}" class="form-control" id="" placeholder="Instagram">
                        <br>

                        <label>Fecha de Nacimiento</label>
                        
                        <div class="form-inline" id="birth-date">
                            {{form.birthdate.errors}}
                            {{form.birthdate}}
                        </div>
                </div>
            </div>
            <hr>
            <div class="col-xs-12" data-wow-delay=".5s">
        <center>
        <strong class="loader-porcent"></strong>
        <div style="display: none;" class="loader"></div></center>
        </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <button class="btn btn-danger"><i class="fa fa-fw fa-check" type="submit" aria-hidden="true"></i> Actualizar Perfil</button>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>

</div>
{%endblock%}

{% block scripts %}
<div id="target-script">

<script type="text/javascript" src="/static/js/app/custom-file-input.js"></script>

<script type="text/javascript">
    function upload_img(input) {

        if (input.files && input.files[0]) {

            var reader = new FileReader();
            
            reader.onload = function (e) {
                var img = new Image();
                img.src = e.target.result;
                img.onload = function () {
                    
                    if (this.width < 350 || this.height<350){
                        $("p.errorlist").append("La imagen debe tener un minimo de 350px de ancho y alto")
                    }else{
                        $("p.errorlist").text("");
                    }

                    var id = $(input).attr("id");
                    $('img[data-id="'+id+'"]').attr('src', this.src );
                }
                
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

</div>
{% endblock %}