{% extends 'base.html' %}

{% block title %}
{{request.GET.search}} - Hits Artistas
{% endblock %}

{% block keywords %} 
{{request.GET.search|join:", "}}
{% endblock %}

{% block styles %}
<div id="target-style"> 
    <link href="/static/css/searchmore.css" rel="stylesheet">
</div>
{% endblock %}    

{% block body %}

<div id="target-body">
	<div class="container">
    <div class="row">
		<div class="well">
		<br />
        <h1 class="text-center">Artistas</h1>
        <ul class="list-group">
        {% for artista in artistas %}
            <li class="list-group-item">
                <div class="media col-md-3">
                    <figure class="pull-left">
                        <img class="media-object img-rounded img-responsive "  src="{{artista.photo}}" alt="placehold.it/350x250" >
                    </figure>
                </div>
                <div class="col-md-6">
                    <h4 class="list-group-item-heading">{{artista.name|title}} </h4>
                    <p class="list-group-item-text"> Descripcion del Artista
                    </p>
                </div>
                <div class="col-md-3 text-center">
                    <h2 > <span class="{{artista.id}} seguidores"> {{artista.followers.count }} </span> <small> Seguidores </small></h2>
                    {% if user_log in artista.followers.all %}
                        <button type="button" onclick="like({{artista.id}});" class="btn btn-danger btn-lg btn-block"> Dejar de Seguir </button>
                    {% else %}
                        <button type="button" onclick="like({{artista.id}});" class="btn btn-danger btn-lg btn-block"> Seguir </button>
                    {% endif %}

                    {% if artista.artist %}
                        <a href="{% url 'usuarios:profile' artista.artist.username %}" class="btn btn-danger btn-lg btn-block">Ver Perfil</a>
                    {% else %}
                        <a type="button" href="{% url 'principal:song' %}?search={{artista.name|urlencode}}" class="btn btn-danger btn-lg btn-block">Ver Canciones</a>
                    {% endif %}
                   
                </div>
            </li>
        {% empty %}
        <h3 class="text-center">No hay artistas relacionados con tu busqueda</h3>

        
        {% endfor %}
        </ul>
        <div class="text-center">
            {% if artistas.has_other_pages %}
                <ul class="pagination text-center">
                    {% if seguidos.has_previous %}
                        <li><a class="link-pag" href="?search={{request.GET.search}}&populares={{request.GET.populares}}&page={{ artistas.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in artistas.paginator.page_range %}
                        {% if artistas.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li><a class="link-pag" href="?search={{request.GET.search}}&populares={{request.GET.populares}}&page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if artistas.has_next %}
                        <li><a class="link-pag"  href="?search={{request.GET.search}}&populares={{request.GET.populares}}&page={{ artistas.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>

    </div>
	</div>
</div>
<center>
<script type="text/javascript">
var ad_idzone = "2707984",
     ad_width = "300",
     ad_height = "50";
</script>
 <div id="ad1"> </div>
</center>
</div>
{% endblock %}

{% block scripts %}

<div id="target-script">
<script type="text/javascript">
    $(function() {
    // Build url params and make the ad call
        var script = '<script type="text/javascript" src="https://ads.exdynsrv.com/ads.js"><\/script>'+
'<noscript><a href="https://main.exdynsrv.com/img-click.php?idzone=2707984" target="_blank"><img src="https://syndication.exdynsrv.com/ads-iframe-display.php?idzone=2707984&output=img&type=300x50" width="300" height="50"></a><\/noscript>';

        
        postscribe('#ad1', script);
    });

    function like(id){

        $.ajax({
            type: 'POST',
            url: "{% url 'player:follow_artist' %}",
            data: {'id_artist' : id},
            dataType: 'json',
            success: function (data) {
                if (data.r){
                    var seg = parseInt($("."+id+".seguidores").text());
                    if (data.add)
                        $("."+id+".seguidores").text(seg+1);
                    else
                        $("."+id+".seguidores").text(seg-1);
                }
            }
          });
    }
</script>

</div>
{% endblock %}