
{% extends 'base.html' %}

{% block title %}
{{search|default_if_none:'Ultimas noticias'}} - Hits Noticias
{% endblock %}

{% block keywords %} 
{{request.GET.search|join:", "}}
{% endblock %}

{% block styles %}
<div id="target-style"> 
    <link href="/static/css/searchmore.css" rel="stylesheet">
</div>
{% endblock %}


{% block body %}

<div id="target-body">
	<div class="container">
        
    <div class="row">
		<div class="well">
		<br />
        <h1 class="text-center">Noticias</h1>
        <br />
            <div style="padding-left: 0; padding-right: 0;" class="col-md-6 col-md-offset-3 col-xs-12 col-sm-12">
                <form method="get" id="search-form" action="{% url 'principal:notice' %}">
                    <div class="input-group">
                        <input type="text" name="search" class="form-control " autocomplete="off" placeholder="Busca una Noticia">
                        <span class="input-group-btn" style="z-index: 1;" >
                            <button class="btn btn-danger" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </form>
            </div>
        <br />
        <div class="ul" >
            {% for noticia in noticias %}
                <div class="li">
                    <div class="media col-sm-3 col-xs-12 ">
                        <center>
                        <figure class="">
                            <img class="media-object img-rounded img-responsive "  src="{{noticia.photo}}" alt="placehold.it/350x250" >
                        </figure>
                        </center>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <h4 class="list-group-item-heading">{{noticia.title|title}}</h4>
                        <p style="text-align: left; float: left; ;"><a href="{% url 'principal:notice' %}?search={{noticia.category.name|urlencode}}">{{noticia.category.name}}</a></p>
                        <p style="text-align: right; "><span class="date"><i class="fa fa-clock-o"></i>{{noticia.time_stamp.day}} {{ noticia.time_stamp|date:"F" }} , {{noticia.time_stamp.year}}</span></p>
                        <p class="list-group-item-text">
                            {{noticia.content|safe|striptags|truncatewords:40}}
                        </p>
                    </div>
                    <div class="col-sm-3 col-xs-12 text-center">
                        <h2> <small> leído</small> {{noticia.views}} <small>veces</small></h2>
                        <a type="button" href="{% url 'noticias:detail_noticia' noticia.slug %}" id="noticia-ver-mas" class="btn btn-danger btn-lg btn-block" target="_blank" >Ver </a>
                       
                    </div>
                </div>
            {% empty %}
            <h3 class="text-center">No hay noticias relacionadas con tu busqueda</h3>
            {% endfor %}
        </div>
            <div class="text-center">
                {% if noticias.has_other_pages %}
                    <ul class="pagination text-center">
                        {% if users.has_previous %}
                            <li><a class="link-pag" href="?search={{request.GET.search}}&page={{ noticias.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in noticias.paginator.page_range %}
                            {% if noticias.number == i %}
                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li><a class="link-pag" href="?search={{request.GET.search}}&page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if noticias.has_next %}
                            <li><a class="link-pag"  href="?search={{request.GET.search}}&?page={{ noticias.next_page_number }}">&raquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
	</div>
</div>

<center>
 <script type="text/javascript">
    var ad_idzone = "2707984",
    ad_width = "300",
    ad_height = "50";
</script>
<script type="text/javascript" src="https://ads.exdynsrv.com/ads.js"></script>
<noscript><a href="https://main.exdynsrv.com/img-click.php?idzone=2707984" target="_blank"><img src="https://syndication.exdynsrv.com/ads-iframe-display.php?idzone=2707984&output=img&type=300x50" width="300" height="50"></a></noscript>
</center>
</div>

{% endblock %}

