{% extends 'base.html' %}


{% block title %}
{{request.GET.search}} - Hits Albums
{% endblock %}

{% block keywords %} 
{{request.GET.search|join:", "}}
{% endblock %}

{% block styles %}
<div id="target-style"> 
    <link href="/static/css/searchmore.css" rel="stylesheet">
</div>
{% endblock %}

{% block body %}
<div id="target-body">
	<div class="container">
    <div class="row">
		<div class="well">
		<br />
        <h1 class="text-center">Listas de Reproducción</h1>
        <ul class="list-group">
            {% for playlist in playlists %}
                <li class="list-group-item">
                    <div class="media col-md-3">
                        <figure class="pull-left">
                            <img class="media-object img-rounded img-responsive "  src="/{{playlist.songs.first.photo|default:'static/images/logos/logo2.png'}}" alt="placehold.it/350x250" >
                        </figure>
                    </div>
                
                    <div class="col-md-6">
                        <h4 class="list-group-item-heading">{{playlist.name|title}}</h4>
                        <p class="list-group-item-text"> {{ playlist.songs.all.count }} canciones</p>
                    </div>
                    <div class="col-md-3 text-center">
                        <h2> {{playlist.num_views}}  <small> Reproducciones </small></h2>
                        <a href="{% url 'player:detail_playlist' playlist.id %}" class="btn btn-danger btn-lg btn-block"> Ver </a>
                        <button data-name="{{playlist.name}}" data-id="{{playlist.id}}" data-url="playlist" type="button" class="btn btn-danger btn-lg btn-block to-play-list">Reproducir</button>
                       
                       
                    </div>
                </li>
            {% empty %}
            <h3 class="text-center"> no tiene playlists</h3>
            {% endfor %}
        </ul>
            <div class="text-center">
                {% if playlists.has_other_pages %}
                    <ul class="pagination text-center">
                        {% if playlists.has_previous %}
                            <li><a class="link-pag" href="?search={{request.GET.search}}&top={{request.GET.top}}&page={{ playlists.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in playlists.paginator.page_range %}
                            {% if playlists.number == i %}
                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li><a class="link-pag" href="?search={{request.GET.search}}&top={{request.GET.top}}&page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if playlists.has_next %}
                            <li><a class="link-pag"  href="?search={{request.GET.search}}&top={{request.GET.top}}&?page={{ playlists.next_page_number }}">&raquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
	</div>
</div>
<center>
<script type="text/javascript">
var ad_idzone = "2707984",
     ad_width = "300",
     ad_height = "50";
</script>
<div id="ad1"></div>
</center>
</div>
{% endblock %}



{% block scripts %}
<div id="target-script">

 <script >
    $(function() {

        var script = '<script type="text/javascript" src="https://ads.exdynsrv.com/ads.js"><\/script>'+
'<noscript><a href="https://main.exdynsrv.com/img-click.php?idzone=2707984" target="_blank"><img src="https://syndication.exdynsrv.com/ads-iframe-display.php?idzone=2707984&output=img&type=300x50" width="300" height="50"></a><\/noscript>';
        
        postscribe('#ad1', script);
    });
    </script>
</div>

{% endblock %}