{% extends 'base.html' %}

{% block title %}
{{request.GET.search}} - Hits
{% endblock %}

{% block keywords %} 
{{request.GET.search|join:", "}}
{% endblock %}

{% block body %}

<div id="target-body">
 <section id= "tophits" class="call-to-action">
           <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="section-title text-center">
                        <h3>Canciones</h3>
                        <p></p>
                        <a class="btn btn-danger" href="{% url 'principal:song' %}?search={{request.GET.search}}">Ver todos las canciones</a>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <div id="team-section">
                    
                        <div class="our-team">
                            {% for cancion in canciones %}
                            <div class="team-member">
                                <img src="{{cancion.photo}}" class="img-responsive" alt="">
                                <div class="team-details">
                                    <h4>{{cancion.name}}</h4>
                                    <p>{{ cancion.artists.all|join:"  X " }}</p>
                                    {% if cancion.album %}
                                    <p class="list-group-item-text">Album: {{ cancion.album.name }}</p>
                                    {% endif %}
                                    <ul>
                                        <li><a href="{% url 'player:detail_cancion' cancion.slug %}" target="_blank" data-toggle="tooltip" title="Descargar"><i class="fa fa-arrow-circle-o-down"></i></a></li>
                                        <li><a href=""  data-ajax="true" data-name="{{cancion.name}}" data-id="{{cancion.id}}" data-photo="{{cancion.photo}}" data-toggle="tooltip" title="Reproducir" class="only-play"><i class="fa fa-play "></i></a></li>
                                  
                                    </ul>
                                </div>
                            </div>
                            {% empty %}
                                <div class="section-title text-center">
                                    <h3>No hay canciones relacionadas con tu busqueda</h3>
                                </div>
                            {% endfor %}
                        </div>


                    </div>
                </div>
            </div>
                
        </div>
    </section>

<center>
 <div id="ad2"> </div>
</center>

      <section id="Artistas" class="about-us-section-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="section-title text-center">
                        <h3>Artistas</h3>
                        <p></p>
                        <a class="btn btn-danger" href="{% url 'principal:artist' %}?search={{request.GET.search}}">Ver todos los Artistas</a>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <div id="team-section">
                    
                        
                
                

                        <div class="our-team">
                            {% for artista in artistas %}
                            <div class="team-member">
                                <img src="{{artista.photo}}" class=" img-mini-slider" alt="">
                                <div class="team-details">
                                    <h4>{{artista.name}}</h4>
                                    <ul>
                                       {% if artista.artist %}
                                           <li><a data-toggle="tooltip" title="Ver Perfil" href="{% url 'usuarios:profile' artista.artist.username %}"><i class="fa fa-user"></i></a></li>
                                       {% endif %}
                                            <li><a data-toggle="tooltip" title="Ver canciones" href="{% url 'principal:song' %}?search={{artista.name|urlencode}}"><i class="fa fa-music"></i></a></li>
                                  
                                    </ul>
                                </div>
                            </div>
                            {% empty %}
                            <div class="section-title text-center">
                                <h3>No hay artistas relacionados con tu busqueda</h3>
                                <p></p>
                            </div>
                            {% endfor %}

                        </div>

                    
                    </div>
                </div>
            </div>
                
        </div>
    </section>


    <section id="Artistas" class="about-us-section-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="section-title text-center">
                        <h3>Albumes</h3>
                        <p></p>
                        <a class="btn btn-danger" href="{% url 'principal:album' %}?search={{request.GET.search}}">Ver todos los Albums</a>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <div id="team-section">
                    
                        
                
                

                        <div class="our-team">
                            {% for album in albums %}
                            <div class="team-member">
                                <img src="/{{album.photo}}" class=" img-mini-slider" alt="">
                                <div class="team-details">
                                    <h4>{{album.name}}</h4>
                                    <p>{{album.artist.name}}</p>
                                    <ul>
                                       <li>
                                        <a href="{% url 'player:detail_album' album.id %}" data-toggle="tooltip" title="Ver">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        </li>
                                  
                                    </ul>
                                </div>
                            </div>
                            {% empty %}
                            <div class="section-title text-center">
                                <h3>No hay albums relacionados con tu busqueda</h3>
                                <p></p>
                            </div>
                            {% endfor %}

                        </div>

                    
                    </div>
                </div>
            </div>
                
        </div>
    </section>


    <section id="Artistas" class="about-us-section-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="section-title text-center">
                        <h3>Listas de Reproducción</h3>
                        <p></p>
                        <a class="btn btn-danger" href="{% url 'principal:playlists' %}?search={{request.GET.search}}">Ver todos las listas</a>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <div id="team-section">
                    
                        
                
                

                        <div class="our-team">
                            {% for playlist in playlists %}
                            <div class="team-member">
                                <img src="/{{playlist.songs.first.photo|default:'static/images/logos/logo2.png'}}" class=" img-mini-slider" alt="">
                                <div class="team-details">
                                    <h4>{{playlist.name}}</h4>
                                    <p>{{playlist.artist.name}}</p>
                                    <ul>
                                       <li>
                                        <a href="{% url 'player:detail_playlist' playlist.id %}" data-toggle="tooltip" title="Ver">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        </li>
                                  
                                    </ul>
                                </div>
                            </div>
                            {% empty %}
                            <div class="section-title text-center">
                                <h3>No hay playlists relacionados con tu busqueda</h3>
                                <p></p>
                            </div>
                            {% endfor %}

                        </div>

                    
                    </div>
                </div>
            </div>
                
        </div>
    </section>


<center>
<script type="text/javascript">
var ad_idzone = "2707984",
     ad_width = "300",
     ad_height = "50";
</script>
 <div id="ad1"> </div>
</center>
     <section id="Noticias" class="latest-news-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h3>Noticias</h3>
                        <p></p>
                        <a class="btn btn-danger" href="{% url 'principal:notice' %}?search={{request.GET.search}}">Ver todas las noticias</a>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="latest-news">
                    {% for noticia in noticias %}
                    <div class="col-md-12">
                        <div class="latest-post">
                            <img src="{{noticia.photo}}" class="img-responsive" alt="">
                            <h4><a href="#">{{ noticia.title }}</a></h4>
                            <div class="post-details">
                                <span class="date"><strong>{{noticia.time_stamp.day}}</strong> <br>{{ noticia.time_stamp|date:"F" }} , {{noticia.time_stamp.year}}</span>
                                
                            </div>
                            <p>{{ noticia.content|truncatechars:100|safe }}..</p>
                            <a href="{% url 'noticias:detail_noticia' noticia.slug %}" class="btn btn-primary">Leer Mas</a>
                        </div>
                    </div>
                    {% empty %}
                    <div class="col-md-12">
                        <div class="section-title text-center">
                            <h3>No hay noticias relacionadas con tu busqueda</h3>
                            <p></p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}



{% block scripts %}
<div id="target-script">
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/jquery.fitvids.js"></script>
    <script src="/static/js/styleswitcher.js"></script>
    
    <!-- Custom Theme JavaScript --> 
    <script src="/static/js/script.js"></script>

<script >
    $(function() {
    // Build url params and make the ad call
        var script = var script = '<script type="text/javascript" src="https://ads.exdynsrv.com/ads.js"><\/script>'+
'<noscript><a href="https://main.exdynsrv.com/img-click.php?idzone=2707984" target="_blank"><img src="https://syndication.exdynsrv.com/ads-iframe-display.php?idzone=2707984&output=img&type=300x50" width="300" height="50"></a><\/noscript>';

        
        
        postscribe('#ad1', script);
    });
    </script>

</div>

{% endblock %}