{% extends 'base.html' %}


{% block title %}
{{request.GET.search}} - Hits Albums
{% endblock %}

{% block keywords %} 
{{request.GET.search|join:", "}}
{% endblock %}

{% block styles %}
<div id="target-style"> 
    <link href="/static/css/searchmore.css" rel="stylesheet">
</div>
{% endblock %}

{% block body %}
<div id="target-body">
	<div class="container">
    <div class="row">
		<div class="well">
		<br />
        <h1 class="text-center">Albums</h1>
        <ul class="list-group">
            {% for album in albums %}
                <li class="list-group-item">
                    <div class="media col-md-3">
                        <figure class="pull-left">
                            <img class="media-object img-rounded img-responsive "  src="/{{album.photo}}" alt="placehold.it/350x250" >
                        </figure>
                    </div>
                
                    <div class="col-md-6">
                        <h4 class="list-group-item-heading">{{album.name|title}}</h4>
                        <p class="list-group-item-text"> {{ album.artist.name }}</p>
                        <p class="list-group-item-text"> {{ album.song_set.all.count }} canciones</p>
                        <p class="list-group-item-text">Fecha de Lanzamientio: {{ album.release_date }}</p>
                    </div>
                    <div class="col-md-3 text-center">
                        <h2> {{album.num_views}}  <small> Reproducciones </small></h2>
                        <a href="{% url 'player:detail_album' album.id %}" class="btn btn-danger btn-lg btn-block"> Ver </a>
                        <button data-name="{{album.name}}" data-id="{{album.id}}" data-url="album" type="button" class="btn btn-danger btn-lg btn-block to-play-list">Reproducir</button>
                       
                       
                    </div>
                </li>
            {% empty %}
            <h3 class="text-center"> no tiene albums</h3>
            {% endfor %}
        </ul>
            <div class="text-center">
                {% if albums.has_other_pages %}
                    <ul class="pagination text-center">
                        {% if albums.has_previous %}
                            <li><a class="link-pag" href="?search={{request.GET.search}}&top={{request.GET.top}}&page={{ albums.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in albums.paginator.page_range %}
                            {% if albums.number == i %}
                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li><a class="link-pag" href="?search={{request.GET.search}}&top={{request.GET.top}}&page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if albums.has_next %}
                            <li><a class="link-pag"  href="?search={{request.GET.search}}&top={{request.GET.top}}&?page={{ albums.next_page_number }}">&raquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
	</div>
</div>
<center>
<script type="text/javascript">
var ad_idzone = "2707984",
     ad_width = "300",
     ad_height = "50";
</script>
 <div id="ad1"> </div>
</center>
</div>
{% endblock %}

{% block scripts %}
<div id="target-script">

 <script >
    $(function() {
    // Build url params and make the ad call
        var script = '<script type="text/javascript" src="https://ads.exdynsrv.com/ads.js"><\/script>'+
'<noscript><a href="https://main.exdynsrv.com/img-click.php?idzone=2707984" target="_blank"><img src="https://syndication.exdynsrv.com/ads-iframe-display.php?idzone=2707984&output=img&type=300x50" width="300" height="50"></a><\/noscript>';

        
        postscribe('#ad1', script);
    });
    </script>
</div>

{% endblock %}



