{% extends 'base.html' %}

{% block title %}
Hits Music
{% endblock %}


{% block styles %}
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300,700,900,700italic,400italic,300italic,100' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,400italic,500,700,700italic,900' rel='stylesheet' type='text/css'>

    <!-- ~~~=| Theme files |==-->
    <link rel="stylesheet" href="/static/css/nuevo/style.css">
    <link rel="stylesheet" href="/static/css/nuevo/responsive.css">
{% endblock %}


{% block body %}

<!-- ~~~=| Header START |=~~~ -->
<header class="header_area">
  
  <!-- ~~~=| Logo Area START |=~~~ -->
  <div class="header_logo_area">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="logo"> <a href="index.html">
          <img src="/static/images/logos/logo_inicio.png" alt="Site Logo"/></a> </div>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12">
          <div class="header_add"> <a href="#"><img src="images/header_banner.png" alt="Site add"/></a> </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ~~~=| Logo Area END |=~~~ --> 
  <div class="container buscadormusica">
  <div class="row">
    
           <div id="custom-search-input">

                      <center>
                            <div class="input-group col-md-10 col-xs-10">
                                <input type="text" class="input-buscador search-query form-control" placeholder="Busca una canción para escuchar o descargar..." />
                                
                            </div>
                      </center>
                        </div>
  </div>
</div>
  <!-- ~~~=| Main Navigation START |=~~~ -->
  <div class="mainnav">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <nav class="main_nav_box">
          <center>
            <ul id="nav">
              <li class="nav_news"><a href="/noticias?search=Noticia">Noticias</a></li>

              <li class="nav_lifeguide"><a href="/noticias?search=Top">Tops</a></li>
              
              <li class="nav_gadgets"><a href="/noticias?search=Curiosidades">Curiosidades </a></li>
              
              <li class="nav_video"><a href="/noticias?search=Estreno">Estrenos</a></li>
              
            </ul>
            </center>
          </nav>
          
          <!-- ~~~=| Mobile Navigation END |=~~~ -->
          <div class="only-for-mobile">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <ul class="ofm">
                <li class="m_nav"><i class="fa fa-bars"></i> Menu</li>
              </ul>
              
              <!-- MOBILE MENU -->
              <div class="mobi-menu">
                <div id='cssmenu'>
                  <ul>
                    
                    <li class=''> <a href='#'><span>Noticias</span></a>
                    
                    </li>
                    <li> <a href='#'><span>Tops</span></a> </li>
                    <li class=''> <a href='#'><span>Estrenos</span></a>
                      
                    </li>
                    <li> <a href='#'><span>Curiosidades</span></a> </li>
                    <li class=''> <a href='#'><span>Descargar Musica</span></a>
                      
                    </li>
                    <
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- ~~~=| Mobile Navigation START |=~~~ --> 
          
        </div>
      </div>
    </div>
  </div>
  <!-- ~~~=| Main Navigation END |=~~~ --> 
  
</header>
<!-- ~~~=| Header END |=~~~ --> 

<!-- ~~~=| Banner START |=~~~ -->
<section class="hp_banner_area section_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="hp_banner_box">

        <!-- Tres noticias grandes izquierda -->

          <div class="hp_banner_left">
            {% for ultima_noticia in noticias_populares %}
            <div class="bl_single_news">
            <div class="container-img">
              <img  src="/{{ ultima_noticia.photo }}"  class="" alt="Responsive image" />
              <div class="br_single_text"> 
                <a href="{% url 'noticias:detail_noticia' ultima_noticia.slug %}">
                <h4>{{ ultima_noticia.title|title }}</h4>
                </a> 
              </div>
            </div>
              
              <div class="preview-text" >
              <span class="pull-right"><i class="fa fa-clock-o"></i> {{ultima_noticia.time_stamp|timesince}}</span> <br>
              <p>{{ultima_noticia.content|safe|striptags|truncatewords:30}}</p>
              </div>
            </div>
            {% endfor %}
          </div>

           <!-- Fin Tres noticias grandes izquierda -->

           <!-- Inicio 2 canciones derecha -->

          <div class="hp_banner_right">
            {% for top in top_hits %} 
            <div class="br_single_news"> 
            <div class="container-img"> 
              <img src="{{top.thumb}}" alt="" />
            </div>
              <div class="br_single_text"> <span class="naranja_hp_span">Canción</span> <a href="/player/?q={{top.id}}&name={{top.name}}">
                <h4>{{top.name}} - {{top.artist}}</h4>
                </a> </div>
              <div class="br_cam"> <a href="/player/?q={{top.id}}&name={{top.name}}" class="fa fa-arrow-down"></a> </div>
            </div>
            {% endfor %}
          </div>
           <!-- Fin 2 canciones derecha -->


        </div>
      </div>
    </div>
  </div>
</section>
<!-- ~~~=| Banner Fin |=~~~ --> 

<!-- ~~~=| Inicio de todo el cuerpo  |=~~~ -->
<section class="main_news_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-9 col-xs-12"> 
        <!--seccion de tops-->
        <div class="fashion_area">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="header_fasion">
                <div class=" main_nav_box" >
                  <ul>
                    <li class="nav_news" style="border-top: none;"><a href="/noticias?search=Noticia">Noticias</a></li>
                  </ul>
                </div>
                <div class="fasion_right">
                  
                </div>
              </div>
              <div class="fashion_area_box">
                <div class="row">
                  <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="fs_news_left">
                      <div class="single_fs_news_left_text">
                        {% with noticias_populares|first as noticia %}
                        <div class="fs_news_left_img">
                          <div class="container-img">
                            <img src="/{{noticia.photo}}" alt="" />
                          </div>
                          <div class="br_cam br_vid_big_s"> <a class="" href="{% url 'noticias:detail_noticia' noticia.slug %}"></a> </div>
                        </div>
                        <h2><a href="{% url 'noticias:detail_noticia' noticia.slug %}" >{{noticia.title|title}}</a></h2>
                        <p> <i class="fa fa-clock-o"></i> {{noticia.time_stamp|timesince}} </p>
                        <p>{{noticia.content|safe|striptags|truncatewords:20}}</p>
                        {% endwith %}
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="all_news_right">
                        {% for ultimas_noticia in noticias_populares %}
                        {% if forloop.counter > 1 %}
                        <div class="fs_news_right">
                            <div class="single_fs_news_img">
                            <div class="container-img">
                              <img src="/{{ultimas_noticia.photo}}" alt="Single News" /> 
                            </div>  
                            </div>
                            <div class="single_fs_news_right_text">
                              <a href="{% url 'noticias:detail_noticia' ultimas_noticia.slug %}">{{ ultimas_noticia.title|title }}</a>
                              <p> <a href="/noticias?search=Noticia">Noticia </a>| <i class="fa fa-clock-o"></i> {{ ultimas_noticia.time_stamp|timesince }} </p>
                              <p>{{ultimas_noticia.content|safe|striptags|truncatewords:20}}</p>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                  </div>
                </div>
              </div>

              <!--Fin seccion de Noticias-->


<!-- ~~~=| Inicio de todo el cuerpo  |=~~~ -->
<section class="main_news_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-9 col-xs-12"> 
        <!--seccion de tops-->
        <div class="fashion_area">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="header_fasion">
                <div class=" main_nav_box" >
                  <ul>
                    <li class="nav_news" style="border-top: none;"><a href="/noticias?search=Estreno">Estrenos</a></li>
                  </ul>
                </div>
                <div class="fasion_right">
                  
                </div>
              </div>
              <div class="fashion_area_box">
                <div class="row">
                  <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="fs_news_left">
                      <div class="single_fs_news_left_text">
                        {% with noticias_populares|first as noticia %}
                        <div class="fs_news_left_img">
                          <div class="container-img">
                            <img src="/{{noticia.photo}}" alt="" />
                          </div>
                          <div class="br_cam br_vid_big_s"> <a class="" href="{% url 'noticias:detail_noticia' noticia.slug %}"></a> </div>
                        </div>
                        <h2><a href="{% url 'noticias:detail_noticia' noticia.slug %}" >{{noticia.title|title}}</a></h2>
                        <p> <i class="fa fa-clock-o"></i> {{noticia.time_stamp|timesince}} </p>
                        <p>{{noticia.content|safe|striptags|truncatewords:20}}</p>
                        {% endwith %}
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="all_news_right">
                        {% for ultimas_noticia in noticias_populares %}
                        {% if forloop.counter > 1 %}
                        <div class="fs_news_right">
                            <div class="single_fs_news_img">
                            <div class="container-img">
                              <img src="/{{ultimas_noticia.photo}}" alt="Single News" /> 
                            </div>  
                            </div>
                            <div class="single_fs_news_right_text">
                              <a href="{% url 'noticias:detail_noticia' ultimas_noticia.slug %}">{{ ultimas_noticia.title|title }}</a>
                              <p> <a href="/noticias?search=Noticia">Noticia </a>| <i class="fa fa-clock-o"></i> {{ ultimas_noticia.time_stamp|timesince }} </p>
                              <p>{{ultimas_noticia.content|safe|striptags|truncatewords:20}}</p>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                  </div>
                </div>
              </div>

              <!--Fin seccion de Noticias-->



              <!--seccion de Estrenos-->
              <div class="header_fasion gadgets_heading">
                <div class=" main_nav_box">
                  <ul>
                    <li class="nav_video" style="border-top: none;"><a href="">Estrenos</a></li>
                  </ul>
                </div>
                
              </div>
              <div class="gadgets_area_box">
                <div class="row">
                  {% for mas_Nuevo in mas_nuevo %}
                  {% if forloop.counter == 1 %}
                  <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="fs_news_left fs_gadgets_news_left">
                      <div class="fs_news_left_img_g container_img"> 
                        <div class="container-img">
                        <img src="{{mas_Nuevo.thumb}}" alt="" />
                        </div>
                        <div class="br_cam br_vid_big"> <a class="" href="/player/?q={{mas_Nuevo.id}}&name={{mas_Nuevo.name}}"></a> </div>
                      </div>
                      <div class="single_fs_news_left_text">
                        <h2><a href="/player/?q={{mas_Nuevo.id}}&name={{mas_Nuevo.name}}" style="color: white;">{{mas_Nuevo.title}} - {{mas_Nuevo.artist}}</a></h2>
                      </div>
                      {% endif %}
                      {% if forloop.counter == 2 %}
                      <div class="all_news_right">
                      {% endif %}
                        {% if forloop.counter > 1 and forloop.counter < 5 %}
                        <div class="fs_news_right">
                          <div class="single_fs_news_img container_img"> 
                            <div class="container-img">
                          <img src="{{mas_Nuevo.thumb}}" alt="Single News" /> 
                            </div>
                          </div>
                          <div class="single_fs_news_right_text">
                            <a href="/player/?q={{mas_Nuevo.id}}&name={{mas_Nuevo.name}}">{{mas_Nuevo.title}} - {{mas_Nuevo.artist}}</a>
                            <p> <a class="gad_color" href="/player/?q={{mas_Nuevo.id}}&name={{mas_Nuevo.name}}">Descargar </a>|  </p>
                          </div>
                        </div>
                        {% endif %}
                      {% if forloop.counter == 4 %}  
                      </div>
                      {% endif %}
                  {% if forloop.counter == 4 %}  
                    </div>
                  </div>
                  {% endif %}
                  {% if forloop.counter == 5 %}  
                  <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="fs_news_left fs_gadgets_news_left">
                      <div class="fs_news_left_img_g container_img"> 
                      <div class="container-img">
                        <img src="{{mas_Nuevo.thumb}}" alt="" />
                      </div> </div>
                      <div class="single_fs_news_left_text">
                        <h2><a href="/player/?q={{mas_Nuevo.id}}&name={{mas_Nuevo.name}}" style="color: white;">{{mas_Nuevo.title}} - {{mas_Nuevo.artist}}</a></h2>
                      </div>
                      {% endif %}
                      {% if forloop.counter == 6 %}  
                      <div class="all_news_right">
                      {% endif %}
                        {% if forloop.counter > 5 %} 
                        <div class="fs_news_right">
                          <div class="single_fs_news_img container_img"> 
                          <div class="container-img">
                          <img src="{{mas_Nuevo.thumb}}" alt="Single News" />
                          </div> </div>
                          <div class="single_fs_news_right_text">
                            <a href="/player/?q={{mas_Nuevo.id}}&name={{mas_Nuevo.name}}">{{mas_Nuevo.title}} - {{mas_Nuevo.artist}}</a>
                            <p> <a class="gad_color" href="/player/?q={{mas_Nuevo.id}}&name={{mas_Nuevo.name}}">Descargar </a>|  </p>
                          </div>
                        </div>
                      {% endif %}

                    {% if forloop.counter == 8 %} 
                      </div> 
                    </div>
                  </div>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>

              <!--fin seccion de estrenos-->

              <!--seccion de tops-->
              <div class="header_fasion gadgets_heading lifestyle_post_area">
                <div class=" main_nav_box">
                  <ul>
                    <li class="nav_lifeguide" style="border-top: none;"><a href="/noticias?search=Top">Tops</a></li>
                  </ul>
                </div>
                
              </div>
              <div class="fashion_area_box">
                <div class="row">
                  <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="fs_news_left">
                      <div class="single_fs_news_left_text">
                        {% with noticias_populares|first as noticia %}
                        <div class="fs_news_left_img">
                        <div class="container-img"> 
                          <img src="/{{noticia.photo}}" alt="life" />
                        </div>  
                          <div class="br_cam"> <a class="" href="{% url 'noticias:detail_noticia' noticia.slug %}"></a> </div>
                        </div>
                        <h2><a href="{% url 'noticias:detail_noticia' noticia.slug %}">{{noticia.title|title}}</a></h2>
                        <p> <i class="fa fa-clock-o"></i> {{noticia.time_stamp|timesince}} </p>
                        <p>{{noticia.content|safe|striptags|truncatewords:20}}</p>
                        {% endwith %}
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="all_news_right">
                        {% for ultimas_noticia in noticias_populares %}
                        {% if forloop.counter > 1 %}
                        <div class="fs_news_right">
                            <div class="single_fs_news_img container_img"> 
                            <div class="container-img"> 
                              <img src="/{{ultimas_noticia.photo}}" alt="Single News" /> 
                            </div>
                            </div>
                            <div class="single_fs_news_right_text">
                                <a href="{% url 'noticias:detail_noticia' ultimas_noticia.slug %}" >{{ultimas_noticia.title|title}}</a>
                                <p> <a href="/noticias?search=Top">Top </a>| <i class="fa fa-clock-o"></i> {{ultimas_noticia.time_stamp|timesince}} </p>
                                <p>{{ultimas_noticia.content|safe|striptags|truncatewords:20}}</p>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                  </div>
                </div>
              </div>

              <!--seccion de Curiosidades-->

              <div class="home_add_box"> <img src="images/ht-add.jpg" alt="add" /> ADD HERE </div>

              <div class="header_fasion">
                <div class="main_nav_box">
                  <ul>
                     <li class="nav_news" style="border-top: none;"><a href="/noticias?search=Curiosidades">Curiosidades</a></li>
                  </ul>
                </div>
              </div>
              <div class="fashion_area_box video_area_box">
                <div class="row">
                  <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="all_news_right">
                      {% for ultimas_noticia in noticias_populares%}
                      {% if forloop.counter > 1 %}
                      <div class="fs_news_right">
                        <div class="single_fs_news_img"> 
                        <div class="container-img"> 
                          <img src="/{{ultimas_noticia.photo}}" alt="Single News" />
                        </div>
                          <div class="br_cam"> <a class="" href="{% url 'noticias:detail_noticia' ultimas_noticia.slug %}"></a> </div>
                        </div>
                        <div class="single_fs_news_right_text">
                          <a href="{% url 'noticias:detail_noticia' ultimas_noticia.slug %}">{{ultimas_noticia.title|title}}</a>
                          <p> <a class="video_f" href="/noticias?search=Curiosidades">Curiosidad </a>| <i class="fa fa-clock-o"></i> {{ultimas_noticia.time_stamp|timesince}} </p>
                          <p>{{ultimas_noticia.content|safe|striptags|truncatewords:20}}</p>
                        </div>
                      </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="fs_news_left fs_news_vid_right">
                      <div class="single_fs_news_left_text">
                        {% with noticias_populares|first as noticia %}
                        <div class="fs_news_left_img"> 
                        <div class="container-img"> 
                          <img src="/{{noticia.photo}}" alt="video" />
                        </div>
                          <div class="br_cam br_vid_big"> <a class="" href="{% url 'noticias:detail_noticia' noticia.slug %}"></a> </div>
                        </div>
                        <h2><a href="{% url 'noticias:detail_noticia' noticia.slug %}">{{noticia.title|title}}</a></h2>
                        <p> <i class="fa fa-clock-o"></i> {{noticia.time_stamp|timesince}} </p>
                        <p>{{noticia.content|safe|striptags|truncatewords:20}}</p>
                        {% endwith %}
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <!-- ~~~=| fin seccion Curiosidades |=~~~ --> 
      </div>

      <!--Inicio de todo lo que esta en el Aside derecho-->

      <div class="col-md-3 col-sm-3 col-xs-12">
        <div class="home_sidebar">
          <div class="purchase_sidebar">
            <div class="purchase_sidebar_img"> 

            <div class="container-img"> 
              <img src="images/sidebar1.jpg" alt="" />
            </div>
            </div>
          </div>
          <div class="follow_us_side">
            <h2>Siguenos</h2>
            <div class="all_single_follow">
              <div class="single_follow_us"> <a href=""> <i class="fa fa-facebook"></i><br>
                
                 </a> </div>
              <div class="single_follow_us "> <a href=""> <i class="fa fa-instagram"></i><br>
                
                 </a> </div>
              <div class="single_follow_us "> <a href=""> <i class="fa fa-youtube"></i><br>
                
                 </a> </div>
              
            </div>
          </div>
          <div class="follow_us_side">
            <h2>Ultimas Publicaciones</h2>
            <div class="all_news_right">
              {% for ultimas_noticia in noticias_populares %}
              <div class="fs_news_right">
                <div class="single_fs_news_img"> 
                <div class="container-img"> 
                  <img alt="Single News" src="/{{ultimas_noticia.photo}}"> 
                </div>
                </div>
                <div class="single_fs_news_right_text">
                  <h4><a href="{% url 'noticias:detail_noticia' ultimas_noticia.slug %}">{{ultimas_noticia.title|title}}</a></h4>
                  <p> <a href="/noticias?search={{ultimas_noticia.category.name}}">{{ultimas_noticia.category.name}} | </a> <i class="fa fa-clock-o"></i> {{ultimas_noticia.time_stamp|timesince}} </p>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>

          
        </div>

        <!--Fin de todo lo que esta en el aside derecho-->
      </div>
    </div>
  </div>
</section>
<!-- ~~~=| Fin de todo el cuerpo |=~~~ --> 
{% endblock %}



{% block scripts %}
<div id="target-script">

<!-- ~~~=| Tema jQuery |=~~~ --> 
<script src="/static/js/app/main.js"></script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
	
$(function () {$('.input-buscador').attr('disabled', true);});


	var OAUTH2_CLIENT_ID = 'AIzaSyCIM4EzNqi1in22f4Z3Ru3iYvLaY8tc3bo';
		var OAUTH2_SCOPES = [
		  'https://www.googleapis.com/auth/youtube'
		];

		function init() {
			gapi.client.setApiKey(OAUTH2_CLIENT_ID);
			gapi.client.load("youtube", "v3", function () {
				
				$('.input-buscador').attr('disabled', false);
			});

		}

		

		$(".input-buscador").autocomplete({
			source: function( request, response ) {
	        	var request = gapi.client.youtube.search.list({
	        		part:"snippet",
	        		type: "video",
	        		videoCategoryId:10,
	        		q: encodeURIComponent($(".input-buscador").val()).replace(/%20/g,"+"),
	        		maxResults:30,
	        		order: "viewCount",
	        	});

	        	request.execute(function (r) {
	        		var results = r.result;
	        		console.log(results.items);
	        		response($.map(results.items, function (item) {
			            return {
			                label: item.snippet.title,
			                value: item.id.videoId,
			                chanel : item.snippet.channelTitle
			            };
			        }));
	        	})
	      	},
	      	create: function () {
                $(this).data('ui-autocomplete')._renderItem = function (ul, item) {
                	var i = item.label.split('-');
                    return $('<li>')
                        .append('<div style="font-size: 16px;">' + i[1] + '</div>'+
                    			'<div style="font-size: 14px;">'+ i[0] +'</div>'+
                    			'<div style="font-size: 11px;">'+ item.chanel +'</div>')
                        .appendTo(ul);
                };
            },
		      minLength: 3,
		      select: function( event, ui ) {
		        console.log( ui.item ?
		          "Selected: " + ui.item.label +" "+ui.item.value :
		          "Nothing selected, input was " + this.value);
		        //loadVideo (ui.item.value);
		        //$("#buscador").toggle();
		        //$(".download").attr('data-id',ui.item.value);
		        //$(".download").attr('data-name',ui.item.label+".mp3");

		        //var i = ui.item.label.split('-');
		        //$(".title").text(i[1]);
		        //$(".title.artist").text(i[0]);

		        //relacionados(ui.item.value);
		        location.href = "/player/?q="+ui.item.value+"&name="+ui.item.label;
		      },
		      open: function() {
		        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
		      },
		      close: function() {
		        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
		      }
		});
	</script>
	<script type="text/javascript" src="https://apis.google.com/js/client.js?onload=init" ></script>

<script>
      

</script>

</div>

{% endblock %}



