
<link rel="stylesheet" href="/static/repro/style.css">


<div id="reproductor">
    <div class="control">
        <div class="rep-body">
            <div class="reproductor">
                
                    <div class="reproduction">
                        <div class="reproducted"></div>
                        <div class="buffered"></div>
                        <div class="circle"></div>
                        <div class="circle-time">
                            <span>00:00</span>
                        </div>
                        <div class="time">
                            <span class="played">00:00</span><span class="duration">00:00</span>
                        </div>
                    </div>
                    <div class="list-img">
                        <input type="checkbox" class="icon-list-checkbox icon-list">
                        <div class="icon-list">
                            <!--<i class="icon-stop"></i>-->
                            <img src="/static/images/control/list.png">
                        </div>

                        <div class="list">
                            <div class="lista">
                                <div class="title-total">
                                    <span class="title">Mi Lista</span>
                                    <br>
                                    <span class="total"> <span class="number"></span></span>
                                </div>

                                {% if request.user.is_authenticated %}
                                <div class="lista-back">
                                    
                                   <!-- 
                                        <span class=""> MUCHO GUSTO - Caserbero </span>
                                        <i class="icon-pause status"></i>
                                        <div id="sound-on" class="music status">
                                            <div id="bar0"></div>
                                            <div id="bar1"></div>
                                            <div id="bar2"></div>
                                            <div id="bar3"></div>
                                        </div>
                                    -->
                                </div>
                                {% endif %}
                            </div>

                        </div>
                        
                        <div class="img-cover">
                            <div></div>
                            {% if request.user.is_authenticated %}
                            <img class="img-back" src="/static/images/logos/logo cuadrado.png">
                            <div style="display:none;" class="load-player"></div>
                            {% else %}
                            <img src="/static/images/logos/logo cuadrado.png">
                            <center class="">
                             <p class="info-p">Inicia Sesión y escucha toda la musica que quieras!</p>
                             <button class="btn btn-success info-btn" data-toggle="dropdown"><a style="color: white;" href="{% url 'usuarios:login' %}">Iniciar Sesión</a></button>
                             </center>
                            {% endif %}
                        </div>
                    </div>
                    <div class="content-titulo">
                        <div class="titulo"> 
                            <span class="nombre"> </span> 
                        </div>
                    </div>
                
            </div>
            
        </div>
        <div class="buttons-time">
            <div class="buttons">
                <span class="btn-ctr"><i class="icon-to-start fa fa-step-backward fa-2x" aria-hidden="true" data-toggle="tooltip" title="Atras" ></i></span>
                <span class=""><i class="icon-play fa fa-play-circle-o fa-4x" aria-hidden="true" data-toggle="tooltip" title="Play" ></i></span>
                <!--<img class="icon-play" src="/static/images/control/play.png">-->
                <span class=""><i class="icon-pause fa fa-pause-circle-o fa-4x" aria-hidden="true" data-toggle="tooltip" title="Pausa" ></i></span>
                <!--<img class="icon-pause" src="/static/images/control/pause.png">-->
                <span class="btn-ctr"><i class="icon-to-end-alt fa fa-step-forward fa-2x" aria-hidden="true" data-toggle="tooltip" title="Adelante" ></i></span>

                <a data-ajax="false" download="download" class="ctr-down">
                    <div class="btn-ctr-down">
                        <i class="icon-to-end-alt fa fa-arrow-down fa-2x" aria-hidden="true" data-toggle="tooltip" title="Descargar" ></i>
                    </div>
                </a>
                <!--<img class="icon-to-end-alt"></i>-->
                <div class="volumen">
                    <div class="icon-vol">
                        <div class="btn-ctr-vol"><i class="icon-volume-up fa fa-volume-up fa-2x" aria-hidden="true" data-toggle="tooltip" title="Volumen" ></i></div>
                        <!--<img class="icon-volume-up" src="/static/images/control/up.png">-->
                        <div class="btn-ctr-vol"><i class="icon-volume-down fa fa-volume-off fa-2x" aria-hidden="true" data-toggle="tooltip" title="Volumen" ></i></div>
                        <!--<img class="icon-volume-down" src="/static/images/control/down.png">-->
                    </div>
                    <div class="volumen-body">
                        <div class="reproduction">
                            <div class="reproducted"></div>
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>



</div>


{% if request.user.is_authenticated %}
<audio src="" data-name="MUCHO GUSTO" ></audio>
{% endif %}


