*{
    border-radius: 0 !important;
}

html,body{

}

.registeration{
    border-top: 5px solid #ff432e;
    -webkit-box-shadow: 0px 5px 21px -2px rgba(0,0,0,0.47);
    -moz-box-shadow: 0px 5px 21px -2px rgba(0,0,0,0.47);
    box-shadow: 0px 5px 21px -2px rgba(0,0,0,0.47);
    margin-top: 70px;

}

.registerInner{
 
}




.form-group{
    width: 80%;
    line-height: 50px; 

}

.signbuttons{
    margin-bottom: 35px;
    background: #ff432e;
    border: none;
}

input{
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: 1px solid #ff432e !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
}

.headerSign{
    color: #2E2E2E;
    margin-bottom: 20px;
    text-align: center;
}

.darktext{
    color: #ff432e;
}

.select-form{
    width: 100%;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: 1px solid #ff432e !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
}











