body { background: #333; font:14px/21px Helvetica, Arial, sans-serif; color: #333; margin: 0; padding: 0; }
a { color: #ccc; text-decoration: none; }
a:hover { color: #fb2b2b; }
h1, h2 { font-size: 26px; line-height: 28px; font-weight: normal; letter-spacing: -1px; color: #fff; }
h3 { font-size: 18px; font-weight: normal; margin: 8px 0; color:white; margin-right: 30px;}
h4 { font-size: 14px; font-weight: normal; margin: 0; color:white}
h5 { font-size: 12px; font-weight: normal; margin: 0;color:white }
ul { margin-left: 20px; }
ol { margin-left: 36px; }
p {color: white;}

/*
	----------------------------
	LAYOUT
	____________________________
*/


#wrapper { width: 100vw;
  height: 100vh; 

  margin-left: 0px;
  margin-top: 30px;
  z-index: 200;

  }
#main { width: 100%; float: left; }
#main > p, #main > div { margin-left: 7px; }

#sidebar { 
 

  width: 30%;
  height: 200px;
  
  position: absolute;
  overflow: auto;
  margin-left:  600px;

  border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 1px solid #453d45;

     
      }


#sidebar ol {  }

#logo{
  z-index: 99;
}
/*
	----------------------------
	PAGE/SECTION SPECIFIC
	____________________________
*/


#video-controls { width: 333px;}
#video-controls a { color: #ddd; text-decoration: underline; }


/*
	----------------------------
	UTILITY CLASSES
	____________________________
*/


.black-15 { background: url(/static/images/black-50-trans.png); color: #fff; padding: 4px 12px; margin: 24px 0; }
.black-35 { background: url(/static/images/black-50-trans.png); color: #fff; padding: 4px 12px; margin: 24px 0; }
.black-50 { background: url(/static/images/black-50-trans.png); color: #fff; padding: 4px 12px; margin: 24px 0;}
.black-65 { background: url(/static/images/black-50-trans.png); color: #fff; padding: 4px 12px; margin: 24px 0; }
.black-85 { background: url(/static/images/black-50-trans.png); color: #fff; padding: 4px 12px; margin: 24px 0; }


.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.imageplay{
	 height: 150px;
    width: 150px;
     display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}


.imageplay:hover, .imageplay:focus, .imageplay:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.imagevolume{
  height: 75px;
    width: 75px;
     display: inline-block;
     vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.imagevolume:hover, .imagevolume:focus, .imagevolume:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.imagelyrics{
  height: 75px;
    width: 75px;
    margin-left: 30px;
     display: inline-block;
     vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.imagelyrics:hover, .imagelyrics:focus, .imagelyrics:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.letra{
overflow: hidden;
  width: 60%; 
  float:right;
}



/*Comentarios*/

.comments{
  z-index: 1100;
  width: 100%;
  
}

.panel{
  background-color: transparent;
  z-index: 1100;
}
.panel-shadow {
  z-index: 1100;
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}
.panel-white {
  z-index: 1100;
  
}
.panel-white  .panel-heading {
  z-index: 1100;
  color: #333;
  background-color: #ff432e;
  border-color: #ddd;
}
.panel-white  .panel-footer {
  z-index: 1100;
  
  border-color: #ddd;
}

.post .post-heading {
  z-index: 1100;
  padding: 20px 15px;
}
.post .post-heading .avatar {
  z-index: 1100;
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
}
.post .post-heading .meta .title {
  z-index: 1100;
  margin-bottom: 0;
}
.post .post-heading .meta .title a {
  z-index: 1100;
  color: black;
}
.post .post-heading .meta .title a:hover {
  color: #aaaaaa;
}
.post .post-heading .meta .time {
  z-index: 1100;
  margin-top: 8px;
  color: #999;
}
.post .post-image .image {
  z-index: 1100;
  width: 100%;
  height: auto;
}
.post .post-description {
  z-index: 1100;
  padding: 15px;
}
.post .post-description p {
  z-index: 1100;
  font-size: 14px;
}
.post .post-description .stats {
  z-index: 1100;
  margin-top: 20px;
}
.post .post-description .stats .stat-item {
  z-index: 1100;
  display: inline-block;
  margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
  z-index: 1100;
  margin-right: 8px;
}
.post .post-footer {
  z-index: 1100;
  border-top: 1px solid #ddd;
  padding: 15px;

}
.post .post-footer .input-group-addon a {
  z-index: 1100;
  color: #454545;
}
.post .post-footer .comments-list {
  z-index: 1100;
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}
.post .post-footer .comments-list .comment {
  z-index: 1100;
  display: block;
  width: 100%;
  margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
  z-index: 1100;
  width: 35px;
  height: 35px;
}
.post .post-footer .comments-list .comment .comment-heading {
  z-index: 1100;
  display: block;
  width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
  z-index: 1100;
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;

}
.post .post-footer .comments-list .comment .comment-heading .time {
  z-index: 1100;
  font-size: 12px;
  color: #aaa;
  margin-top: 0;
  display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
  z-index: 1100;
  margin-left: 50px;
}
.post .post-footer .comments-list .comment > .comments-list {
  z-index: 1100;
  margin-left: 50px;
}

/*social*/
ul.social-network {
  z-index: 1100;
    list-style: none;
    display: inline;
    margin-left:0 !important;
    padding: 0;
}
ul.social-network li {
  z-index: 1100;
    display: inline;
    margin: 0 5px;
}


/* footer social icons */
.social-network a.icoRss:hover {
    background-color: #F56505;
}
.social-network a.icoFacebook:hover {
    background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
    background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
    background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
    background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
    background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
    color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
    color:#44BCDD;
}

.social-circle li a {
  z-index: 1100;
    display:inline-block;
    position:relative;
    margin:0 auto 0 auto;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    text-align:center;
    width: 50px;
    height: 50px;
    font-size:20px;
}
.social-circle li i {
  z-index: 1100;
    margin:0;
    line-height:50px;
    text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.social-circle i {
    z-index: 1100;
    color: #ff432e;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;

}

#recomendados{
  z-index: 999;
}

.btnrepro{
  margin-top: 100px;
  margin-right: 20px;
}

.btn-circle.btn-xl {
  width: 180px ;
  height: 120px ;
  padding: 10px 16px !important;
  font-size: 24px !important;
  line-height: 1.33 !important;
  
  background: transparent;
-webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
    -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
    -o-transition: background .2s ease-in-out, border .2s ease-in-out;
    transition: background .2s ease-in-out, border .2s ease-in-out;
     border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-circle.btn-xl:hover{
   border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388; 
}

.btn-circle.btn-xl-2 {
  width: 130px ;
  height: 130px ;
  padding: 10px 16px !important;
  font-size: 24px !important;
  line-height: 1.33 !important;
  
  background: transparent;
-webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
    -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
    -o-transition: background .2s ease-in-out, border .2s ease-in-out;
    transition: background .2s ease-in-out, border .2s ease-in-out;
     
}

.btn-circle.btn-xl-2:hover{
   border: 0px solid;
  box-shadow: inset 0 0 20px #ff432e, 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388; 

}

@media (max-width:650px){

  #wrapper {

   width: 10%;
  height: 50%; 

  margin-left: 0px;
  margin-top: 30px;
  z-index: 200;

  }


#main { width: 100vh; margin-left: -15px; }

}


#panel-oculto { 
  display: none; 
  position: fixed; 
  top: 0; 
  width: 100%; 
  height: 200px; 
  z-index: 999; 
  background-color: #222; 
}
#alternar-panel-oculto{
z-index: 999;
}
