.media-object{
	width: 200px;
	height: 100px;
}

.ul{
	width: 100%;
    margin-top: 40px;
    /* padding-top: 20px; */
    height: 100%;
    background: white;
    overflow: overlay;
}

.li{
	width: 100%;
    height: 100%;
    overflow: inherit;
    padding-top: 25px;
    padding-bottom: 25px;
    border: 0.5px solid rgba(34, 34, 34, 0.42);
}

.li h2{
	margin-top: 0;
	font-size: 22px;
}
/*
li.list-group-item {
    height:auto;
    min-height:150px;
    position: relative;

}
li.list-group-item.active small {
    color:#ff432e;
}


.minibotones{
	padding-top: 10px;
	display: flex;
  justify-content: center;
 
}

*/

