iframe{
			width: 100%;
		}

		*{
			padding: 0;
			margin: 0;
		}

		.wraper {
		  position: relative;
		  width: 100%;
		  height: 0;
		  padding-bottom: 48%;
		}

		.wraper iframe {
		  position: absolute;
		  width: 100%;
		  height: 100%;
		  left: 0; top: 0;
		}

		.controls{
			z-index: 1;
			position: absolute;
			left: 0;
		    margin: auto;
		    right: 0;
		    bottom: 0;
		    top: 0;
		    width: 50%;
		    height: 50%;
		    text-align: center;
		}
		.icons{
			font-size: 5em;
			color: aliceblue;
			z-index: 1;
			margin-bottom: 20px;
		}

		.icons:hover, .icons:focus, .icons:active, {
			cursor: pointer;
		}

		body{

			background: #222222;
		}

		#buscador {
			background: #222222;
			position: fixed;
			width: 100%;
			height: 100vh;
			z-index: 2;
			display: flex;
		}

		.input-buscador{
			width: 100%;

		    height: 34px;
		    padding-left: 34px;
		    border: 1px solid white;
		    border-radius: 20px;
		}

		.input-buscador{
			outline: none;
		}

		.inner-addon {
			width: 50%;
			margin: auto;
		  	position: relative;
		}

		.inner-addon .glyphicon {
		  position: absolute;
		  padding: 10px;
		  pointer-events: none;
		}

		.left-addon .glyphicon {
		  left: 0px;
		}

		.right-addon .glyphicon {
		  right: 0px;
		}

		.ui-menu{
			background: white;
			z-index: 2;
			width: 50% !important;
			margin: auto;
			overflow: scroll;
			border-radius: 20px;
		    border: 2px solid white;
		    max-height: 300px !important; 
		}

		.ui-menu-item{
			text-decoration: none;
			list-style: none;
			padding: 7px;
		    padding-left: 5%;
		    padding-right: 5%;
			color: black;
		}

		.ui-menu-item:hover, .ui-menu-item:active, .ui-menu-item:focus{
			background: rgba(216, 83, 79, 0.7);
			cursor: pointer;
			font-weight: bold;
		}

		@media(max-width:779px) {
			.controls{
				width: 100% !important;
				height: 100% !important;
				margin-top: 5%;
			}
			.icons{
				font-size: 3em ! important;
			}

			.inner-addon {
				width: 100%;
				margin: auto;
		    	margin-left: 3%;
				margin-right: 3%
			}

			.ui-menu{
				margin-right: 3%;
			    left: 0 !important;
			    margin-left: 3%;
			    width: 94% !important;
			}


			#volume {
				z-index: 1;
				position: absolute;
				margin: 0 auto !important;
				height: 5px !important;
				width: 96.5% !important;
				background: #FFF;
				border-radius: 15px;
			}

			.download{
				
				color: white;
			    border: 1px solid;
			    border-radius: 20px;
			    padding: 3px;
			}

			.download:hover {
				cursor: pointer;
				background: white;
				color: black;
			}
			.download-container{
				position: absolute;
				z-index: 1;
				
				text-align: center;
				margin-top: 20px !important;


				width: 100% !important;
			    left: 0 !important;
			    right: 0 !important;
			    /* margin: auto; */
			    margin-left: 0 !important;
			    margin-right: 0 !important;
			
    	}

}

@media(min-width:780px) {
			.title{
				font-size: 30px !important; 
			}
		}

		#volume {
			z-index: 1;
			position: absolute;

			height: 5px;
			width: 45%;
			background: #FFF;
			border-radius: 15px;


			left: 0;
		    right: 0;
		    /* margin: auto; */
		    margin-left: auto;
		    margin-right: auto;
		}
		#volume	.ui-slider-range-min {
				height: 5px;
				width: 100%;
				position: absolute;
				background: #d8534f;
				border: none;
				border-radius: 10px;
		  	outline: none;
			}
			
		#volume	.ui-slider-handle {
				width: 20px;
		  	height: 20px;
				border-radius: 20px;
		  	background: #FFF;
		  	position: absolute;
		  	margin-left: -8px;
		  	margin-top: -8px;
		  	cursor: pointer;
		  	outline: none;
			}

		.download{
			font-size: 20px;
			color: white;
		    border: 1px solid;
		    border-radius: 20px;
		    padding: 3px;
		}

		.download:hover {
			cursor: pointer;
			background: white;
			color: black;
		}

		.download-container{
			position: absolute;
			z-index: 1;
			width: 50%;
			text-align: center;
			margin-top: 30px;

			left: 0;
		    right: 0;
			    /* margin: auto; */
		    margin-left: auto;
		    margin-right: auto;
		}
		
		.icons{
			display: inline-block;
		}

		.title{
			position: relative;
			color: white;
			z-index: 1;
			left: 0;
		    right: 0;
		    font-size: 16px;
			    /* margin: auto; */
		    margin-left: auto;
		    margin-right: auto;
	        margin-top: 0;
    		margin-bottom: 0;
		}

		.logo-img img{
			z-index: 4;
			width: 100px;
			height: 100px;
		    top: 5%;
			position: absolute;
			left: 0;
		    right: 0;
		    margin: auto;
		    width: 200px;
		    height: 200px;
		}

		.rel-h4-1{
			margin-top: 20%;
			padding-top: 0 !important;
		}
		.rel-h4{
			padding-top: 0 !important;
			margin-top: 5% ; 
		}

		.team-details{
			left: 10px !important;
		}







		/* footer social icons */

.social-network a.icoFacebook:hover {
    background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
    background-color:#33ccff;
}
.social-network a.icoWhatsapp:hover {
    background-color:#4ced69;
}
.social-network a.icoGooglePlus:hover{
	background-color:rgb(227, 46, 40);
}
.social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
{
    color:#fff;
}


.social-circle li a {
  z-index: 1;
    display:inline-block;
    position:relative;
    margin:0 auto 0 auto;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    text-align:center;
    width: 50px;
    height: 50px;
    font-size:20px;
}
.social-circle li i {
  z-index: 1;
    margin:0;
    line-height:50px;
    text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.social-circle i {
    z-index: 1;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;

}

.social-circle li a:hover{
	color: white !important;
}