{% extends 'base.html' %}


{% block title %}
{{title}} - Hits Música
{% endblock %}

{% block styles %}
<div id="target-style">
	<link href="/static/css/formularios/formularios.css" rel="stylesheet">
</div>
{% endblock %}


{% block body %}	

<div id="target-body">
<div class="container">
    <div class="row col-md-8 col-md-offset-2 registeration">
    
        <div class="registerInner">
            <div class="col-md-12">
                <h3 class="headerSign">SUBIR CANCION</h3>
                <center>
	                <p>Album: {{album}}
		            	<br>
		            	Fecha de Lanzamiento: {{album.release_date}}
		            	<br>
		            	De: {{album.artist}}
		            </p>
	            </center>
            </div>

			<span class="errorlist">{{mensaje}}</span> 
			<form id="form" method="post" action="{{action}}" enctype="multipart/form-data">
			{% csrf_token %}
			                        <!-- Left Inputs -->
			    <div class="col-xs-12 col-md-6 wow animated slideInLeft" data-wow-delay=".5s">
			        <center>
				        <!-- subir -->
				        {{form.file.errors}}
				        <input input type="file" name="file" onchange="" id="id_file" value="{{form.file.value|default_if_none:''}}" class="inputfile inputfile-1" placeholder="Subir" />
				        <label for="id_file">
	                        <svg xmlns="http://www.w3.org/2000/svg" class="iborrainputfile" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path></svg>
	                        <span class="iborrainputfile">Seleccionar canción</span>
	                    </label>
	                    <br />

	                    <!-- titulo-->	
				        {{form.name.errors}}
				        <input type="text" name="name"  maxlength="40" id="id_name" value="{{form.name.value|default_if_none:''}}"  placeholder="Titulo" class="form-group" />

	        			<!-- Yotube id -->
				        {{form.id_youtube.errors}}
				        <input type="text" name="id_youtube" maxlength="30" id="id_id_youtube" value="{{form.id_youtube.value|default_if_none:''}}" class="form-group" placeholder="Youtube ID"/>

				        
			       	</center>
			    </div><!-- End Left Inputs -->
			    <!-- Right Inputs -->
			    <div class="col-xs-12 col-md-6 wow animated slideInRight" data-wow-delay=".5s">
					<center>        			


				        <div class="form-group">
							<label for="id_genre">Genero:</label>
					        {{form.genre.errors}}
					        {{form.genre}}
				        </div>
			        </center>
			    </div><!-- End Right Inputs -->

			    <div class="col-xs-12 wow animated slideInTop" data-wow-delay=".5s">
			    	<label style="display: block;" for="id_photo">Letra:</label>
			    	{{form.lyric.errors}}
			        <div class="django-ckeditor-widget" data-field-id="id_lyric" style="display: inline-block;" data-ckeditor-basepath="/static/ckeditor/ckeditor/">
			        	<textarea cols="40" id="id_lyric" name="lyric" rows="10" data-processed="0" data-config='{"skin": "moono-lisa", "toolbar_Basic": [["Source", "-", "Bold", "Italic"]], "toolbar_Full": [["Styles", "Format", "Bold", "Italic", "Underline", "Strike", "SpellChecker", "Undo", "Redo"], ["Link", "Unlink", "Anchor"], ["Image", "Flash", "Table", "HorizontalRule"], ["TextColor", "BGColor"], ["Smiley", "SpecialChar"], ["Source"]], "toolbar": "Full", "height": 291, "width": 835, "filebrowserWindowWidth": 940, "filebrowserWindowHeight": 725, "language": "es"}' data-external-plugin-resources='[]' data-id="id_lyric" data-type="ckeditortype" class="form" placeholder="Letra">{{form.lyric.value|default_if_none:''|safe}}</textarea>
			        </div>
			    </div>

			    <div class="col-xs-12" data-wow-delay=".5s">
        <center>
        <strong class="loader-porcent"></strong>
        <div style="display: none;" class="loader"></div></center>
        </div>
			    <!-- Bottom Submit -->
			    <div class="relative fullwidth col-xs-12">
			    	<center>
				        <!-- Send Button -->
				        <button type="submit" value="Publicar" id="publicar" name="guardar" class="signbuttons btn btn-primary">Guardar y agregar otra canción</button>
						<button type="submit" value="Guardar" id="guardar" name="publicar" class="signbuttons btn btn-primary">Guardar </button>
						<input type="hidden" name="value" value="g" id="value">
					</center>
			    </div><!-- End Bottom Submit -->
			</form>
        </div>
        
    </div>
</div>
</div>
{% endblock %}


{% block scripts %}
<div id="target-script">
<script type="text/javascript" src="/static/ckeditor/ckeditor/ckeditor.js" async="async"></script>
<script type="text/javascript" src="/static/ckeditor/ckeditor-init.js" async="async"></script>
<script type="text/javascript" src="/static/js/app/custom-file-input.js"></script>
<script type="text/javascript">
	
	(function() {

    	$( "#publicar" ).click(function() {
			$("#value").val("a");
			$( "#form" ).submit();
		});
    	
		$("#id_file").change(function() {
			if (this.files && this.files[0]) {
	    		$("#id_name").val(this.files[0].name);
			}
	    }); 
		
	}).call(this);

</script>


</div>
{% endblock %}