{% extends 'base.html' %}


{% block title %}
{{title}} - Hits Música
{% endblock %}

{% block styles %}
<div id="target-style">
	<link href="/static/css/formularios/formularios.css" rel="stylesheet">
	
	<link href="/static/css/sol.css" rel="stylesheet">
</div>
{% endblock %}


{% block body %}

<div id="target-body">
<div class="container">
    <div class="row col-md-8 col-md-offset-2 registeration">
    
        <div class="registerInner">
            <div class="col-md-12">
                <h3 class="headerSign">SUBIR CANCION</h3>
                <center>
	                <p>Album: {{album}}
		            	<br>
		            	Fecha de Lanzamiento: {{album.release_date}}
		            	<br>
		            	De: {{album.artist}}
		            </p>
	            </center>
            </div>

			<center><span class="errorlist">{{mensaje}}</span></center> 
			<form method="post" id="form" action="{{action}}" enctype="multipart/form-data" >
				{% csrf_token %}

				<div class="col-xs-12 col-md-6 wow animated slideInLeft" data-wow-delay=".5s">
					<center>
						{{form.name.errors}}
						<input type="text" name="name" class="form-group" placeholder="Título" value="{{form.name.value|default_if_none:''}}" maxlength="40" id="id_name" />
						

						{{form.id_youtube.errors}}
						<input type="text" name="id_youtube" class="form-group" placeholder="Id de youtube" value="{{form.id_youtube.value|default_if_none:''}}" maxlength="30" id="id_id_youtube" />

						<div class="form-group">
							<label for="id_genre">Género:</label>
							{{form.genre.errors}}
							{{form.genre}}
						</div>
					</center>
				</div>

				<div class="col-xs-12 col-md-6 wow animated slideInRight" data-wow-delay=".5s">
					<center>
						<div class="form-group">
							<label for="id_artists">Cantantes:</label>
							{{form.artists.errors}}
							{{form.artists}}
						</div>
					</center>
			    </div><!-- End Right Inputs -->

				<div class="col-xs-12 wow animated slideInTop" data-wow-delay=".5s">
					<center>
						<label for="id_lyric">Letra:</label>
						{{form.lyric.errors}}
						<div class="django-ckeditor-widget" data-field-id="id_lyric" style="display: inline-block;" data-ckeditor-basepath="/static/ckeditor/ckeditor/">
						    <textarea cols="40" id="id_lyric" name="lyric" rows="10" data-processed="0" data-config='{"skin": "moono-lisa", "toolbar_Basic": [["Source", "-", "Bold", "Italic"]], "toolbar_Full": [["Styles", "Format", "Bold", "Italic", "Underline", "Strike", "SpellChecker", "Undo", "Redo"], ["Link", "Unlink", "Anchor"], ["Image", "Flash", "Table", "HorizontalRule"], ["TextColor", "BGColor"], ["Smiley", "SpecialChar"], ["Source"]], "toolbar": "full", "height": 291, "width": "auto", "filebrowserWindowWidth": 940, "filebrowserWindowHeight": 725, "language": "es"}' data-external-plugin-resources='[]' data-id="id_lyric" value="{{form.lyric.value|default_if_none:''}}" class="form" data-type="ckeditortype"></textarea>
						</div>
					</center>
				</div>

				<div class="col-xs-12" data-wow-delay=".5s">
        <center>
        <strong class="loader-porcent"></strong>
        <div style="display: none;" class="loader"></div></center>
        </div>

				<div class="relative fullwidth col-xs-12">
					<center>
						<button type="submit" value="Publicar" id="publicar" name="guardar" class="signbuttons btn btn-primary">Guardar y agregar otra canción</button>
						<button type="submit" value="Guardar" id="guardar" name="publicar" class="signbuttons btn btn-primary">Guardar </button>
						<input type="hidden" name="value" value="g" id="value">
					</center>
				</div>

			</form>
        </div>
        
    </div>
</div>
</div>
{% endblock %}




{% block scripts %}
<div id="target-script">

<script type="text/javascript" src="/static/ckeditor/ckeditor/ckeditor.js" async="async"></script>
<script type="text/javascript" src="/static/ckeditor/ckeditor-init.js" async="async"></script>

<script type="text/javascript" src="/static/js/app/sol.js"></script>

<script type="text/javascript">
	
	(function() {
		$("#id_artists").searchableOptionList({
			maxHeight:'300px'
		});

    	$( "#publicar" ).click(function() {
			$("#value").val("a");
			$( "#form" ).submit();
		});
	}).call(this);
	



</script>

</div>
{% endblock %}



