{% extends 'base.html' %}


{% block title %}
{{title}} - Hits Música
{% endblock %}

{% block styles %}
<div id="target-style">
	<link href="/static/css/formularios/formularios.css" rel="stylesheet">
</div>
{% endblock %}


{% block body %}

<div id="target-body">
<div class="container">
    <div class="row col-md-8 col-md-offset-2 registeration">
    
        <div class="registerInner">
            <div class="col-md-12">
                <h3 class="headerSign">SUBIR ALBUM</h3>
            </div>

			<center><span class="errorlist">{{mensaje}}</span></center>
			<form method="post" id="form" action="{{action}}" enctype="multipart/form-data" >
				{% csrf_token %}

				<div class="col-xs-12 col-md-6 wow animated slideInLeft" data-wow-delay=".5s">
					<center>
						{{form.name.errors}}
						<input type="text" name="name" class="form-group" placeholder="Título" value="{{form.name.value|default_if_none:''}}" maxlength="40" id="id_name" />
						
						<div class="form-group">
							{{form.release_date.errors}}
							{{form.release_date}}
						</div>
					</center>
				</div>

				<div class="col-xs-12 col-md-6 wow animated slideInRight" data-wow-delay=".5s">
					<center>

				        <div id="div_id_photo">
							<label for="">Portada:</label>
							<p class="errorlist">{{form.photo.errors}}</p>
							<input type="file" name="photo" class="inputfile inputfile-1" onchange="upload_img(this);" id="id_photo" />
							<label for="id_photo">
		                        <svg xmlns="http://www.w3.org/2000/svg" class="iborrainputfile" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path></svg>
		                        <span class="iborrainputfile">Seleccionar portada</span>
	                        </label>
	                        <br />
							<div class="img" style="display: none;"></div>
				        </div>
			        </center>
			    </div><!-- End Right Inputs -->

			    <div class="col-xs-12" data-wow-delay=".5s">
        <center>
        <strong class="loader-porcent"></strong>
        <div style="display: none;" class="loader"></div></center>
        </div>
        
				<div class="relative fullwidth col-xs-12">
					<center>
						<button type="submit" value="Publicar" id="publicar" name="guardar" class="signbuttons btn btn-primary">Guardar y agregar canción</button>
						<button type="submit" value="Guardar" id="guardar" name="publicar" class="signbuttons btn btn-primary">Guardar </button>
						<input type="hidden" name="value" value="g" id="value">
					</center>
				</div>

			</form>
        </div>
        
    </div>
</div>

</div>
{% endblock %}




{% block scripts %}
<div id="target-script">

<script type="text/javascript" src="/static/ckeditor/ckeditor/ckeditor.js" async="async"></script>
<script type="text/javascript" src="/static/ckeditor/ckeditor-init.js" async="async"></script>
<script type="text/javascript" src="/static/js/app/custom-file-input.js"></script>

<script type="text/javascript">
	

	(function() {
		
		if ("{{ photo }}" != ""){
			$('#img_id').remove();
			$("#div_id_photo .img").css("display","block");
	    	$("#div_id_photo .img").append('<img id="img_id" src="/{{photo}}" alt="" />');
		}

    	$( "#publicar" ).click(function() {
			$("#value").val("a");
			$( "#form" ).submit();
		});
	}).call(this);
	
	
	function upload_img(input) {
		$('#img_id').remove();
		$("#div_id_photo .img").css("display","block");
    	$("#div_id_photo .img").append('<img id="img_id" src="#" alt="your image" />');
    	
        if (input.files && input.files[0]) {

            var reader = new FileReader();
			
            reader.onload = function (e) {
            	var img = new Image();
            	img.src = e.target.result;
            	img.onload = function () {
            		if (this.width < 350 || this.height<350){
            			$("p.errorlist").append("La imagen debe tener un minimo de 350px de ancho y alto")
            		}else{
            			$("p.errorlist").text("");
            		}

                	$('#img_id').attr('src', this.src );
            	}
            	
            }

            reader.readAsDataURL(input.files[0]);
        }
    }



</script>
</div>
{% endblock %}



