{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}

<form method="post" >
	{% csrf_token %}
	
	{{ form|crispy }}
	<div>
		
		<input type="submit" value="Ingresar">
	</div>
	
</form>

{% endblock %}
