{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block body %}

{{ resquest.user }}

<table>
	<thead>
		<tr>
			<td>Nombre</td>
			<td>Acciones</td>
		</tr>
	</thead>
	
	<tbody>
		{% if object_list %}
		{% for category in object_list %}
		<tr>
			<td>{{ category.name }}</td>
		</tr>
		{% endfor %}
		
		{% else %}
		<h1> No hay categorias registradas </h1>
		{% endif %}
		
		
	</tbody>

</table>

{% endblock %}
