{% extends 'base.html' %}


{% block title %}
Cambio de Contraseña
{% endblock %}


{% block body %}
<div id="target-body">
	{% if validlink %}
	<h1>Nueva Contraseña</h1>
	<form method="post" style="margin-top: 500px;">
		{% csrf_token %}
		
		{{form.new_password1.errors}}
		<label for="id_new_password1">Nueva contraseña</label>
		{{ form.new_password1 }}
		
		{{form.new_password2.errors}}
		<label for="id_new_password2">Confirmar contraseña</label>
		{{ form.new_password2 }}

		<input type="submit" value="Cambiar contraseña">
	</form>
	{% else %}
	<h1 class="text-center" style="margin-top: 500px;">ENLACE INVALIDO: ESTE ENLACE YA HA SIDO UTILIZADO </h1>
	{% endif %}
</div>
{% endblock %}