{% extends 'base.html' %}

{% block title %}
Cambio de Contraseña
{% endblock %}

{% block styles %}
<div id="target-style">
	<link href="/static/css/formularios/styleupload.css" rel="stylesheet">
</div>
{% endblock %}


{% block body %}



<div id="target-body">
	<form method="post" style="margin-top: 500px;">
		{% csrf_token %}
		<label for="id_email">Correo:</label> {{ form.email }}
		<div class="col-xs-12" data-wow-delay=".5s">
        <center><div style="display: none;" class="loader"></div></center>
        </div>
		<input type="submit" value="Enviar">
	</form>
</div>
{% endblock %}