{% extends 'base.html' %}

{% block title %}
Cambio de Contraseña
{% endblock %}

{% block body %}
<div id="target-body">
	<h3 style="margin-top: 500px;"> Te hemos enviado un correo con un enlace para reestablecer tu contraseña </h3>
</div>
{% endblock %}