{% extends 'base.html' %}

{% block title %}
Cambio de Contraseña
{% endblock %}

{% block body %}
<div class="target-body">
	<h1 class="text-center" style="margin-top: 500px;">Su contraseña se reestableció correctamente</h1>

	<p class="text-center" style="margin-top: 600px;"><a href="{% url 'usuarios:login' %}">Iniciar sesión</a></p>
</div>
{% endblock %}