{% extends 'base.html' %}


{% block title %}
Denunciar - Hits Música
{% endblock %}

{% block styles %}
<div id="target-style">
    <link href="/static/css/formularios/formularios.css" rel="stylesheet">
</div>
{% endblock %}


{% block body %}

<div id="target-body">
<div class="container">
<div class="row col-md-8 col-md-offset-2 registeration">
    
<div class="registerInner">
    <div class="col-md-12">
        <h3 class="headerSign">Denuncia</h3>
        <h4 class="headerSign">Canción: {{song}}</h4>
    </div>
    
    <div class="col-md-12 ">
            
        <form action="" method="post">

           
            <center>
                <div  class="form-group">   
                    <select name="genre" class="select-form" required id="id_genre">
                    <option value=""  selected> Motivo de la denuncia</option>
                    <option value="1">Violacion de Copyright</option>
                    <option value="2">Contenido Violento</option>
                    <option value="3">Contenido Homofobico</option>
                    <option value="4">Contenido Pornografico</option>
                    <option value="5">Copia tu Identidad o la de alguien mas</option>
                    </select>
                </div>

                <div class="form-group">
                     <input type="email" name="name"  maxlength="100" required id="id_name"  placeholder="Ingresa tu correo" class="form-control" />
                </div>


               <div class="">
                   <textarea cols="80" id="id_lyric" name="lyric" rows="3" data-processed="0" data-config='{"skin": "moono-lisa", "toolbar_Basic": [["Source", "-", "Bold", "Italic"]], "toolbar_Full": [["Styles", "Format", "Bold", "Italic", "Underline", "Strike", "SpellChecker", "Undo", "Redo"], ["Link", "Unlink", "Anchor"], ["Image", "Flash", "Table", "HorizontalRule"], ["TextColor", "BGColor"], ["Smiley", "SpecialChar"], ["Source"]], "toolbar": "Full", "height": 291, "width": 1500, "filebrowserWindowWidth": 940, "filebrowserWindowHeight": 725, "language": "es"}' data-external-plugin-resources='[]' data-id="id_lyric" data-type="ckeditortype" class="form-group" placeholder="Escribir denuncia... (no es necesario llenar este campo)" class="select-form"></textarea>
                </div>

                     

                 <h5>Subir archivo relacionado a la denuncia</h5>

                <input type="file" name="file-1" id="file-1" class="inputfile inputfile-1" data-multiple-caption="{count} archivos seleccionados" multiple />
                <label for="file-1">
                    <svg xmlns="http://www.w3.org/2000/svg" class="iborrainputfile" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path></svg>
                    <span class="iborrainputfile">Seleccionar Archivo</span>
                </label>
                


            
                <div class="col-md-12">
                    <button type="submit" id="submit" name="submit" class="signbuttons btn btn-primary">Enviar</button>
                </div> 


            </center>
        </form> 

                

            

    </div>

              
</div>
        
</div>
</div>
</div>
{% endblock %}