

{% extends 'base.html' %}


{% block title %}
Favoritas - Hits Música
{% endblock %}

{% block styles %}
<div id="target-style">
<link href="/static/css/searchmore.css" rel="stylesheet">
</div>
{% endblock %}


{% block body %}
<div id="target-body">
	<div class="container">
    <div class="row">
		<div class="well">
		<br />
        <h1 class="text-center">Canciones favoritas</h1>
        <ul class="list-group">
            {% for cancion in canciones %}
                <li  class="list-group-item">
                    <div class="media col-md-3">
                        <figure class="pull-left">
                            <img class="media-object img-rounded img-responsive "  src="/{{cancion.photo}}" alt="placehold.it/350x250" >
                        </figure>
                    </div>
                
                    <div class="col-md-6">
                        <h4 class="list-group-item-heading">{{cancion.name|title}}</h4>
                        <p class="list-group-item-text"> {{ cancion.artists.all|join:"  X " }}</p>
                        <p class="list-group-item-text">Fecha de Lanzamientio: {{ cancion.release_date }}</p>
                        {% if cancion.album %}
                        <p class="list-group-item-text">Album: {{ cancion.album.name }}</p>
                        {% endif %}
                    </div>
                    <div class="col-md-3 text-center">
                        <h4> {{cancion.num_views }} <small> Reproducciones </small></h4>
                        <div>
                            <div class="minibotones">
                                <a href="{% url 'player:detail_cancion' cancion.slug %}" class="btn btn-danger btn-lg btn-block">Descargar</a>
                                <button class="btn btn-danger btn-lg  fa fa-plus-circle add-playlist" data-toggle="tooltip" title="Agregar a mis Playlists" data-id="{{cancion.id}}" data-toggle="popover" ></button>
                                <button data-name="{{cancion.name}}" data-id="{{cancion.id}}" data-photo="{{cancion.photo}}" class="btn btn-danger btn-lg  fa fa-list-ul add-to-play" data-toggle="tooltip" title="Agregar a lista actual "></button>
                                <button data-name="{{cancion.name}}" data-id="{{cancion.id}}" data-photo="{{cancion.photo}}" class="btn btn-danger btn-lg  fa fa-play only-play" data-toggle="tooltip" title="Reproducir"></button>
                            </div>
                        </div>
                       
                       
                    </div>
                </li>
            {% empty %}
            <h3 class="text-center">No hay canciones</h3>
            {% endfor %}
        </ul>
            <div class="text-center">
                {% if canciones.has_other_pages %}
                    <ul class="pagination text-center">
                        {% if canciones.has_previous %}
                            <li><a class="link-pag" href="?page={{ canciones.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in canciones.paginator.page_range %}
                            {% if canciones.number == i %}
                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li><a class="link-pag" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if canciones.has_next %}
                            <li><a class="link-pag"  href="?page={{ canciones.next_page_number }}">&raquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
	</div>
</div>
</div>
{% endblock %}