{% extends 'base.html' %}
{% load groups %}  


{% block title %}
Seguidores - Hits Música
{% endblock %}

{% block styles %}
<div id="target-style">
<link href="/static/css/searchmore.css" rel="stylesheet">
</div>
{% endblock %}

{% block body %}

<div id="target-body">

	<div class="container">
    <div class="row">
		<div class="well">
		<br />
        <h1 class="text-center">{{title}}</h1>
        <ul class="list-group">
        {% for usuario in seguidos %}
            <li class="list-group-item">
                <div class="media col-md-3">
                    <figure class="pull-left">
                        <img class="media-object img-rounded img-responsive "  src="/{{usuario.photo}}" alt="placehold.it/350x250" >
                    </figure>
                </div>
                <div class="col-md-6">
                    <h4 class="list-group-item-heading">{{usuario.username|title}} </h4>
                    <p class="list-group-item-text">{{usuario.name|default_if_none:''}}</p>
                </div>
                <div class="col-md-3 text-center">
                    
                    {% if user_log in usuario.get_followers.all %}
                        <button type="button" data-artist="{{usuario|has_group:'artist'}}" onclick='follow({{usuario.id}},this);' class="btn btn-danger btn-lg btn-block"> Dejar de Seguir</button>
                    {% else %}
                        <button type="button" data-artist="{{usuario|has_group:'artist'}}" onclick="follow({{usuario.id}},this);" class="btn btn-danger btn-lg btn-block"> Seguir</button>
                    {% endif %}
                    <a href="{% url 'usuarios:profile' usuario.username %}" class="btn btn-danger btn-lg btn-block">Ver Perfil</a>
                </div>
            </li>
        {% empty %}
        <h3 class="text-center">No hay {{title}} </h3>

        
        {% endfor %}
        </ul>
        <div class="text-center">
            {% if seguidos.has_other_pages %}
                <ul class="pagination text-center">
                    {% if seguidos.has_previous %}
                        <li><a class="link-pag" href="?page={{ seguidos.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in seguidos.paginator.page_range %}
                        {% if seguidos.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li><a class="link-pag" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if seguidos.has_next %}
                        <li><a class="link-pag"  href="?page={{ seguidos.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>

    </div>
	</div>
</div>

</div>
{% endblock %}

{% block scripts %}

<div id="target-script">
<script type="text/javascript">
    

    function follow(id, button){

        var b = $(button).attr("data-artist") == "True";
        
        $.ajax({
            type: 'POST',
            url: "{% url 'usuarios:follow_user' %}",
            data: {'id' : id, 'artist':b},
            dataType: 'json',
            success: function (data) {
                if (data.r){
                    var seg = parseInt($("."+id+".seguidores").text());
                    if (data.add)
                        $("."+id+".seguidores").text(seg+1);
                    else
                        $("."+id+".seguidores").text(seg-1);
                }
            }
          });
          
    }
</script>

</div>
{% endblock %}