  {% extends 'base.html' %}

{% block title %}
Descargar {{name|default_if_none:'canciones'|safe}} - Hits Música
{% endblock %}


{% block meta %}
    <meta property="og:title" content="Descargar {{name|safe}} | Hits Música">
    <meta property="og:image" content="{{video.thumb}}" >
    <meta property="og:url" content="http://www.hitsve.com/player/?q={{video.id}}&name={{name}}" >

    <meta name="twitter:card" content="summary_large_image">
    <!--<meta name="twitter:site" content="@nytimes">
    <meta name="twitter:creator" content="@SarahMaslinNir">
    -->
    <meta name="twitter:description" content="Descargar {{name}} | Hits Música">
    <meta name="twitter:title" content="Descargar {{name}}">
    <meta name="twitter:image" content="{{video.thumb}}">
{% endblock %}


{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/css/video.css">



    <!-- Owl-Carousel -->
    <link rel="stylesheet" href="/static/css/owl.carousel.css" >
    <link rel="stylesheet" href="/static/css/owl.theme.css" >
    <link rel="stylesheet" href="/static/css/owl.transitions.css" >

    <!-- hojas CSS -->
    <link href="/static/css/style.css" rel="stylesheet">

    
    <!-- Colors CSS (cambiador de colores)-->
    <link rel="stylesheet" type="text/css" href="/static/css/color/green.css" title="green">
 <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>





{% endblock %}


{% block body %}
	
	<div id="buscador">
		<a class="logo-img" href="/"><img src="/static/images/logos/logosinfondo.png"></a>
		<i class="glyphicon glyphicon-remove remove icons" style="z-index: 3; position: absolute;" ></i>
		<div class="inner-addon left-addon">
			<i class="glyphicon glyphicon-search"></i>
	    	<input type="text" placeholder="Buscar canción" name="buscador" class="input-buscador">
    	</div>
    </div>
<div class="main-body" >
    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
    <div class="wraper" >
    	<div class="controls" >

	    	<h4 class="title" >{{video.title}}</h4>
	    	<h4 class="title artist" style="">{{video.artist}}</h4>

    		<span class="search-icon" ><i class="glyphicon glyphicon-search icons "></i></span>
    		<span class="play-icon" ><i class="glyphicon glyphicon-play-circle icons "></i> </span>
    		<span class="pause-icon" ><i class="glyphicon glyphicon-pause icons "></i><br></span>
    		
    		<div id="volume"></div>
    		
			<div class="download-container">
			<a href="#down"> <p data-id='{{video.id}}' data-name="{{name|safe}}" class="download">Descargar</p></a>
			</div>
			

    	</div>
    	<div id="player"></div>

	</div>

<center>
<div  class="container " id="down" style="margin-top: 40px" >

		<center>
			<h3 style="color: white;">
				 Descargar {{video.title}} - {{video.artist}}
			</h3>
		</center>
    	<iframe src="https://www.yt-download.org/api-console/audio/{{video.id}}" width="100%" height="100px" scrolling="no" style="border:none;"></iframe>

		<div class="script-center">
		<script type="text/javascript">
			var ad_idzone = "2707984",
				ad_width = "300",
		     ad_height = "50";
		</script>

		<script type="text/javascript" src="https://ads.exdynsrv.com/ads.js"> </script>
		<noscript><a href="https://main.exdynsrv.com/img-click.php?idzone=2707984" target="_blank">
	<img src="https://syndication.exdynsrv.com/ads-iframe-display.php?idzone=2707984&output=img&type=300x50" width="300" height="50"/>
		</a> </noscript>
	</div>
			<ul class="social-network social-circle">
				<script  type="text/javascript" charset="utf-8">
			        (function(d, s, id) {
			          var js, fjs = d.getElementsByTagName(s)[0];
			          if (d.getElementById(id)) return;
			          js = d.createElement(s); js.id = id;
			          js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.9";
			          fjs.parentNode.insertBefore(js, fjs);
			        }(document, 'script', 'facebook-jssdk'));
			    </script>
                    
                <li style="display: inline-block;" ><a class="fb-xfbml-parse-ignore icoFacebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.hitsve.com%2Fplayer%2F%3Fq%3D{{video.id}}%26name%3D{{name|urlencode}}&amp;src=sdkpreparse" data-toggle="tooltip" title="Compartir en Facebook"><i class="fa fa-facebook"></i></a></li>
                
                <li style="display: inline-block;" ><a href="https://twitter.com/share?hashtags=hitsve&text=Descarga%20y%20escucha%20tu%20música%20favorita" target="_blank"  class="icoTwitter" data-text="Descarga y escucha tu música favorita" data-lang="es" data-size="large" data-hashtags="hitsve" data-dnt="true" data-toggle="tooltip" title="Compartir en Twitter"><i class="fa fa-twitter"></i></a></li>

                <li style="display: inline-block;" ><a class="icoGooglePlus" href="https://plus.google.com/share?url=http%3A%2F%2Fwww.hitsve.com%2Fplayer%2F%3Fq%3D{{video.id}}%26name%3D{{name|urlencode}}"><i class="fa fa-google-plus"></i></a></li>  
                </ul>  

            <div class="row">
                        <h3 style="color: white;">Recomendados</h3>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <div id="team-section" class="black-50">
                    
                        <div class="our-team">
                        	{% for rel in relacionados %}
	                            	<div class="team-member">
	                                <img src="{{rel.thumb}}" class="img-responsive" alt="">
	                                <div class="team-details">
	                                    <h4 class="rel-h4-1" >{{rel.title}}</h4>
	                                    <h4 class="rel-h4" >{{rel.artist}}</h4>
	                                    <p class="" >{{rel.channel}}</p>
	                                    <ul>
	                                        <li><a href="/player/?q={{rel.id}}&name={{rel.name}}" data-ajax="false" data-toggle="tooltip" title="Descargar"><i class="fa fa-arrow-circle-o-down " data-rel="'+value.id.videoId+'"></i></a></li>
	                                    </ul>
	                                </div>
	                            </div>
                            {% endfor %}

                        </div>

                    </div>
                </div>
            </div>
		</div>


</center>
</div>


{% endblock %}



{% block scripts %}
 <!-- Place this tag in your head or just before your close body tag. -->
<script src="https://apis.google.com/js/platform.js" async defer>
  {lang: 'es-419'}
</script>

	<script src="/static/js/jquery.easing.1.3.js"></script>
    <script src="/static/js/classie.js"></script>
    <script src="/static/js/count-to.js"></script>
    <script src="/static/js/jquery.appear.js"></script>

	<script src="/static/js/owl.carousel.min.js"></script>
	<script src="/static/js/jquery.fitvids.js"></script>
	<script src="/static/js/styleswitcher.js"></script>
	<script src="/static/js/script.js"></script>
<div id="scp" class="scp"></div>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script type="text/javascript">


		var q = getUrlParameter("q")
		var name = getUrlParameter("name");

	$(function () {
		if (q != undefined){
			$("#buscador").toggle();  
		}

		if( /Android|iPhone|iPad|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
		 	$('.social-network').append('<li class="hidden-md" style="display: inline-block;" ><a class="icoWhatsapp" data-toggle="tooltip" title="Compartir en Whatsapp" target="_blank" href="whatsapp://send?text=http://www.hitsve.com/player/?q={{video.id}}&name={{name|urlencode}}" data-text="Descargar {{name|safe}} | Hits Música" ><i class="fa fa-whatsapp"></i></a></li>');
		}

		$('.input-buscador').attr('disabled', true);

		$('.search-icon').click(function () {
			$("#buscador").toggle();
		});

		$('.remove').hide();

		$('.remove').click(function () {
			$("#buscador").toggle();
		});

		$('.pause-icon').hide();
		$('.play-icon').hide();

		$('.pause-icon').click(function () {
			 player.pauseVideo();

			$('.pause-icon').hide();
			$('.play-icon').show();
		});

		$('.play-icon').click(function () {
			 player.playVideo();

			$('.pause-icon').show();
			$('.play-icon').hide();
		});


		$(".controls" ).on('mouseenter', function(){
            $(".controls").fadeTo('slow',1);
        });
        $(".controls" ).on('mouseleave', function(){
            $(".controls").fadeTo('slow', 0);
        });

/*
		$('.download').click(function () {
			var id = $(".download").attr('data-id');
			 $.ajax({
                type: 'GET',
                url: "/player/getlink",
                data: {'id':id},
                dataType: 'json',
                success: function (url) {
                    //$("#download").attr('href',''+url);}
                   console.log(url);
                    descargarArchivo(url, $(".download").attr('data-name'))
                }
            });
		});
*/
		$("#volume").slider({
		  	min: 0,
		  	max: 100,
		  	value: 50,
			range: "min",
		  	slide: function(event, ui) {
		    	player.setVolume(ui.value);
		  	}
		});


		
	});

	function getUrlParameter(sParam) {
	    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
	        sURLVariables = sPageURL.split('&'),
	        sParameterName,
	        i;

	    for (i = 0; i < sURLVariables.length; i++) {
	        sParameterName = sURLVariables[i].split('=');

	        if (sParameterName[0] === sParam) {
	            return sParameterName[1] === undefined ? true : sParameterName[1];
	        }
	    }
	}


	function descargarArchivo(url, nombreArchivo) {

		var xhr = new XMLHttpRequest();


	  //creamos un FileReader para leer el Blob
	  //var reader = new FileReader();
	  //Definimos la función que manejará el archivo
	  //una vez haya terminado de leerlo
	 // reader.onload = function (event) {
	    //Usaremos un link para iniciar la descarga 
	    var save = document.createElement('a');
	    save.href = url;
	    save.target = '_blank';
	    //Truco: así le damos el nombre al archivo 
	    alert(nombreArchivo);
	    save.download = nombreArchivo;
	    var clicEvent = new MouseEvent('click', {
	      'view': window,
	      'bubbles': true,
	      'cancelable': true
	    });
	    //Simulamos un clic del usuario
	    //no es necesario agregar el link al DOM.
	    save.dispatchEvent(clicEvent);
	    //Y liberamos recursos...
	    (window.URL || window.webkitURL).revokeObjectURL(save.href);
	  //};
	  //Leemos el blob y esperamos a que dispare el evento "load";

	  //var blob = new Blob([url], {'type': 'audio/m4a'})
	  //reader.readAsDataURL(blob);
	  
	};
		// The client ID is obtained from the Google Developers Console
		// at https://console.developers.google.com/.
		// If you run this code from a server other than http://localhost,
		// you need to register your own client ID.
		
		var OAUTH2_CLIENT_ID = 'AIzaSyCIM4EzNqi1in22f4Z3Ru3iYvLaY8tc3bo';
		var OAUTH2_SCOPES = [
		  'https://www.googleapis.com/auth/youtube'
		];

		function init() {
			gapi.client.setApiKey(OAUTH2_CLIENT_ID);
			gapi.client.load("youtube", "v3", function () {
				
				$('.input-buscador').attr('disabled', false);
			})
		}

		

		$(".input-buscador").autocomplete({
			source: function( request, response ) {
	        	var request = gapi.client.youtube.search.list({
	        		part:"snippet",
	        		type: "video",
	        		videoCategoryId:10,
	        		q: encodeURIComponent($(".input-buscador").val()).replace(/%20/g,"+"),
	        		maxResults:30,
	        		order: "viewCount",
	        	});

	        	request.execute(function (r) {
	        		var results = r.result;
	        		console.log(results.items);
	        		response($.map(results.items, function (item) {
			            return {
			                label: item.snippet.title,
			                value: item.id.videoId,
			                chanel : item.snippet.channelTitle
			            };
			        }));
	        	})
	      	},
	      	create: function () {
                $(this).data('ui-autocomplete')._renderItem = function (ul, item) {
                	var i = item.label.split('-');
                    return $('<li>')
                        .append('<div style="font-size: 16px;">' + i[1] + '</div>'+
                    			'<div style="font-size: 14px;">'+ i[0] +'</div>'+
                    			'<div style="font-size: 11px;">'+ item.chanel +'</div>')
                        .appendTo(ul);
                };
            },
		      minLength: 3,
		      select: function( event, ui ) {
		        console.log( ui.item ?
		          "Selected: " + ui.item.label +" "+ui.item.value :
		          "Nothing selected, input was " + this.value);
		        //loadVideo (ui.item.value);
		        //$("#buscador").toggle();
		        //$(".download").attr('data-id',ui.item.value);
		        //$(".download").attr('data-name',ui.item.label+".mp3");

		        //var i = ui.item.label.split('-');
		        //$(".title").text(i[1]);
		        //$(".title.artist").text(i[0]);

		        //relacionados(ui.item.value);
		        location.href = "/player/?q="+ui.item.value+"&name="+ui.item.label;
		      },
		      open: function() {
		        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
		      },
		      close: function() {
		        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
		      }
		});
	</script>
	<script type="text/javascript" src="https://apis.google.com/js/client.js?onload=init" ></script>

    <script>
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          controls: 0,
          playerVars:{
          	'autoplay':0,
          	'controls':0,
          	'rel':0,
          	'showinfo':0,
          	'modestbranding':1,
          },
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      var play = 0;
      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        //event.target.playVideo();
        player.setVolume(50);
        if (q != undefined && play==0){
        	
			loadVideo(q);
			//relacionados(q);
			play = 1;


		}else if (q != undefined && play==1){
			player.loadVideoById(q, 5, "large");
		}
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
          
          done = true;
        }

        if (event.data == YT.PlayerState.ENDED ) {
          	$('.pause-icon').hide();
			$('.play-icon').show();
        }
      }

      function stopVideo() {
        player.stopVideo();
      }

      function loadVideo(id) {
        player.loadVideoById(id, 5, "large");
        $('.remove').show();

		$('.pause-icon').show();
		$('.play-icon').hide();
      }




/*
		function relacionados(id) {
			var request = gapi.client.youtube.search.list({
	        		part:"snippet",
	        		type: "video",
	        		maxResults:10,
	        		videoCategoryId:10,
	        		relatedToVideoId: id,
	        		order: "viewCount",
	        	});

        	request.execute(function (r) {
        		var results = r.result;
    			//$(".our-team").empty();
    			//$("#scp").empty();
        		$.each(results.items, function( index, value ) {
        			var nombre = value.snippet.title.split("-");
				  	$(".our-team").append(""+
				  				'<div class="team-member">'+
	                                '<img src="'+value.snippet.thumbnails.high.url+'" class="img-responsive" alt="">'+
	                                '<div class="team-details">'+
	                                    '<h4 class="rel-h4-1" >'+nombre[1]+'</h4>'+
	                                    '<h4 class="rel-h4" >'+nombre[0]+'</h4>'+
	                                    '<p class="" >'+value.snippet.channelTitle+'</p>'+
	                                    '<ul>'+
	                                        '<li><a href="/?q='+value.id.videoId+'&name='+value.snippet.title+'" data-ajax="false" data-toggle="tooltip" title="Descargar"><i class="fa fa-arrow-circle-o-down " data-rel="'+value.id.videoId+'"></i></a></li>'+
	                                    '</ul>'+
	                                '</div>'+
	                            '</div>'+

				  		"");
				});

				var s = '<script src="/static/js/owl.carousel.min.js"><\/script>'+
						'<script src="/static/js/jquery.fitvids.js"><\/script>'+
						'<script src="/static/js/styleswitcher.js"><\/script>'+
						'<script src="/static/js/script.js"><\/script>';

				postscribe("#scp", s);
        		
        	});
		}
		*/

/*
		$(function () {
			var meta = document.createElement('meta');
			meta.setAttribute("property", "og:title");
			meta.content = "Descargar "+name+" | Hits Música";
			document.getElementsByTagName('head')[0].appendChild(meta);


			meta = document.createElement('meta');
			meta.setAttribute("name", "twitter:description");
			meta.content = "Descargar "+name+" | Hits Música";
			document.getElementsByTagName('head')[0].appendChild(meta);

			meta = document.createElement('meta');
			meta.setAttribute("name", "twitter:card");
			meta.content = "summary_large_image";
			document.getElementsByTagName('head')[0].appendChild(meta);

			meta = document.createElement('meta');
			meta.setAttribute("name", "twitter:title");
			meta.content = "Descargar "+name+" | Hits Música";
			document.getElementsByTagName('head')[0].appendChild(meta);

			meta = document.createElement('meta');
			meta.setAttribute("name", "og:url");
			meta.content = "http://www.hitsve.com/player/?q="+q+"&name="+name;
			document.getElementsByTagName('head')[0].appendChild(meta);


		});
*/
    </script>


{% endblock %}
<!--
    <meta property="og:url" content="http://www.hitsve.com/noticias/{{cancion.slug}}/" >


    <meta name="twitter:site" content="@nytimes">
    <meta name="twitter:creator" content="@SarahMaslinNir">
    -->
