{% extends 'base.html' %}


{% block title %}
{{playlist.name}} - Hits Música
{% endblock %}

{% block styles %}
<div id="target-style">
    <link href="/static/css/profile.css" rel="stylesheet" >
</div>
{% endblock %}


{% block body %}
<div id="target-body">
<div class="panel panel-default">
    <div class="panel-body">		
  
        <div class="row">
            <div class="col-md-5 col-md-offset-1 watch-card">
                <div class="artist-title col-md-12">
                    <a href="">{{playlist.name}}</a><br/>
                    <span>{{playlist.user}}</span>
                </div>
                {% if playlist.user.username == request.user.username %}
                    <a href="{% url 'player:delete_playlist_ajax' playlist.id %}" class="delete-playlist" data-id="{{playlist.id}}">Eliminar</a>
                {% endif %}
                <div class="artist-collage col-md-12">
                    <span class="play-mix"><span data-name="{{playlist.name}}" data-id="{{playlist.id}}" data-url="playlist" class="btn btn-danger play-mix-btn to-play-list"> <span>►</span> Reproducir Lista</span></span>
                    <div class="col-md-6"><img src="/{{playlist.songs.first.photo|default:'static/images/logos/logo2.png'}}" alt="artist-image" width="200" height="200"></div>
                    <div class="col-md-6 collage-rhs">
                        <div class="col-md-12"><img src="/{{playlist.songs.last.photo|default:'static/images/logos/logo2.png'}}" alt="artist-image" width="100" height="100"></div>
                        <div class="col-md-12">
                            <img src="
                        /static/images/logos/logo2.png" alt="artist-image" width="100" height="84">
                        </div>        
                    </div>
                </div>
                <div class="listing-tab col-md-12">
                      <!-- Nav tabs -->
                      <ul class="nav nav-tabs" id="myTabs" role="tablist">
                        <li role="presentation" class="active"><a href="#track" aria-controls="track" role="tab" data-toggle="tab">Canciones</a></li>
                        
                      </ul>
                    
                      <!-- Tab panes -->
                      <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="track">
                            <ul>
                                {% for cancion in playlist.songs.all %}
                                <li>
                                    <a href="{% url 'player:detail_cancion' cancion.slug %}" target="_blank" data-toggle="tooltip" title="Descargar">{{cancion.name}}</a>    
                                    <span>{{cancion.duration}}</span>
                                    
                                    <span data-name="{{cancion.name}}" data-id="{{cancion.id}}" data-photo="{{cancion.photo}}" class="pull-right fa fa-ellipsis-h fa-2x mas get-more" data-toggle="popover" ></span>
                                    
                                    {% if playlist.user.username == request.user.username %}
                                    <a href="/player/playlist/{{playlist.id}}/delete/{{cancion.id}}" class="pull-right fa fa-times mas " data-toggle="tooltip" title="Sacar del album"></a>
                                    {% endif %}
                                </li>
                                {% empty %}
                                <span> No hay canciones </span>
                                {% endfor %}
                                
                            </ul>
                          
                        </div>
                        
                      </div>
                </div>

               
            </div>

            <div class="related-artist col-md-5 col-md-offset-0">
                <h3>Listas Relacionadas</h3>
                <div class="col-md-12">
                    {% for rel in relacionados %}
                    <div class="col-md-4 artist-next"><a href="{% url 'player:detail_playlist' rel.id %}"><img src="/{{rel.songs.first.photo|default:'static/images/logos/logo2.png'}}" alt="" ></a>{{rel.name}}</div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</div>

</div>
{%endblock%}


{% block scripts %}
<div id="target-script">
<script type="text/javascript">


    $('.get-more').popover({
        title: "Acciones", 
        html:true, 
        trigger: 'manual',
        content:'<div class="morepopcontent"> </div>',
        placement: "bottom"
    }).click(function(e) {
        $(this).popover('toggle');
        b(this);
    });


    function b(button) {
        return $(".popover-content .morepopcontent").html('<button class="btn btn-danger btn-lg  fa fa-plus-circle add-playlist" data-toggle="tooltip" title="Agregar a mis Playlists" data-id="'+$(button).attr("data-id")+'" data-toggle="popover" ></button>'+
        
            '<button data-name="'+$(button).attr("data-name")+'" data-id="'+$(button).attr("data-id")+'" data-photo="'+$(button).attr("data-photo")+'" class="btn btn-danger btn-lg  fa fa-list-ul add-to-play" data-toggle="tooltip" title="Agregar a lista actual "></button>'+

            '<button data-name="'+$(button).attr("data-name")+'" data-id="'+$(button).attr("data-id")+'" data-photo="'+$(button).attr("data-photo")+'" class="btn btn-danger btn-lg  fa fa-play only-play" data-toggle="tooltip" title="Reproducir"></button>'
        )
    }
    


</script>
</div>
{% endblock %}