{% extends 'base.html' %}


{% block title %}
Canciones de {{username}} - Hits Música
{% endblock %}

{% block styles %}
<div id="target-style">
    <link href="/static/css/searchmore.css" rel="stylesheet">
</div>
{% endblock %}


{% block body %}

<div id="target-body">
<div class="container">
    <div class="row">
		<div class="well">
		<br />
        <h1 class="text-center">Canciones de {{username}}</h1>
        <ul class="list-group">
            {% for cancion in canciones %}
                <li  class="list-group-item">
                    <div class="media col-md-3">
                        <figure class="pull-left">
                            <img class="media-object img-rounded img-responsive "  src="/{{cancion.photo}}" alt="placehold.it/350x250" >
                        </figure>
                    </div>
                
                    <div class="col-md-6">
                        <h4 class="list-group-item-heading">{{cancion.name|title}}</h4>
                        <p class="list-group-item-text"> {{ cancion.artists.all|join:"  X " }}</p>
                        <p class="list-group-item-text">Fecha de Lanzamientio: {{ cancion.release_date }}</p>
                        {% if cancion.album %}
                        <p class="list-group-item-text">Album: {{ cancion.album.name }}</p>
                        {% endif %}
                    </div>
                    <div class="col-md-3 text-center">
                        <h4> {{cancion.num_views }} <small> Reproducciones </small></h4>
                        <div>
                            <div class="minibotones">
                                <a href="{% url 'player:detail_cancion' cancion.slug %}" class="btn btn-danger btn-lg btn-block" target="_blank" data-toggle="tooltip" title="Descargar">Descargar</a>
                                <button class="btn btn-danger btn-lg  fa fa-plus-circle add-playlist" data-toggle="tooltip" title="Agregar a mis Playlists" data-id="{{cancion.id}}" data-toggle="popover" ></button>
                                <button data-name="{{cancion.name}}" data-id="{{cancion.id}}" data-photo="{{cancion.photo}}" class="btn btn-danger btn-lg  fa fa-list-ul add-to-play" data-toggle="tooltip" title="Agregar a lista actual "></button>
                                <button data-name="{{cancion.name}}" data-id="{{cancion.id}}" data-photo="{{cancion.photo}}" class="btn btn-danger btn-lg  fa fa-play only-play" data-toggle="tooltip" title="Reproducir"></button>
                            </div>
                            {% if request.user.username == username %}
                            <div class="minibotones">
                                <button data-toggle="popover" data-id="{{cancion.id}}" type="button" class="btn btn-danger btn-lg btn-block delete-song">Eliminar</button>
                                <a href="{% url 'player:update_cancion' cancion.id %}" class="btn btn-danger btn-lg btn-block">Editar</a>
                            </div>
                            {% endif %}
                        </div>
                       
                       
                    </div>
                </li>

            {% empty %}
            <h3 class="text-center">No hay canciones relacionadas con tu busqueda</h3>
        
            {% endfor %}
        </ul>
            <div class="text-center">
                {% if canciones.has_other_pages %}
                    <ul class="pagination text-center">
                        {% if users.has_previous %}
                            <li><a class="link-pag" href="?page={{ canciones.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in canciones.paginator.page_range %}
                            {% if canciones.number == i %}
                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li><a class="link-pag" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if canciones.has_next %}
                            <li><a class="link-pag"  href="?page={{ canciones.next_page_number }}">&raquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>

        </div>
	</div>
</div>

</div>
{% endblock %}

{% block scripts %}

<div id="target-script">
<script type="text/javascript">
    $('.delete-song').popover({
            title: "¿Estas seguro que quieres eliminar?", 
            html:true, 
            trigger: 'manual',
            content:'<div>Se borrara de forma perminete y no podrás recuperarla</div>'+
                    '<div>'+
                        '<button type="button" class="btn btn-danger btn-lg btn-block borrar-song">Aceptar</button>'+
                    '</div>',
            placement: "top"
        }).click(function(e) {
            $(this).popover('toggle');

            var n = $(this).attr("data-id");

            $(".borrar-song").click(function () {
                var csrftoken = getCookie('csrftoken');
                var content = $('#list-name').val();


                alert(n);

                $.ajax({
                    type: 'POST',
                    url: "/player/delete/"+ n,
                    data: {csrfmiddlewaretoken : csrftoken, name:content},
                    dataType: 'json',
                    success: function (data) {
                        if (data)
                            window.location = "/usuarios/profile/{{username}}/canciones";
                        else
                            console.log("error"); 
                        
                    },
                    error : function(xhr,errmsg,err) {
                        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                    }
                });
            });
                
        });




    

    //For getting CSRF token
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    
</script>

</div>
{% endblock %}