

{% extends 'base.html' %}


{% block title %}
Listas de reproducción - Hits Albums
{% endblock %}

{% block styles %}
<div id="target-style">
    <link href="/static/css/searchmore.css" rel="stylesheet">
</div>
{% endblock %}


{% block body %}
<div id="target-body">
	<div class="container">
    <div class="row">
		<div class="well">
		<br />
        <h1 class="text-center">Listas de reproducción</h1>
        <ul class="list-group">
            {% for playList in playLists %}
                <li class="list-group-item">
                    <div class="media col-md-3">
                        <figure class="pull-left">
                            <img class="media-object img-rounded img-responsive "  src="/{{playList.songs.first.photo}}" alt="placehold.it/350x250" >
                        </figure>
                    </div>
                
                    <div class="col-md-6">
                        <h4 class="list-group-item-heading">{{playList.name|title}}</h4>
                        <p class="list-group-item-text"> {{ playList.num_canciones }} canciones</p>
                    </div>
                    <div class="col-md-3 text-center">
                        <h2> {{playList.num_views }} <small> Reproducciones </small></h2>
                        <a href="{% url 'usuarios:playList_user' username playList.id %}" class="btn btn-danger btn-lg btn-block"> Ver </a>
                        <button data-name="{{playList.name}}" data-id="{{playList.id}}" data-url="playlist" type="button" class="btn btn-danger btn-lg btn-block to-play-list">Reproducir</button>
                       
                       
                    </div>
                </li>
            {% empty %}
            <h3 class="text-center"> no tiene playLists</h3>
            {% endfor %}
        </ul>
            <div class="text-center">
                {% if playLists.has_other_pages %}
                    <ul class="pagination text-center">
                        {% if playLists.has_previous %}
                            <li><a class="link-pag" href="?page={{ playLists.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in playLists.paginator.page_range %}
                            {% if playLists.number == i %}
                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li><a class="link-pag" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if playLists.has_next %}
                            <li><a class="link-pag"  href="?page={{ playLists.next_page_number }}">&raquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
	</div>
</div>

</div>
{% endblock %}