{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block body %}


<h1>{{song.name}}</h1>

<a id="download" > Descargar </a>

{% endblock %}

{% block scripts %}
<script>
    $('document').ready(function () {
        if ("{{song.file}}" == ""){
            alert("dsfs");
            $.ajax({
                type: 'GET',
                url: "/player/getlink",
                data: {'id':'{{song.id}}'},
                dataType: 'json',
                success: function (url) {
                    alert(url);
                    $("#download").attr('href',''+url);
                    $("#download").attr('download','download');
                }
            });

            $("#download").click(function () {
                alert("1");
                $.ajax({
                    type: 'POST',
                    url: "/player/sum/{{song.id}}",
                    data: {'id_you':'{{song.id_youtube}}'},
                    dataType: 'json',
                    success: function (data) {
                        alert(data);
                    }
                });
                
            });

            //window.location.href = "{{song.link_download}}"
                //window.open("{{song.link_download}}", '_blank');
        }else{
            $("#download").click(function () {
                
                window.open("/player/download/{{song.id}}", "_parent");
            });
            //$("#download").attr('href','/player/download/{{song.id}}');
            //$("#download").attr('download','download');
            //window.open("/player/download/{{song.id}}", '_blank');
       }
    });

    (function() {

	}).call(this);
</script>
{% endblock %}



