{% extends 'base.html' %}

{% load groups %}

{% block title %}
Descargar {{cancion.name}} - Hits Música
{% endblock %}

{% block meta %}
    <meta property="og:title" content='Descargar {{cancion.name|title}} - {{ cancion.artists.all|join:"  X " }} | Hits Música'>
    <meta property="og:image" content="http://www.hitsve.com/{{cancion.photo}}" >
    <meta property="og:url" content="http://www.hitsve.com/noticias/{{cancion.slug}}/" >

    <meta name="twitter:card" content="summary_large_image">
    <!--<meta name="twitter:site" content="@nytimes">
    <meta name="twitter:creator" content="@SarahMaslinNir">
    -->
    <meta name="twitter:description" content='Descargar {{cancion.name}} - {{ cancion.artists.all|join:"  X " }} | Hits Música'>
    <meta name="twitter:title" content='Descargar {{cancion.title|title}} - {{ cancion.artists.all|join:"  X " }}'>
    <meta name="twitter:image" content="http://www.hitsve.com/{{cancion.photo}}">
{% endblock %}

{% block keywords %} 
descargar,{{cancion.name|split|join:", "}}
{% endblock %}

{% block styles %}
<div id="target-style">
    <link href="/static/css/postvideo.css" rel="stylesheet" type="text/css" /> 
</div>
{% endblock %}


{% block body %}

<div id="target-body">

	<script type="text/javascript" charset="utf-8" src="/static/js/app/jquery.tubular.1.0.js" ></script>

    <script type="text/javascript" charset="utf-8">
        
        $('document').ready(function() {
            var options = { videoId: '{{cancion.id_youtube}}', start: 0 };
            $('#wrapper').tubular(options);

        });
    </script>


<div id="fb-root"></div>
    <script  type="text/javascript" charset="utf-8">
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.9";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

<div id="wrapper" class="clearfix" >

	<div id="main">
    <div id="botones" class="btnrepro">
	   <center>
       <p style="font-size: 25px;">{{cancion.name|title}}</p>
       <p>{{ cancion.artists.all|join:"  X " }}</p>
       <br />
       <br />
		<p id="video-controls" ><br/>

        <button type="button" class="btn btn-danger btn-circle btn-xl-2 btn-transparent tubular-play"><i class="fa fa-play-circle-o fa-5x "></i></button>

		<button type="button" class="btn btn-danger btn-circle btn-xl-2 btn-transparent tubular-pause"><i class="fa fa-pause-circle-o fa-5x "></i></button> <br />

		<button type="button" data-toggle="popover" title="Subir Volumen" class="btn btn-danger  btn-circle btn-xl-2 btn-transparent tubular-volume-up"><i class="fa fa-volume-up fa-5x "></i></button>
        <button type="button" data-toggle="popover" title="Mute" class="btn btn-danger  btn-circle btn-xl-2 btn-transparent tubular-volume-down"><i class="fa fa-volume-off fa-5x "></i></button>
		
        <button type="button" data-toggle="popover" data-id="{{cancion.id}}" title="Agregar a Mis Listas" class="btn btn-danger btn-circle btn-xl-2 btn-transparent add-playlist"><i class="fa fa-plus-circle fa-5x "></i></button>


        <a download="download" id="download" style="text-decoration: none;"> <button type="button" class="btn btn-danger btn-block btn-circle btn-xl btn-trabsparent"><i class="fa fa-arrow-circle-o-down fa-3x "></i><br />Descargar</button></a>

        </p>
        </center>
    </div>  


	
	

<div class=" comments">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    	
        <div class="panel panel-white post panel-shadow">
            <div class="post-heading">
                
                
            </div> 
           	<div class="col-md-11">
                    <ul class="social-network social-circle">
                    
                        <li><a class="fb-xfbml-parse-ignore icoFacebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.hitsve.com%2Fplayer%2F{{cancion.slug}}%2F&amp;src=sdkpreparse" data-toggle="tooltip" title="Compartir en Facebook"><i class="fa fa-facebook"></i></a></li>
                        <a href="#" ></i></a>
                        <li><a href="https://twitter.com/share?hashtags=hitsve&text=Descarga%20y%20escucha%20tu%20música%20favorita" target="_blank"  class="icoTwitter" data-text="Descarga y escucha tu música favorita" data-lang="es" data-size="large" data-hashtags="hitsve" data-dnt="true" data-toggle="tooltip" title="Compartir en Twitter"><i class="fa fa-twitter"></i></a></li>
                        <!--<li><a href="#" class="icoGoogle" data-toggle="tooltip" title="Compartir en Google +"><i class="fa fa-google-plus"></i></a></li>-->
                        {% if user_log in cancion.likes.all %}
                        <li>
                            <a onclick="like('{{cancion.id}}')" data-name="like" data-ajax="false"  style="background-color: #BD3518; color: #fff;" class="icoGoogle pull-right like" data-toggle="tooltip" title="Quitar de Favoritas">
                                <i style="color: #fff" class="fa fa fa-heart"></i>
                            </a>
                        </li>
                        {% else %}
                        <li><a onclick="like('{{cancion.id}}')" data-name="like" data-ajax="false"  class="icoGoogle pull-right like" data-toggle="tooltip" title="Agregar a Favoritas"><i class="fa fa fa-heart"></i></a></li>
                        {% endif %}
                        <li>
                            <a href="{% url 'player:delation' %}?s={{cancion.id}}" target="_blank" class="icoGoogle pull-right" data-toggle="tooltip" title="Reportar (Denunciar)"><i class="fa fa fa-flag"></i>
                            </a>
                        </li>
                         
                        
                        
                    </ul>				
				</div>
                <br />
                <br />
                <br />
                <br />
                <br />

                
                
                <div id="mostrar-letra" class="black-50">
                <li><a data-name="letra" data-ajax="false" style="text-decoration: none;"  id="leter"  class="icoGoogle " data-toggle="tooltip" title="Ver Letra"><h3>Ver Letra... </h3></a></li>
                    <div id="letra" style="display:none;">
                        {{cancion.lyric|safe|default_if_none:'No tenemos la letra :C'}}
                </div>
                </div>

				<br />
            <h3>Comentarios</h3>
			
            <div class="black-50 post-footer">
                {% if request.user.is_authenticated %}
                <form method="POST" id="post-form">
                    {% csrf_token %}
                    <p class="errorlist"></p>
                    <div class="input-group"> 
                        <input class="form-control input-comment" id="content" name="content" placeholder="Comentar..." type="text">
                        <span class="input-group-addon">
                            <a href="#" data-name="commentar" id="commentar"><i class="fa fa-edit"></i></a>  
                        </span>
                    </div>
                </form>
                {% else %}
                    <div class="input-group">
                        <h4><a href="/usuarios/login?next=/player/{{cancion.slug}}/"> Inicia sesión para poder comentar </a></h4>
                    </div>
                {% endif %}
                <div class="div-comment">
                    
                </div>
            </div>
        </div>
    </div>
</div>

<center>
<script type="text/javascript">
var ad_idzone = "2707984",
     ad_width = "300",
     ad_height = "50";
</script>
<script type="text/javascript" src="https://ads.exdynsrv.com/ads.js"></script>
<noscript><a href="https://main.exdynsrv.com/img-click.php?idzone=2707984" target="_blank"><img src="https://syndication.exdynsrv.com/ads-iframe-display.php?idzone=2707984&output=img&type=300x50" width="300" height="50"></a></noscript>
</center>
<center>
 <div  class="container " >
            <div class="row">
                        <h3 style="color: white;">Recomendados</h3>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <div id="team-section" class="black-50">
                    
                        <div class="our-team">

                            {% for rel in relacionados %}
                            <div class="team-member">
                                <img src="/{{rel.photo}}" class="img-responsive" alt="">
                                <div class="team-details">
                                    <h4>{{rel.name}}</h4>
                                    <p>{{ rel.artists.all|join:"  X " }}</p>
                                    <ul>
                                        <li><a href="{% url 'player:detail_cancion' rel.slug %}" data-ajax="false" data-toggle="tooltip" title="Descargar"><i class="fa fa-arrow-circle-o-down"></i></a></li>
                                        <li><a href=""  data-ajax="true" data-name="{{rel.name}}" data-id="{{rel.id}}" data-photo="{{rel.photo}}" data-toggle="tooltip" title="Reproducir" class="only-play"><i class="fa fa-play "></i></a></li>
                                    </ul>
                                </div>
                            </div>

                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
                <center>
<script type="text/javascript">
  ( function() {
    if (window.CHITIKA === undefined) { window.CHITIKA = { 'units' : [] }; };
    var unit = {"calltype":"async[2]","publisher":"hitsve","width":300,"height":250,"sid":"Chitika Default"};
    var placement_id = window.CHITIKA.units.length;
    window.CHITIKA.units.push(unit);
    document.write('<div id="chitikaAdBlock-' + placement_id + '"></div>');
}());
</script>
<script type="text/javascript" src="//cdn.chitika.net/getads.js" async></script>
</center>
        </div>

        </center>
    </div>  

</div>
<!-- #wrapper --> 

</div>
{%endblock%}

{% block scripts %}
<div id="target-script">
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/jquery.fitvids.js"></script>
    <script src="/static/js/styleswitcher.js"></script>
    <!-- Custom Theme JavaScript --> 
    <script src="/static/js/script.js"></script>
<script type="text/javascript">



$(document).ready(function(){ 

        $('#letra-lyrics').on('click',function(){
            $('#sidebar').toggle('slow');
        });

        $("#video-controls" ).on('mouseenter', function(){
            $("#botones").fadeTo('slow',1);
        });
        $("#video-controls" ).on('mouseleave', function(){
            $("#botones").fadeTo('slow', 0);
        });

        

        $("#leter" ).on('click', function(){
            $("#letra").toggle('slow');
        });



        $("#post-form").submit(function (e) {
            e.preventDefault();
            var csrftoken = getCookie('csrftoken');
            var content = $('#content').val();
            $.ajax({
                type: 'POST',
                url: "{% url 'player:comment_cancion' %}",
                data: {'id' : "{{cancion.id}}", csrfmiddlewaretoken : csrftoken, content:content},
                dataType: 'json',
                success: function (data) {

                    if(data["error"]){
                        $("#content").val("");
                        $(".comments-list").prepend(
                            '<li class="comment">'+
                                '<a class="pull-left" href="/usuarios/profile/'+data["name"]+'">'+
                                    '<img class="avatar" src="/'+data["photo"]+'" alt="avatar">'+
                                '</a>'+
                                '<div class="comment-body">'+
                                    '<div class="comment-heading">'+
                                        '<a href="/usuarios/profile/'+data["name"]+'"><h4 class="user">'+data["name"]+'</h4></a>'+
                                        '<h5 class="time">'+data["time"]+'</h5>'+
                                    '</div>'+
                                    '<p>'+data["content"]+'</p>'+
                                '</div>'+
                            '</li>'
                        )
                    }else{
                        $("p.errorlist").text('');
                        $("p.errorlist").prepend(data.errorlist);
                    }
                },
                error : function(xhr,errmsg,err) {
                    $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                        " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
              });
        });

        $("input.input-comment").click(function () {
            $("p.errorlist").text("");
        });

        $(".tubular-play").hide();
        $(".tubular-pause").show();
        $(".tubular-play").click(function () {
            $(".tubular-play").hide();
            $(".tubular-pause").show();
        });

        $(".tubular-pause").click(function () {
            $(".tubular-play").show();
            $(".tubular-pause").hide();
        });

        $(".tubular-volume-down").show();
        $(".tubular-volume-up").hide();

        $(".tubular-volume-down").click(function () {
            $(".tubular-volume-down").hide();
            $(".tubular-volume-up").show();
        });

        $(".tubular-volume-up").click(function () {
            $(".tubular-volume-down").show();
            $(".tubular-volume-up").hide();
        });

        $("#commentar").click(function(e) {
            e.preventDefault();

            var csrftoken = getCookie('csrftoken');
            var content = $('#content').val();
            $.ajax({
                type: 'POST',
                url: "{% url 'player:comment_cancion' %}",
                data: {'id' : "{{cancion.id}}", csrfmiddlewaretoken : csrftoken, content:content},
                dataType: 'json',
                success: function (data) {

                    if(data["error"]){
                        $("#content").val("");
                        $(".comments-list").prepend(
                            '<li class="comment">'+
                                '<a class="pull-left" href="/usuarios/profile/'+data["name"]+'">'+
                                    '<img class="avatar" src="/'+data["photo"]+'" alt="avatar">'+
                                '</a>'+
                                '<div class="comment-body">'+
                                    '<div class="comment-heading">'+
                                        '<a href="/usuarios/profile/'+data["name"]+'"><h4 class="user">'+data["name"]+'</h4></a>'+
                                        '<h5 class="time">'+data["time"]+'</h5>'+
                                    '</div>'+
                                    '<p>'+data["content"]+'</p>'+
                                '</div>'+
                            '</li>'
                        )
                    }else{
                        $("p.errorlist").text('');
                        $("p.errorlist").prepend(data.errorlist);
                    }
                },
                error : function(xhr,errmsg,err) {
                    $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                        " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
              });
        }); 
        

        //For getting CSRF token
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        $.urlParam = function(name,link){
            var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(link);
            if (results == null)
                return 1;
            return results[1] || 0;
        }

        // example.com?param1=name&param2=&id=6
        var page = parseInt($.urlParam('page', window.location.href));  

        $.ajax({
            type: 'GET',
            url: "{% url 'player:comment_paginar' %}",
            data: {'id' : "{{cancion.id}}", 'page':page},
            dataType: 'html',
            success: function (data) {
                $(".div-comment").html(data);
                
            },
            error : function(xhr,errmsg,err) {
                $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                    " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });

        //contar visita
        
        setTimeout(sum_view,20000,"{{cancion.id}}");
        var csrftoken2 = getCookie('csrftoken');
        function sum_view(id) {
            $.ajax({
                type: 'POST',
                url: "/player/ajax/viewsong",
                data: {'id' : id, csrfmiddlewaretoken : csrftoken2},
                dataType: 'json',
                success: function (data) {

                },
                error : function(xhr,errmsg,err) {
                    
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
            });  
        }
        


        if ("{{cancion.file}}" == ""){
            $.ajax({
                type: 'GET',
                url: "/player/getlink",
                data: {'id':'{{cancion.id}}'},
                dataType: 'json',
                success: function (url) {
                    $("#download").attr('href',''+url);
                }
            });
        }else{
            $("#download").click(function () {
                
                window.open("/player/download/{{cancion.id}}", "_parent");
               
            });
            //$("#download").attr('href','/player/download/{{song.id}}');
            //$("#download").attr('download','download');
            //window.open("/player/download/{{song.id}}", '_blank');
        }

        $("#download").click(function () {
            $.ajax({
                type: 'POST',
                url: "/player/sum/{{cancion.id}}",
                //data: {'id_you':'{{song.id_youtube}}'},
                dataType: 'json',
                success: function (data) {
                }
            });
            
        });

});


function like(id){
    $.ajax({
        type: 'POST',
        url: "{% url 'player:like_cancion' %}",
        data: {'id_song' : parseInt(id)},
        dataType: 'json',
        success: function (data) {
            if(data.response){
                if (data.like) {
                    $(".like").css("background-color","#BD3518");
                    $(".like > i").css("color","#fff");
                } else {
                    $(".like").css("background-color","transparent");
                    $(".like > i").css("color","#BD3518");
                }
            }
        }
    });
}
</script>
</div>
{% endblock %}