
{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head >
	<meta charset="ISO-8859-1"> 
	<title> {% block title %} {% endblock %} </title>
    <link rel="icon" href="/static/images/logos/logo3.png">
    <meta name="generator" content="Django 1.11" />
    <meta name="copyright" content="hitsve.com" />

    <meta name="description" content="Noticias del mundo de la musica, descargas y streaming de canciones" />
     <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="keywords" content="descargar, bajar, canciones, albums, discos, playlist, streaming, {% block keywords %} {% endblock %}" />

    <meta name="exoclick-site-verification" content="3916b084fd82152462b32245d65cc419">

    {% block meta %}
    {% endblock %}
    <!-- Bootstrap Core CSS -->
    <link href="/static/asset/css/bootstrap.min.css" rel="stylesheet">
    
    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/postscribe/2.0.8/postscribe.min.js"></script> -->
    
    <link href="/static/css/main/main.css" rel="stylesheet">
    <!-- Font Awesome CSS -->
    <link href="/static/css/main/font-awesome.min.css" rel="stylesheet">

    <script type="text/javascript" src="/static/js/app/pace.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/dataurl.css" title="green">

    <script src="https://use.fontawesome.com/af3e34158f.js"></script>
   
    </script>

    <div id="target-main-style">
    {% block styles %}
    {% endblock %}


    </div>
</head>
<body>

{% include 'menu.html' %}

{% block body %}

{% endblock %}


<footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xs-12 text-center">
                    &copy; 2017 <a target="_blank" href="http://hitsve.com/" title="Toda tu musica en un solo sitio">HitsVe</a>. Todos los derechos Reservados.
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="footer-social text-center">
                        <ul>
                            <!--<li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
                            <li ><a class="face"  href="https://www.facebook.com/Hits-Music-174675136396634/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="insta" href="https://www.instagram.com/hitsve/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            <li><a class="youtube" href="https://www.youtube.com/channel/UCiMImhgHIazhF5asdjPxgBg" target="_blank"><i class="fa fa-youtube"></i></a></li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 text-center">
                    <a href="{% url 'principal:terminos' %}">Terminos de uso</a>
                </div>
               
            </div>
        </div>

        
    </footer><!--/#footer-->

<script type="text/javascript">
var ad_idzone = "2727292",
    ad_width = "250",
    ad_height = "250",
    v_pos = "bottom",
    h_pos = "right",
    eventMethod = window.addEventListener ? "addEventListener" : "attachEvent",
    eventer = window[eventMethod],
    messageEvent = (eventMethod == "attachEvent") ? "onmessage" : "message";

    eventer(messageEvent, (function(ad_idzone){
        return function(e) { if (e.data == "show-iframe-" + ad_idzone) document.getElementById("sticky-banner-" + ad_idzone).style.display = ""; };
    })(ad_idzone), false);
</script>
<script type="text/javascript" src="https://ads.exdynsrv.com/js.php?t=17&idzone=2727292"></script>


<!-- jQuery Version 2.1.1 -->
<script src="/static/js/jquery-2.1.4.min.js"></script>
<!-- Bootstrap Core JavaScript -->

<script src="/static/asset/js/bootstrap.min.js"></script>





<script type="text/javascript">

    

    $(document).ready(function(){
        $(document).ajaxStart(function() { 
            Pace.start(); 
        });

        //modal ----
        if("{{request.user.username}}" == ""){
            setTimeout(function () {
                $('#myModal').modal('toggle');
            }, 20000);
            $(".modal-register").click(function () {
                $('#myModal').modal('toggle');
            });
            $(".modal-login").click(function () {
                $('#myModal').modal('toggle');
            });
            $(".close").click(function () {
                $('#myModal').modal('toggle');
            });
        }
        //fin Modal ----
        
    });
</script>


<!-- Plugin JavaScript 
    

-->

<div id="target-main-script">
{% block scripts %}

{% endblock %}
</div>




</body>
</html>