{% load groups %}
<header class="navbar navbar-inverse navbar-fixed-top wet-asphalt" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"  href="{% url 'principal:inicio' %}"><img src="/static/images/logos/logo3.png" alt="logo"></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    
                    <li><a href="/noticias">Noticias</a></li>
                    <li><a href="/player/">Canciones</a></li>
                    {% if request.user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuario <i class="icon-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            {% if request.user|has_group:"admin" %}
                            <li class="divider"></li>
                            <li><a> Admin  <span class="fa fa-user-o pull-right"></span></a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'player:crear_cancion' %}" class="amenu" >  Subir Canción  <span class="glyphicon glyphicon-log-out pull-right"></span></a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'player:crear_album' %}" class="amenu" >  Subir Album  <span class="fa fa-upload pull-right"></span></a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'player:listar_canciones' %}" class="amenu" >  Ver Canciones <span class="fa fa-music pull-right"></span></a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'player:listar_albums' %}" class="amenu" >  Ver Albumes  <span class="fa fa-music pull-right">
                            </span></a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'principal:listar_banner' %}" class="amenu" >  Ver banners  <span class="fa fa-music pull-right">
                            </span></a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'principal:crear_banner' %}" class="amenu" >  Crear banners  <span class="fa fa-music pull-right">
                            </span></a></li>
                            <li class="divider"></li>
                            {% endif %}
                            {% if request.user|has_group:"blogger" %}
                            <li><a> Noticias  <span class="fa fa-newspaper-o pull-right"></span></a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'noticias:listar_noticias' %}" class="amenu" >  Ver mis noticias  <span class="fa fa-file-text pull-right"></span></a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'noticias:crear_noticia' %}" class="amenu" >  Crear Noticia <span class="fa fa-plus-square pull-right"></span></a></li>
                            {% endif %}
                            <li class="divider"></li>
                            <li><a href="{% url 'usuarios:logout' %}">Cerrar Sesion</a></li>
                            
                        </ul>
                    </li>
                    {% endif %}
                    
                </ul>
            </div>
        </div>
    </header>