{% extends 'base.html' %}

{% block title %}
terminos de uso - Hits Música
{% endblock %}

	{% block body %}
	<div id="target-body">
	<div class="container" style="text-align: justify;">
	<center>
		
		<div class="col-md-10 col col-md-offset-1">
		<br />
		<br />
		<br />
		<br />
		<h3 style="color: grey;">Terminos y Condiciones de uso</h3>
		<hr>
		<br />
		<br />
		En esta página se describen las condiciones legales aplicables a todos los usuarios de Internet que accedan a este sitio web. Al visitar este Sitio Web usted acepta cumplir estas condiciones sin reservas. Le aconsejamos consultar regularmente estas condiciones, ya que pueden ser modificadas sin previo aviso.<br />
		<br />
Hitsve.com está destinado a la distribución de mp3s con fines de promoción y  está  en contra de la piratería y reprueba cualquier comportamiento ilícito y contrario a los derechos de propiedad intelectual o de otra índole.
El usuario se compromete a hacer un uso adecuado y lícito del sitio web y de sus contenidos, de conformidad con la Legislación aplicable, el presente aviso, la moral y buenas costumbres generalmente aceptadas y el orden público. De esta forma, el usuario deberá abstenerse de hacer un uso no autorizado o fraudulento del website y/o de los contenidos con fines o efectos ilícitos, así como de introducir o difundir en la red virus informáticos o cualesquiera otros sistemas físicos o lógicos que sean susceptibles de provocar daños en los sistemas físicos o lógicos de la página, de sus proveedores o de terceros.
En el caso de que así se estime oportuno o le sea requerido por orden judicial o administrativa, hitsve.com, eliminará los enlaces a aquellas páginas web o archivos que infrinjan la legalidad.<br />
<br />
Esta página es de carácter gratuito y privado. Por ello el acceso a la misma puede estar restringido, reservándose el derecho de admisión y, por consiguiente, no somos responsables de disfunciones o fallos en el acceso o visualización de la página.
Todo la información recogida va destinada al efectivo cumplimiento de los derechos recogidos en el artículo 31 RD/1/1996 por el que se aprueba el texto refundido de la Ley de la Propiedad Intelectual (LPI) en especial referencia al artículo 31.2 LPI, y en concordancia con lo expresado en el artículo 100.2 de esta misma ley.<br />
<br />
Todos los archivos (mp3, imágenes y videos) de esta web han sido exclusivamente sacados de sitios públicos de Internet, por lo que este material es considerado de libre distribución. En ningún artículo legal se menciona la prohibición de material libre por lo que esta página no infringe en ningún caso la ley.
<br />
<br />
En ningún caso esta página apoya la piratería, es más, la rechaza frontalmente.
Si pretendes utilizar esta web y su material como epicentro de tus actos ilícitos e ilegales, te equivocas de lugar, y todo mal acto que hagas será responsabilidad tuya y en ningún caso de los Web Masters.
<br />
<br />
Nos reservamos el derecho de vetar la entrada a cualquier sujeto a nuestro website y a su vez se reserva el derecho de prohibir el uso de cualquier programa y/o información, en concordancia con los derechos de autor otorgados por el artículo 14 LPI.
Si en tu país, este tipo de página está prohibido, TÚ y solo TÚ eres el culpable de esto. Si sabes que no puedes descargar archivos (mp3, imágenes y videos)  no entres.
<br />
<br />
Todos los objetos en este sitio son característica privada y no se significan para la visión o ningunos otros propósitos el otro entonces espacio de la anchura de banda. Si usted no cumple con estos términos antes dichos usted está violando el código 431.322.12 del acto de la aislamiento del Internet que significa que usted no puede amenazar a nuestro ISP(s) o a ninguna compañía de la persona que almacena estos archivos, no puede procesar ningún persona afiliada con esta página que incluya a la familia, a los amigos o a individuos que funciona o entra en este Web site.
<br />
<br />


Si crees que algún material de los que están en esta web infringe tu derecho de autor y quieres que lo retiremos, por favor notifícalo al siguiente correo: hitsvenezuela@gmail.com
<br />
<br />
</div>
</center>
</div>
<div>
</div>
</div >
	{% endblock %}