/*===============================

Template Name: Hash
Author: Hastech
Author URI: http://hastech.company/
Version: 1.0
    
--------------------------------
    
CSS INDEX
=========

1. Base CSS
2. Home CSS
3. Home 2 CSS
4. Single video post page CSS
5. Single post page CSS
6. Single quote post page CSS
7. About page CSS
8. contact page CSS

================================*/

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

input{
   text-align:center;
}


.buscadormusica{
  background-color: #ff432e;
  

  
 -moz-border-radius: 9px;
 -webkit-border-radius:9px;
 padding: 10px;
 margin-bottom: 10px;
 margin-top: 10px;
}

#custom-search-input {
        margin:0;
        margin-top: 10px;
        padding: 0;
    }
 
    #custom-search-input .search-query {
       
        margin-bottom: 12px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }
 
    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#D9230F;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }


/* =============================
1. Base CSS
================================*/

.floatleft { float: left }
.floatright { float: right }
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0px solid }
img {
    max-width: 100%;
    height: auto;
}
.fix { overflow: hidden }
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
html,
body { height: 100% , background-color: #2c2c2c; }
body { font-family: 'Lato', sans-serif; }
.section_padding { padding-top: 38px; }
.section-gray { background-color: #6E6B6A}
.section-dark {
    background-color: #110C09;
    color: #fff;
}
a { transition: .3s }
a:hover { color: #000 }
.display_block {display:block;}
.display_none {display:none;}

/* =========================
2. Home CSS
============================*/

.bl_single_text h4, .br_single_text h4, .left_fashion.main_nav_box ul li a, .single_fs_news_left_text h4, .single_fs_news_right_text h4, .news_pagination ul.news_pagi li a, .purchase_sidebar_text h2, .purchase_sidebar_text p, .footer_bottom p {
	font-family: 'Roboto', sans-serif;
}
.bl_single_text h4 {
	font-weight:700;
}
.br_single_text h4, .left_fashion.main_nav_box ul li a, .single_fs_news_left_text h4 {
	font-weight:500;
}
.single_fs_news_left_text a:hover, .single_fs_news_right_text a:hover, .fasion_right ul li a:hover {
  color: #C66196;
  text-decoration:none;
}

.header_search {
    position: absolute;
    right: 25px;
    top: 0;
}
.header_search input[type="text"] {
  background-color: #333333;
  background-image: url("images/header_search.png");
  background-position: center center;
  background-repeat: no-repeat;
  border: 0 none;
  color: #ffffff;
  height: 20px;
  line-height: 73px;
  margin-top: 2px;
  padding: 0;
  text-indent: -999px;
  transition: all 0.3s ease-out 0s;
  width: 58px;
}
.header_search::after {
  background: #b6aa7f none repeat scroll 0 0;
  bottom: -3px;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  width: 100%;
}
.header_search input[type="text"]:focus {
  background-color: #000000;
  background-image: none;
  text-indent: 10px;
  width: 220px;
}
.header_search input[type="submit"] {
    display: none;
}
.header_top {
  background-color: #333333;
  padding: 15px 0 14px;
}
.news_twiks {
  float: left;
  margin-right: 5px;
  width: 60px;
}
.news_twiks h4 {
  color: #bb5a93;
  font-size: 11px;
  margin-bottom: 0;
  text-transform: uppercase;
}
.news_twiks_items {
  float: left;
  width: 84%;
  line-height:13px;
}
#carousel-example-generic1 p {
  color: #fff;
  font-size: 11px;
  margin-bottom: 0;
  margin-top: -1px;
  text-transform: uppercase;
}
.header_top_right {
  text-align: right;
}

.social_header {
  float: left;
  width: 96%;
}
.social_header ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.home_sidebar .single_fs_news_right_text h4 a {
  color: #333;
  font-size: 16px;
}
.home_sidebar .single_fs_news_right_text > p {
  color: #999999;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
}
.home_sidebar .follow_us_side .single_fs_news_right_text h4 {
  font-size: 11px;
  line-height: 14px;
}
.home_sidebar .single_fs_news_right_text a {
  color: #4099ff;
  font-size: 15px;
  margin-right: 5px;
}
.social_header ul li {
  display:inline-block;
}
.social_header ul li a {
  color: #fff;
  display: block;
  font-size: 13px;
  padding: 0 10px;
}
.social_header ul li a:hover {
  color: #C66196;
  text-decoration:none;
}
.social_header ul li a:focus {
  outline:none;
}
.header_search .header_submit {
  background-color: transparent;
  background-image: url("images/header_search.png");
  background-repeat: no-repeat;
  border: medium none;
  margin-left: 0;
  margin-top: 5px;
}
.header_top_left {
  margin-top: 4px;
}
.header_logo_area {
  padding: 20px 0;
  background-color: #333333;
  background-image: url("images/header_search.png");
  background-position: center center;
  background-repeat: no-repeat;
  border: 0 none;
}
.logo {
  margin-top: 10px;
}
.header_add {
  margin-left: 22px;
}
.mainnav {
  box-shadow: 0 2px 10px #eee;
}
.main_nav_box ul {
  list-style: outside none none;
  padding: 0;
}
.main_nav_box ul li {
  display: inline-block;
  margin-right: -4px;
  padding: 8px 0;
  position: relative;
}
.mega_menu {
  background: #ffffff none repeat scroll 0 0;
  border-bottom: 2px solid #c66196;
  box-shadow: 0 2px 10px #eeeeee;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 106px;
  transition: all 0.4s ease 0s;
  z-index: -1;
}
.main_nav_box ul li:hover .mega_menu {
  top:71px;
  opacity:1;
  transition: all 0.4s ease 0s;
  z-index: 9;
}
.main_nav_box ul li:hover a {
  color:#fff;
}
.main_nav_box ul li.nav_news:hover {
  background: #ff432e url("/static/images/nuevo/nav_news_hr.png") no-repeat scroll 27px 25px !important;
  transition: all 0.1s ease 0s;
}
.main_nav_box ul li.nav_fashion:hover {
  background: #ff432e url("/static/images/nuevo/nav_fashion_hr.png") no-repeat scroll 27px 25px !important;
  transition: all 0.1s ease 0s;
}
.main_nav_box ul li.nav_gadgets:hover {
  background: #ff432e url("/static/images/nuevo/nav_gadgets_hr.png") no-repeat scroll 27px 25px !important;
  transition: all 0.1s ease 0s;
}
.main_nav_box ul li.nav_lifestyle:hover {
  background: #ff432e url("/static/images/nuevo/nav_lifestyle_hr.png") no-repeat scroll 27px 25px !important;
  transition: all 0.1s ease 0s;
}
.main_nav_box ul li.nav_video:hover {
  background: #ff432e url("/static/images/nuevo/nav_video_hr.png") no-repeat scroll 27px 25px !important;
  transition: all 0.1s ease 0s;
}
.main_nav_box ul li.nav_features:hover {
  background: #ff432e url("/static/images/nuevo/nav_features_hr.png") no-repeat scroll 27px 25px !important;
  transition: all 0.1s ease 0s;
}
.main_nav_box ul li.nav_lifeguide:hover {
  background: #ff432e url("/static/images/nuevo/nav_lifeguide_hr.png") no-repeat scroll 27px 25px !important;
  transition: all 0.1s ease 0s;
}
.main_nav_box ul li:hover a {
  border-right:1px solid #ff432e;
}
.main_nav_box ul li.nav_news {
  background: rgba(0, 0, 0, 0) url("/static/images/nuevo/nav_news.png") no-repeat scroll 27px 25px;
  border-top: 2px solid #ff432e;
}
.main_nav_box ul li.nav_news a {
  position: relative;
}
.main_nav_box ul li.nav_news a::after {
  border-left: 1px solid #efefef;
  content: "";
  height: 54px;
  left: -22px;
  position: absolute;
  top: 0;
  width: 1px;
}
.main_nav_box ul li.nav_fashion {
  background: rgba(0, 0, 0, 0) url("/static/images/nuevo/nav_fashion.png") no-repeat scroll 27px 25px;
  border-top:2px solid #ff432e;
}
.main_nav_box ul li.nav_gadgets {
  background: rgba(0, 0, 0, 0) url("/static/images/nuevo/nav_gadgets.png") no-repeat scroll 27px 25px;
  border-top:2px solid #ff432e;
}
.main_nav_box ul li.nav_lifestyle {
  background: rgba(0, 0, 0, 0) url("/static/images/nuevo/nav_lifestyle.png") no-repeat scroll 27px 25px;
  border-top:2px solid #ff432e;
}
.main_nav_box ul li.nav_video {
  background: rgba(0, 0, 0, 0) url("/static/images/nuevo/nav_video.png") no-repeat scroll 27px 25px;
  border-top:2px solid #ff432e;
}
.main_nav_box ul li.nav_features {
  background: rgba(0, 0, 0, 0) url("/static/images/nuevo/nav_features.png") no-repeat scroll 27px 25px;
  border-top:2px solid #ff432e;
}
.main_nav_box ul li.nav_lifeguide {
  background: rgba(0, 0, 0, 0) url("/static/images/nuevo/nav_lifeguide.png") no-repeat scroll 27px 25px;
  border-top:2px solid #ff432e;
}
.main_nav_box ul li a {
  border-right: 1px solid #efefef;
  color: #444444;
  display: block;
  font-size: 13px;
  font-weight: 600;
  margin-left: 20px;
  padding: 18px 37px 18px 54px;
  text-transform: uppercase;
}
.main_nav_box ul li a:hover {
text-decoration:none;
}
.nav_news .single_mega ul li a::after {
  border-left: 0 solid #efefef;
}
.single_mega {
  float: left;
  margin-right: 1%;
  padding: 26px 10px 0;
  width: 32%;
}
.left_fashion.main_nav_box ul li.nav_fashion:hover {
  background: rgba(0, 0, 0, 0) url("/static/images/nuevo/music.png") no-repeat scroll 27px 25px !important;
}
.header_fasion .main_nav_box ul li.nav_gadgets:hover {
  background: rgba(0, 0, 0, 0) url("/static/images/nuevo/nav_gadgets_h.png") no-repeat scroll 27px 25px !important;
}
.left_fashion.main_nav_box ul li.nav_lifestyle:hover {
  background: rgba(0, 0, 0, 0) url("/static/images/nuevo/life_icon_post.png") no-repeat scroll 27px 25px !important;
}
.single_mega.single_mega3 {
  float: left;
  margin-right: 0;
  width: 32%;
}
.single_mega > ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.single_mega ul li {
  display: block;
}
.single_mega ul li a {
  border-bottom: 1px solid #efefef;
  border-left: 0 solid #efefef;
  border-right: 0 solid !important;
  color: #444444 !important;
  font-family: "Roboto",sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding: 3px 0;
  text-transform: inherit;
}

.single_mega ul li.last-child a {
  border-bottom: 0px solid #efefef;
}
.single_mega ul li a:hover {
  color: #42a9f1 !important;
}
.single_mega ul li a:hover {
  color:#42a9f1;
}
.single_mega ul li.active a {
  color: #42a9f1 !important;
}
.single_mega.single_mega2 {
  margin-top: 15px;
}
.single_mega.single_mega3 {
  margin-top: 15px;
}
.sub_menu.single_mega {
  background: #ffffff none repeat scroll 0 0 !important;
  margin-right: 0;
  width: 196px;
}
.sub_menu.single_mega ul li a {
  font-weight: 400;
  margin-left: 0;
  padding: 0 27px 12px;
  text-transform: uppercase;
}
.sub_menu.single_mega {
  background: #ffffff none repeat scroll 0 0 !important;
  border-bottom: 2px solid #c66196;
  box-shadow: 0 1px 4px #eeeeee;
  left: 0;
  margin-right: 0;
  position: absolute;
  top: 100px;
  width: 196px;
  z-index: -1;
  opacity:0;
}
.sub_menu.single_mega a i {
  margin-left: 48px;
}
.sub_menu.single_mega ul li {
  position: relative;
}
ul.lev2sub {
  background: #ffffff none repeat scroll 0 0;
  left: 230px;
  position: absolute;
  top: 0;
  width: 196px;
  opacity:0;
  z-index:-1;
}
.sub_menu.single_mega ul li:hover ul.lev2sub {
  left: 197px;
  opacity:1;
  z-index:9;
  transition:.4s;
}
.main_nav_box ul li:hover .sub_menu.single_mega {
  top: 68px;
  z-index: 9;
  opacity:1;
  transition:.4s;
}
.single_mega .single_fs_news_left_text {
  border: 0 solid #efefef;
  padding: 0;
}
.single_mega .single_fs_news_left_text h4 {
  margin-left: 0;
}
.single_fs_news_left_text .mega_title {
  border-right: 0 solid #efefef;
  margin-left: 0;
}
.single_mega .mega_title {
  border-right: 0 solid !important;
  color: #444444 !important;
  font-weight: 400;
  margin-bottom: -9px;
  margin-top: -19px;
}
.single_mega .mega_title:hover {
  color: #42a9f1 !important;
}
.single_mega3 .all_news_right {
  border: 0 solid #efefef;
  padding: 0 10px;
}
.single_mega3 .fs_news_right {
  border-bottom: 0 solid #efefef;
  overflow: hidden;
  padding: 0;
}
.single_mega3 .single_fs_news_right_text {
  float: left;
  margin-top: -18px;
  width: 72%;
}
.single_mega3 .mega_title1 {
  border: 0 solid !important;
  color: #444444 !important;
  font-size: 11px;
  font-weight: 400;
  margin-left: 0;
}
.single_mega .fs_news_right {
  border-bottom: 1px solid #efefef;
  margin-bottom: 15px;
  padding-bottom: 10px;
}
.single_mega3 .mega_title1 {
  border-right: 0 solid;
  font-size: 11px;
  font-weight: 400;
  margin-left: 0;
}
.single_mega3 .mega_title1:hover {
  color:#42a9f1 !important;
}
.mega_menu {
  border-bottom: 2px solid #c66196;
  box-shadow: 0 2px 10px #eeeeee;
}
.hp_banner_left {
  float: left;
  position: relative;
  width: 73%;
}
.hp_banner_left::after {
  
  bottom: 0;
  content: "";
  height: 166px;
  left: 0;
  position: absolute;
  width: 100%;
}
.bl_single_news {
  float: left;
  margin-right: 1%;
  position: relative;
  width: 32.6667%;
}
.bl_single_news:nth-child(3) {
  margin-right: 0;
}
.bl_single_news img, .br_single_news img, .fs_news_left_img img, .single_fs_news_img img, .fs_news_left_img_g img, .single_fs_news_img_h2 img, .single_fs_news_lft_img_h2 img, .single_fs_news_left_text img, .cc_im_box img, .autor_img img, .srp_img img {
  transition: all 0.5s ease 0s;
  width: 100%;
}
.bl_single_news:hover img, .br_single_news:hover img, .single_fs_news_left_text:hover img, .fs_news_right:hover img, .fs_news_left_img_g:hover img, .home_two_video_borrom_content:hover img, .single_home_two_middle:hover img, .single_author_about:hover img, .srp_img:hover img {
  overflow: hidden;
  transform: scale(1.1) rotate(3deg);
}
.fs_news_left_img, .single_fs_news_img, .fs_news_left_img_g, .single_fs_news_img_h2, .single_fs_news_lft_img_h2, .cc_im_box, .autor_imgm, .srp_img {
  overflow: hidden;
  position: relative;
}
.fs_news_left_img img {
  width: 100%;
}
.fs_news_left_img_g img {
  width: 100%;
}
.purchase_sidebar_img img {
  width: 100%;
}
.bl_single_text {
  top: 1px;
  left: 0;
  padding: 0 5px;
  position: absolute;
  z-index: 1;

}
.bl_single_text a, .br_single_text a {
  color: #fff;
}
.bl_single_text a:hover, .br_single_text a:hover {
  color: #C66196;
  text-decoration:none;
}

.bl_single_text a h4, .br_single_text a h4 {
  font-size: 15px;
  margin-bottom: 0;
}
.bl_single_text span {
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
}
.top_hp_span {
  background: #3368b0 none repeat scroll 0 0;
  display: block;
  margin-bottom: 10px;
  padding: 6px 20px;
  width: 92px;
}
.env_hp_span {
  background: #ffa431 none repeat scroll 0 0;
  width: 100px;
}
.trv_hp_span {
background: #f4655f none repeat scroll 0 0;
width: 61px;
}
.bl_single_text span {
  color: #ffffff;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
}
.single_fs_news_img_h2 {
position:relative;
}
.single_fs_news_img_h2 > img {
  width: 100%;
}
.ht_all_news_right .single_fs_news_right_text h4 a, .ht_news_left2 .single_fs_news_left_text h4 a {
  font-size: 12px;
  text-transform: inherit;
}
.hp_banner_right {
  float: left;
  margin-left: 1%;
  width: 26%;
}
.br_single_news {
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
}
.br_single_news:nth-child(2) {
  margin-bottom: 0px;
}
.br_single_news::after {
  background: rgba(0, 0, 0, 0) url("images/hp-grad.png") no-repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 83px;
  left: 0;
  position: absolute;
  width: 100%;
}
.br_single_text {
  bottom: 0;
  left: 0;
  padding:20px;
  position: absolute;
  z-index: 1;
}
.br_cam {
  bottom: 0;
  position: absolute;
  right: 0;
  z-index: 1;
}
.br_single_text a h4 {
  width: 99%;
}
.br_single_text > span {
  color: #fff;
  display: block;
  font-size: 10px;
  margin-bottom: 12px;
  padding: 5px 7px;
  text-align: center;
  text-transform: uppercase;
}
.green_hp_span {
background:#3BB17E;
width: 100px;
}

.naranja_hp_span {
background:#ff432e;
width: 100px;
}

.blue_hp_span {
background:#6A7DF4;
width: 80px;
}
.br_cam a {
  background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
  color: #fff;
  padding: 7px;
  text-align: center;
}
.br_cam.br_vid a {
  color: #ffffff;
  font-size: 21px;
}
.br_cam.br_vid_big a {
  color: #ffffff;
  font-size: 25px;
}
.br_cam.br_vid_big_s a {
  color: #ffffff;
  font-size: 14px;
  padding: 10px;
}
.fs_news_left_img {
position:relative;
}
.fs_news_left_img_g {
position:relative;
}
.fs_news_left_img_g::before {
  background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.footer_top {
  background: #2b2b2b none repeat scroll 0 0;
  padding: 80px 0;
}
.footer_top_left > p {
  color: #999999;
  font-size: 14px;
  font-weight: 500;
  margin-top: 16px;
  line-height:25px;
}
.ft_contact {
    margin-top: 29px;
}
.ft_contact a {
	line-height:39px;
}
.ft_contact > h4, .ft_connected > h4, .ftm_realted_post > h4, .ftm_newsletter > h4, .ftr_video > h4, .ftr_tags > h4 {
  border-bottom: 1px solid #393939;
  color: #ffffff;
  font-family: "Roboto",sans-serif;
  font-size: 15px;
  margin-bottom: 19px;
  padding-bottom: 15px;
  text-transform: uppercase;
}

.srp_img {
  float: left;
  margin-right: 6%;
  width: 23%;
}
.rel_post_text {
  float: left;
  width: 71%;
}
.ft_contact p, .ft_connected > p, .ft_contact a, .rel_post_text > p, .ftm_newsletter > p {
  color: #999999;
}
.ft_contact i {
  margin-right: 10px;
}
.ft_contact a:hover, .ft_contact a:focus {
  text-decoration:none;
  color:#39A9E0;
}
.ft_connected > ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.ft_connected > ul li {
  display:inline-block;
  margin-right:5px;
}
.ft_connected > ul li a {
  background: #3d3b3b none repeat scroll 0 0;
  border-radius: 50%;
  color: #fff;
  display: block;
  height: 38px;
  line-height: 38px;
  text-align: center;
  width: 38px;
}
.ft_connected ul li a:hover, .ft_connected ul li a:focus {
  text-decoration:none;
  background:#39A9E0;
}
.single_related_post {
  margin-bottom: 20px;
  overflow: hidden;
}
.single_related_post > img {
  float: left;
  margin-right: 15px;
  width: 85px;
}
.rel_post_text span {
  color: #fff;
  display: block;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 10px;
}
.ftm_newsletter input[type="text"] {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: #515151 none repeat scroll 0 0;
  border-color: #515151 #515151 -moz-use-text-color;
  border-image: none;
  border-style: solid;
  border-width: 1px 1px 0;
  color: #999999;
  font-size: 12px;
  padding: 13px 20px;
  width: 81%;
  padding-bottom:14px;
}
.fm_newsletter {
  background-color: #676767;
  background-image: url("images/envelope.png");
  border: medium none;
  height: 44px;
  margin-left: -4px;
  margin-top: 0;
  width: 63px;
}
.ftr_tags {
  margin-top: 20px;
}
.ftr_tags > ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
  width: 85%;
}
.ftr_tags > ul li {
  float: left;
  margin-bottom: 5px;
  margin-right: 5px;
}
.ftr_tags > ul li a {
  background: #515151 none repeat scroll 0 0;
  color: #fff;
  display: block;
  padding: 5px 15px;
}
.ftr_tags > ul li a:hover {
  background: #E35E5E none repeat scroll 0 0;
  text-decoration:none;
}
.footer_bottom {
  background: #323232 none repeat scroll 0 0;
  padding: 29px 0;
}
.footer_bottom p {
  text-align:center;
  text-transform:uppercase;
  font-size:12px;
  color:#fff;
  margin-bottom:0px;
}
footer {
  margin-top: 80px;
}
.single_fs_news_left_text h4 {
color: #333;
font-size: 15px;
font-weight: 500;
margin-bottom: 10px;
margin-left: 10px;
margin-top: 17px;
}
.single_fs_news_lft_img_h2{
position:relative;
}
.single_fs_news_lft_img_h2 > img {
  width: 100%;
}
.single_fs_news_right_text a.red_p, .ht_news_left2 .single_fs_news_left_text a.red_p {
  color: #e27064;
}
.single_fs_news_left_text > img {
  width: 100%;
}
.single_fs_news_left_text p {
  color: #999999;
  font-size: 10px;
  font-weight: 700;
  margin-left: 10px;
  text-transform: uppercase;
}
.single_fs_news_left_text i {
  margin-right: 5px;
}
.single_fs_news_left_text i:nth-child(2) {
  margin-left: 5px;
}
.single_fs_news_left_text {
  border: 1px solid #efefef;
  padding: 5px;
}
.left_fashion.main_nav_box ul li a {
border-right: 0 solid #efefef;
color: #35a3f0;
font-size: 14px;
margin-left: 23px;
padding: 18px 29px 9px 51px;
}
.left_fashion.main_nav_box ul li.nav_fashion_pp a {
  color: #e5786a;
}
.left_fashion.main_nav_box ul li.nav_video_pp_h2 a {
  color: #8695F6;
}
.left_fashion.main_nav_box ul li.nav_fashion {
  background: rgba(0, 0, 0, 0) url("images/music.png") no-repeat scroll 27px 25px;
  border-top: 0px solid #b4bd00;
}
.left_fashion.main_nav_box ul li.nav_fashion_pp {
  background: rgba(0, 0, 0, 0) url("images/top_pp_h2.png") no-repeat scroll 27px 25px;
  border-top: 0 solid #b4bd00;
}
.left_fashion.main_nav_box ul li.nav_gadgets {
  background: rgba(0, 0, 0, 0) url("images/nav_gadgets_h.png") no-repeat scroll 27px 25px;
  border-top: 0px solid #b4bd00;
}
.left_fashion.main_nav_box ul li.nav_lifestyle {
  background: rgba(0, 0, 0, 0) url("images/life_icon_post.png") no-repeat scroll 27px 25px;
  border-top: 0 solid #b4bd00;
}
.left_fashion.main_nav_box ul li.nav_video_pp_h2 {
  background: rgba(0, 0, 0, 0) url("images/video_ico_h2.png") no-repeat scroll 27px 25px;
  border-top: 0 solid #b4bd00;
}
.header_fasion {
border-bottom: 1px solid #efefef;
margin-bottom: 26px;
overflow: hidden;
padding-top: 12px;
}
.left_fashion.main_nav_box {
  float: left;
  width: 50%;
}
.fasion_right {
  float: left;
  width: 50%;
}
.fasion_right > a {
  display: block;
  float: right;
  margin-top: 26px;
  width: 20px;
}
.fasion_right ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
  text-align:right;
}
.fasion_right ul li {
 display:inline;
}
.fasion_right ul li a {
  color: #333333;
  display: inline-block;
  font-family: "Roboto",sans-serif;
  font-size: 11px;
  padding: 10px;
  text-transform: uppercase;
}
.fasion_right ul li.last_item a {
  color: #35a3f0;
  display: inline-block;
  font-size: 25px;
  padding-bottom: 2px;
}
.fasion_right ul li a:hover{
 text-decoration:none;
}
.single_fs_news_img {
  float: left;
  width: 24%;
  position:relative;
}
.single_fs_news_right_text h4 {
  color: #333;
  font-size: 14px;
  font-weight: 400;
  margin-bottom:8px;
}
.single_fs_news_right_text a {
  color: #4099ff;
  font-size: 15px;
  margin-right: 5px;
}
.single_fs_news_right_text a.gad_color {
  color: #ea573c;
}
.single_fs_news_right_text > p {
  color: #999999;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
}
.single_fs_news_right_text {
  float: left;
  margin-top: 15px;
  width: 60%;
  margin-left: 8px;
}
.fs_news_right {
  border-bottom: 1px solid #efefef;
  overflow: hidden;
  padding: 10px 0;
}
.fs_news_right.last_right {
  border-bottom: 0px solid #efefef;
}
.all_news_right {
  border: 1px solid #efefef;
  padding: 0 10px;
}
.home_sidebar {
  margin-top: 40px;
}
.purchase_overlay {
  background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.purchase_sidebar_img {
border: 1px solid #efefef;
position: relative;
margin-bottom: 40px;
}
.purchase_sidebar_text {
  left: 0;
  padding: 0 20px;
  position: absolute;
  top: 16%;
}
.purchase_sidebar_text h2 {
  color: #ffffff;
  font-size: 28px;
  font-weight: 500;
  text-transform: uppercase;
}
.purchase_sidebar_text > p {
  font-size: 17px;
  color: #fff;
  font-weight: 500;
}
.purchase_s > a {
  background: #f4655f none repeat scroll 0 0;
  color: #fff;
  font-size: 13px;
  padding: 9px 13px;
  text-transform: uppercase;
}
.purchase_s {
  margin-top: 28px;
}
.left_fashion.main_nav_box ul li.nav_gadgets a {
  color: #e74c3c;
}
.fs_news_left.fs_gadgets_news_left {
  border: 1px solid #efefef;
  padding: 5px;
}
.fs_gadgets_news_left .single_fs_news_left_text {
  border: 0 solid #efefef;
  left: 25px;
  padding: 5px;
  position: absolute;
  top: 17% !important;
  z-index: 1;
}
.fs_gadgets_news_left .single_fs_news_left_text.single_fs_news_left_text > h4 {
  color: #fff;
}
.fs_gadgets_news_left .single_fs_news_left_text.single_fs_news_left_text > p {
  color: #fff;
}
.fs_gadgets_news_left .all_news_right {
  border: 0 solid #efefef;
  padding: 0 10px;
}
.follow_us_side h2 {
  border-bottom: 1px solid #efefef;
  color: #333333;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 25px;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.single_follow_us {
background: #ff432e none repeat scroll 0 0;
float: left;
height: auto;
margin-right: 10px;
text-align: center;
width: 22%;
}
.single_follow_us a i {
font-size: 18px;
margin-bottom: 8px;
}
.single_follow_us a {
  color: #fff;
  font-size: 12px;
  padding-top: 15px;
  display: block;
}
.single_follow_us a:hover {
text-decoration:none;
}
.all_single_follow {
  border: 1px solid #efefef;
  overflow: hidden;
  padding: 10px;
}
.single_follow_us.last_one {
  margin-right: -10px;
   background: #EA4C89 none repeat scroll 0 0;
}
.single_follow_us.twit {
  background: #35A3F0 none repeat scroll 0 0;
}
.single_follow_us.goopl {
   background: #DD4B39 none repeat scroll 0 0;
}
.follow_us_side {
  margin-bottom: 30px;
}
.follow_us_side .single_fs_news_right_text {
  margin-top: 0;
  width: 50%;
}
.follow_us_side .single_fs_news_right_text h4 {
font-size: 12px;
margin-bottom: 10px;
line-height: 18px;
}
.follow_us_side .single_fs_news_img {
  float: left;
  margin-right: 11px;
  width: 32%;
}
.home_add_box > img {
  width: 100%;
}
.main_nav_box ul li.nav_video_post {
  background: rgba(0, 0, 0, 0) url("images/video_post.png") no-repeat scroll 27px 25px;
  border-top: 0 solid #ffa431;
}
.left_fashion.main_nav_box ul li.nav_video_post a {
  color: #53ba8e;
}
.news_pagination ul.news_pagi {
  list-style: outside none none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.news_pagination ul.news_pagi li {
  display: inline-block;
}

.news_pagination ul.news_pagi li a {
  color: #333333;
  display: block;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  width: 30px;
}
.news_pagination ul.news_pagi li a:hover {
  color: #fff;
  background:#333;
  text-decoration:none;
}
.news_pagination ul.news_pagi li.dotlia a:hover {
  color: #333;
  background:transparent;
  text-decoration:none;
}
.news_pagination ul.news_pagi li.nextlia a {
  color: #333333;
  padding: 0 10px;
  width: 50px;
}
.news_pagination ul.news_pagi li.nextlia a:hover {
  color: #fff;
  background:#333;
  text-decoration:none;
}
.news_pagination {
  padding-top: 23px;
}
.single_fs_news_right_text a.video_f {
  color: #3bb17e;
  margin-right: 6px;
  text-transform: uppercase;
}
.single_fs_news_right_text i {
  margin-left: 5px;
  margin-right: 5px;
}
.fs_news_vid_right .single_fs_news_left_text > h4 {
  margin-bottom: 18px;
  width: 74%;
}
/* mobile nav */
.only-for-mobile {
  display: none !important;
}
.mobi-menu {
  display: none;
}
.mobi-menu {
  left: 0;
  margin: 0 auto;
  max-width: 300px;
  position: absolute;
  right: 0;
  top: 50px;
  width: 100%;
  z-index: 99999;
}
#cssmenu {
  display: none;
  transition: all 0.3s ease-in-out 0s;
}
#cssmenu ul ul {
  display: none;
}
#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a {
  border-bottom: 1px solid #ffffff;
  box-sizing: border-box;
  color: #ffffff;
  display: block;
  line-height: 1;
  list-style: outside none none;
  margin: 0;
  padding: 0;
  position: relative;
  text-shadow: 0 0 0 #ffffff;
}
#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a {
  background: #000000 none repeat scroll 0 0;
}
#cssmenu ul ul li a {
  padding: 15px 20px !important;
}
#cssmenu ul ul li a {
  background: #eeeeee none repeat scroll 0 0;
  border-bottom: 2px solid #ffffff;
  color: #666666;
  cursor: pointer;
  font-family: Cousine,Arial;
  font-size: 14px;
  font-weight: bold;
  padding: 15px 40px;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 1;
}
.sub_menu.sub_menu_p.single_mega {
  width: 207px;
}
ul.lev2sub {
  border-bottom: 2px solid #c66196;
  width: 236px;
}


.container-img{
    width: 100%;
    position: relative;

    height: 0;
    overflow: hidden;
    padding-top: 56.25%;
}
.container-img > img, .container-img-43 > img{
  width: 100%;

    position: absolute;
    top: 0;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
}

.container-img-43{
    width: 100%;
    position: relative;

    height: 0;
    overflow: hidden;
    padding-top: 100%;
}

.header_area{
  margin-top: -4px;
}