
<link href="/static/css/formularios/formularios.css" rel="stylesheet">


<ul data-id="{{id_song}}" class="lists">
	{% for list in lists %}
		<li data-id="{{list.id}}" style="cursor: pointer;" onclick="addPlaylist(this)" class="list">{{list.name}}</li>
	{% endfor %}
</ul>

<form method="post" id="form">
	{% csrf_token %}
    <center>
	{{form.name.errors}} 
	<input type="text" name="name" class="form-group" id="list-name" maxlength="40" value="{{form.name.value|default_if_none:''}}" placeholder="Nombre" id="id_name" />
	

    <div class="form-group">
	{{form.private.errors}}
	{{form.private}}
    </div>

	<button id="crear" class="signbuttons btn btn-primary" type="submit">Crear</button>

    </center>
</form>

<script type="text/javascript">

	function addPlaylist (list) {
        
		var csrftoken = getCookie('csrftoken');
		id_list = $(list).attr("data-id");
		id_song = $(list).parent().attr("data-id");
        $.ajax({
            type: 'POST',
            url: "{% url 'player:add_Toplaylist_ajax' %}",
            data: {csrfmiddlewaretoken : csrftoken, 'id_list':id_list, 'id_song': id_song},
            dataType: 'json',
            success: function (data) {

                
            },
            error : function(xhr,errmsg,err) {
                $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                    " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
      	});
	}

	$("#crear").click(function(e) {

        e.preventDefault();

        var csrftoken = getCookie('csrftoken');
        var content = $('#list-name').val();
        $.ajax({
            type: 'POST',
            url: "{% url 'player:crear_playlist_ajax' %}",
            data: {csrfmiddlewaretoken : csrftoken, name:content},
            dataType: 'json',
            success: function (data) {

                if(data["error"]){
                    $("#list-name").val("");
                    $("ul.lists").append(
                        '<li class="list" style="cursor:pointer;" onclick="addPlaylist(this)" data-id="'+data["id"]+'">'+data["name"]+'</li>'
                    )
                }else{
                    $("p.errorlist").text('');
                    $("p.errorlist").prepend(data.errorlist);
                }
            },
            error : function(xhr,errmsg,err) {
                $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                    " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
          });
    }); 
    

    //For getting CSRF token
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>