      <ul class="comments-list">
          {% for comment in comments %}
              <li class="comment">
                  <a class="pull-left" href="#">
                      <img class="avatar" src="/{{comment.author.photo}}" alt="avatar">
                  </a>
                  <div class="comment-body">
                      <div class="comment-heading">
                          <h4 class="user">{{comment.author.username}}</h4>
                          <h5 class="time">{{comment.time_stamp|timesince}}</h5>
                      </div>
                      <p>{{comment.content}}</p>
                  </div>
                  
              </li>

          {% empty %}
              <p>No hay comentarios</p>
          {% endfor %}
      </ul>
      {% if comments.has_other_pages %}
          <ul class="pagination">
              {% if comments.has_previous %}
                <li><a data-ajax="false" class="link-pag" href="?page={{ comments.previous_page_number }}">&laquo;</a></li>
              {% else %}
                <li class="disabled"><span>&laquo;</span></li>
              {% endif %}
              {% for i in comments.paginator.page_range %}
                {% if comments.number == i %}
                  <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                  <li><a data-ajax="false" class="link-pag" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
              {% endfor %}
              {% if comments.has_next %}
                <li><a data-ajax="false" class="link-pag"  href="?page={{ comments.next_page_number }}">&raquo;</a></li>
              {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
          </ul>
      {% endif %}

      <script type="text/javascript" src="ajaxcomment"></script>

      <script type="text/javascript">
        (function () {

          $.urlParam = function(name,link){
            var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(link)//window.location.href
            if (results == null)
                return 1;
            return results[1] || 0;
          }

        $("a.link-pag").on("click", function (e) {
              e.preventDefault();

              link = $(this).prop('href');
              
              var page = parseInt($.urlParam('page', link));

              $.ajax({
                type: 'GET',
                url: "{% url 'noticias:comment_paginar' %}",
                data: {'id' : "{{post_id}}", 'page':page},
                dataType: 'html',
                success: function (data) {

                  var stateObj = { foo: "page" };
                  history.pushState(stateObj, "page "+page, "?page="+page);
                  $(".div-comment").html(data);
                    
                },
                error : function(xhr,errmsg,err) {
                    $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                        " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                    alert(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
            });
        });

        }).call(this);

      </script>