{% extends 'base.html' %}

{% block title %}
{{title}} - Hits Noticias
{% endblock %}

{% block styles %}
<div id="target-style">	
	<link href="/static/css/formularios/formularios.css" rel="stylesheet">
</div>
{% endblock %}


{% block body %}

<div id="target-body">

<div class="container">
    <div class="row col-md-8 col-md-offset-2 registeration">
    
        <div class="registerInner">
            <div class="col-md-12">
                <h3 class="headerSign">PUBLICACIÓN</h3>
            </div>

				<form method="post" id="form" data-redirect="/noticias/mis-noticias/" action="{{action}}" enctype="multipart/form-data" >
					{% csrf_token %}

					<div class="col-xs-12 col-md-6 wow animated slideInLeft" data-wow-delay=".5s">
						<center>
							<div class="form-group">
								{{form.title.errors}}
								<input type="text" name="title" class="form-control" maxlength="150" placeholder="Título" value="{{form.title.value|default_if_none:''}}" id="id_title" />
							</div>
							<div class="form-group">
								{{form.category.errors}}
								{{form.category}}
							</div>

						</center>
					</div>

					<div class="col-xs-12 col-md-6 wow animated slideInRight" data-wow-delay=".5s">
						<center>
							<div id="div_id_photo">
								{{form.photo.errors}}
								<input type="file" name="photo" class="inputfile inputfile-1" id="id_photo" onchange="upload_img(this);" />
								<label for="id_photo">
			                        <svg xmlns="http://www.w3.org/2000/svg" class="iborrainputfile" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path></svg>
			                        <span class="iborrainputfile">Seleccionar portada</span>
		                        </label>
		                        <br />
								<div class="img" style="display: none; background: transparent;"></div>
							</div>
						</center>

								<div class="form-group">
								{{form.title.errors}}

								<input type="text" value="" class="form-control" placeholder="Título" name="tags" data-role="tagsinput" />
							</div>
						
					</div>


					<div class="col-xs-12 wow animated slideInTop" data-wow-delay=".5s">
						<center>
							{{form.content.errors}}
							<div class="django-ckeditor-widget" data-field-id="id_content" class="select-form" style="display: inline-block;" data-ckeditor-basepath="/static/ckeditor/ckeditor/">
							    <textarea cols="40" id="id_content" name="content" rows="10" required data-processed="0" data-config='{"skin": "moono-lisa", "toolbar_Basic": [["Source", "-", "Bold", "Italic"]], "toolbar_Full": [["Styles", "Format", "Bold", "Italic", "Underline", "Strike", "SpellChecker", "Undo", "Redo"], ["Link", "Unlink", "Anchor"], ["Image", "Flash", "Table", "HorizontalRule"], ["TextColor", "BGColor"], ["Smiley", "SpecialChar"], ["Source"]], "toolbar": "full", "height": 291, "width": "auto", "filebrowserWindowWidth": 940, "filebrowserWindowHeight": 725, "attributes": {"style": "display:none !important;"}, "filebrowserUploadUrl": "/upload/", "filebrowserBrowseUrl": "/browse/", "language": "es"}' data-external-plugin-resources='[]' placeholder="Contenido" class="select-form" value data-id="id_content" data-type="ckeditortype">
							    	{{form.content.value|default_if_none:''|safe}}
							    </textarea>
							</div>
						</center>
					</div>

					<div class="col-xs-12" data-wow-delay=".5s">
        <center>
        <strong class="loader-porcent"></strong>
        <div style="display: none;" class="loader"></div></center>
        </div>

					<div class="relative fullwidth col-xs-12">
						<center>
							<button type="submit" value="Guardar" id="guardar" name="guardar" class="signbuttons btn btn-primary">Guardar</button>
							<button type="submit" value="Publicar" id="publicar" name="publicar" class="signbuttons btn btn-primary">Publicar </button>
							<input type="hidden" name="value" value="g" id="value">
						</center>
					</div>
					
				</form>
        </div>
        
    </div>
</div>

</div>

<div id="ck1" ></div>
<div id="ck2" ></div>
{% endblock %}

{% block scripts %}
<div id="target-script">

	
	<script type="text/javascript" src="/static/js/app/custom-file-input.js"></script>
	<script type="text/javascript">
		$( "#publicar" ).click(function() {
			$("#value").val("p");
			$( "#form" ).submit();
		});

		(function() {
			script = '<script type="text/javascript" id="ckeditorjs2" src="/static/ckeditor/ckeditor/ckeditor.js" ><\/script>';
			postscribe('#ck1', script);

			script2 = '<script type="text/javascript" id="ckeditorjs" src="/static/ckeditor/ckeditor-init.js" ><\/script>';
			postscribe('#ck2', script2);

			if ("{{ photo }}" != ""){
				$('#img_id').remove();
				$("#div_id_photo .img").css("display","block");
		    	$("#div_id_photo .img").append('<img class="" id="img_id" src="/{{photo}}" alt="" />');
			}
	    	
		}).call(this);

		function upload_img(input) {
			$('#img_id').remove();
			$("#div_id_photo .img").css("display","block");
	    	$("#div_id_photo .img").append('<img id="img_id" src="#" alt="your image" />');
	    	
	        if (input.files && input.files[0]) {
	            var reader = new FileReader();
				
	            reader.onload = function (e) {
	                var img = new Image();
	            	img.src = e.target.result;
	            	img.onload = function () {
	            		if (this.width > 0 || this.height>0){
	            			$("p.errorlist").append("Poner el ancho de la photo")
	            		}else{
	            			$("p.errorlist").text("");
	            		}

	                	$('#img_id').attr('src', this.src );
	            	}
	            }

	            reader.readAsDataURL(input.files[0]);
	        }
	    }
	</script>
</div>
{% endblock %}

