{% extends 'base.html' %}

{% block title %}
Eliminar {{ object.title }} - Hits 
{% endblock %}

{% block styles %}
<div id="target-style">	
	<link href="/static/css/formularios/formularios.css" rel="stylesheet">
</div>
{% endblock %}



{% block body %}
<div class="target-body">
<form method="post" id="form" action="{{action}}">
	{% csrf_token %}
	
	<h3>Desea eliminar: "{{ object.title }}" ? </h3>
	<button type="submit">Si, eliminar</button>
	<div class="col-xs-12" data-wow-delay=".5s">
        <center><div style="display: none;" class="loader"></div></center>
        </div>
	<a href="{% url 'noticias:listar_noticias' %}">Cancelar</a>
	
</form>
</div>
{% endblock %}
