{% extends 'base.html' %}


{% block title %}
Mis noticias - Hits Noticias
{% endblock %}


{% block styles %}

<div id="target-style">
	<link rel="stylesheet" type="text/css" href="/static/css/list.css">
</div>

{% endblock %}

{% block body %}

<div id="target-body">
<table>
	<thead>
		<tr>
			<td>Titulo</td>
			<td>Categoria</td>
			<td>publicado</td>
			<td>Portada</td>
			<td>Acciones</td>
		</tr>
	</thead>
	
	<tbody>
		{% if object_list %}
			{% for post in object_list %}
				<tr>
					<td><a href="{% url 'noticias:detail_noticia' post.slug %}">{{ post.title }}</a></td>
					<td>{{ post.category.name }}</td>
					<td>{{ post.published }}</td>
					<td><img class="" src="/{{post.photo}}" width="50" heigth="50"/></td>
					<td> <button>
					     	<a href="{% url 'noticias:editar_noticia' post.id %}">Editar</a>
					     </button> 
					     <button>
					     	<a href="{% url 'noticias:eliminar_noticia' post.id %}">Eliminar</a>
						 </button>    
					 </td>
				</tr>
			{% endfor %}
		
		{% else %}
			<h1> No hay noticias registradas </h1>
		{% endif %}
		
		
	</tbody>

</table>
</div>

{% endblock %}
