{% extends 'base.html' %}

{% load groups %}

{% block title %}
{{post.title|title}} - Hits Noticias
{% endblock %}

{% block keywords %} 
{{post.title|split|join:", "}}
{% endblock %}

{% block meta %}
    <meta property="og:title" content="{{post.title|title}} - Hits Noticias" >
    <meta property="og:image" content="http://www.hitsve.com/{{post.photo}}" >
    <meta property="og:url" content="http://www.hitsve.com/noticias/{{post.slug}}/" >
    <meta name="og:description" content="{{post.content|safe|striptags|truncatewords:30}}">

    <meta name="twitter:card" content="summary_large_image">
    <!--<meta name="twitter:site" content="@nytimes">
    <meta name="twitter:creator" content="@SarahMaslinNir">
    -->
    <meta name="twitter:description" content="{{post.content|safe|truncatewords_html:30|striptags}}">
    <meta name="twitter:title" content="{{post.title|title}} - Hits Noticias">
    <meta name="twitter:image" content="http://www.hitsve.com/{{post.photo}}">



{% endblock %}

{% block styles %}

    <link rel="stylesheet" type="text/css" href="/static/noticia/css/animate.css">
    <link rel="stylesheet" type="text/css" href="/static/noticia/css/slick.css">
    <link rel="stylesheet" type="text/css" href="/static/noticia/css/theme.css">
    <link rel="stylesheet" type="text/css" href="/static/noticia/css/style.css">

    <style type="text/css">
        /* footer social icons */
        .wraper {
          position: relative;
          width: 100%;
          height: 0;
          padding-bottom: 48%;
        }

        .wraper iframe {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0; top: 0;
        }

.social-network a.icoFacebook:hover {
    background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
    background-color:#33ccff;
}
.social-network a.icoWhatsapp:hover {
    background-color:#4ced69;
}
.social-network a.icoGooglePlus:hover{
    background-color:rgb(227, 46, 40);
}
.social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
{
    color:#fff;
}

.social-circle li{
    display:inline-block;
    list-style: none;

}
.social-circle li a {
  z-index: 1;
    display:inline-block;
    position:relative;
    margin:0 auto 0 auto;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    text-align:center;
    width: 50px;
    height: 50px;
    font-size:20px;
    color: #d9534f;

}
.social-circle li i {
  z-index: 1;
    margin:0;
    line-height:50px;
    text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.social-circle i {
    z-index: 1;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;

}

.social-circle li a:hover{
    color: white !important;
}


.netx-prev{
    position: fixed;
}


.netx-prev {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

.netx-prev:hover {
    background-color: #ddd;
    color: black;
}

.previous-b {
    background-color: #f1f1f1;
    color: black;
}

.next-b {
    background-color:  #f1f1f1;
    color: white;
    float: left;
}

.round {
    border-radius: 50%;
}

    </style>
{% endblock %}

{% block body %}


    <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.10";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<a href="#" class="previous-b round netx-prev">&#8249;</a>
<a href="#" class="next-b round netx-prev">&#8250;</a>

<div class="container">


  <section id="mainContent">
    <div class="content_bottom">
        <div class="col-lg-8 col-md-8">
            <div class="content_bottom_left">
              <div class="single_page_area">

              <!--titulo de la noticia-->


                <h2 class="post_titile">{{post.title|title}}</h2>
                <div class="single_page_content">
                    <div class="post_commentbox"> <span><i class="fa fa-user"></i>{{post.author.username}}</span><span><i class="fa fa-calendar"></i>{{post.time_stamp}}</span><span><i class="fa fa-eye"></i> <a >{{post.views}} Visitas</a></span> </div>
                    <div class="container-img">
                        <img class="img-center" src="/{{post.photo}}" alt="">
                    </div>

                    <div style="text-align: justify;">
                        {{post.content|safe}}
                    </div>
                  
                 
                </div>
              </div>
            </div>
      
            <center>
                <ul class="social-network social-circle">
                    <li><a class="fb-xfbml-parse-ignore icoFacebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.hitsve.com%2Fnoticias%2F{{post.slug}}%2F&amp;src=sdkpreparse" data-toggle="tooltip" title="Compartir en Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/share?hashtags=hitsve&text={{post.title|urlencode}}" target="_blank"  class="icoTwitter" data-text="{{post.title}}" data-lang="es" data-size="large" data-hashtags="hitsve" data-dnt="true" data-toggle="tooltip" title="Compartir en Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li style="display: inline-block;" ><a class="icoGooglePlus" href="https://plus.google.com/share?url=http%3A%2F%2Fwww.hitsve.com%2Fnoticias%2F{{post.slug}}%2F"><i class="fa fa-google-plus"></i></a></li>  
                </ul>
            </center>
            <center>
                <div class="script-center">
                    <script type="text/javascript">
                        var ad_idzone = "2707984",
                            ad_width = "300",
                         ad_height = "50";
                    </script>

                    <script type="text/javascript" src="https://ads.exdynsrv.com/ads.js"> </script>
                    <noscript><a href="https://main.exdynsrv.com/img-click.php?idzone=2707984" target="_blank">
                        <img src="https://syndication.exdynsrv.com/ads-iframe-display.php?idzone=2707984&output=img&type=300x50" width="300" height="50"/>
                    </a> </noscript>
                </div>
            </center>

            <!--Noticias similares-->

            <div class="similar_post">
                <h2>Noticias Similares <i class="fa fa-thumbs-o-up"></i></h2>
                <ul class="small_catg similar_nav wow fadeInDown animated">
                    {% for relacionado in relacionados %}
                    <li>
                      <div class="media wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;"> <a class="media-left related-img" href="{% url 'noticias:detail_noticia' relacionado.slug %}"><img src="/{{relacionado.photo}}" alt=""></a>
                        <div class="media-body">
                          <h4 class="media-heading"><a href="{% url 'noticias:detail_noticia' relacionado.slug %}">{{ relacionado.title|title }}</a></h4>
                          <p>{{ relacionado.content|safe|striptags|truncatewords:20}} </p>
                        </div>
                      </div>
                    </li>
                    {% empty %}<h5></h5>

                    {% endfor %}
                </ul>
            </div>

            <div class="similar_post">
              <h2>Comentarios <i class="fa fa-comments"></i></h2>

              <div class="fb-comments" data-href="{% url 'noticias:detail_noticia' post.slug %}" data-width="600" data-numposts="10"></div>

            </div>
        </div>


        <div class="col-lg-4 col-md-4" >
            <div class="content_bottom_right" >
              <div class="single_bottom_rightbar" >
                <h2>Noticias Recientes</h2>
                <ul class="small_catg popular_catg wow fadeInDown">
                    {% for relacionado in relacionados %}
                    <li>
                        <div class="media wow fadeInDown"> <a href="{% url 'noticias:detail_noticia' relacionado.slug %}" class="media-left"><img alt="" src="/{{relacionado.photo}}"> </a>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="{% url 'noticias:detail_noticia' relacionado.slug %}">{{ relacionado.title|title }} </a></h4>
                            <p>{{ relacionado.content|safe|striptags|truncatewords:20}} </p>
                        </div>
                        </div>
                    </li>
                    {% empty %}<h5></h5>

                    {% endfor %}
                </ul>
              </div>
              
                <div class="single_bottom_rightbar">
                    <h2>Publicidad</h2>
                    <center>
                        <script type="text/javascript">
                            ( function() {
                                if (window.CHITIKA === undefined) { window.CHITIKA = { 'units' : [] }; };
                                var unit = {"calltype":"async[2]","publisher":"hitsve","width":300,"height":250,"sid":"Chitika Default"};
                                var placement_id = window.CHITIKA.units.length;
                                window.CHITIKA.units.push(unit);
                                document.write('<div id="chitikaAdBlock-' + placement_id + '"></div>');
                            }());
                        </script>
                        <script type="text/javascript" src="//cdn.chitika.net/getads.js" async></script>
                    </center>
                    <div class="single_bottom_rightbar wow fadeInDown">
                    <h2>Siguenos en Facebook</h2>
                        <div class="fb-page" data-href="{% url 'noticias:detail_noticia' post.slug %}" data-tabs="timeline" data-small-header="false" data-hide-cover="false" data-show-facepile="true" ></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
</div>

	{% endblock %}


{% block scripts %}


<script src="/static/noticia/js/wow.min.js"></script> 
<script src="/static/noticia/js/slick.min.js"></script> 
<script src="/static/noticia/js/custom.js"></script>

      <div id="fb-root"></div>
<div id="target-script">
<script>

   $(document).ready(function() {
        
 //For getting CSRF token
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        

        //contar visita
        setTimeout(sum_view,15000,"{{post.id}}");
        var csrftoken2 = getCookie('csrftoken');
        function sum_view(id) {
            
            $.ajax({
                type: 'POST',
                url: "/noticias/ajax/viewpost",
                data: {'id' : id, csrfmiddlewaretoken : csrftoken2},
                dataType: 'json',
                success: function (data) {

                },
                error : function(xhr,errmsg,err) {
                    $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                        " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
            });  
        }
    });

</script>
</div>

{% endblock %}