{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block body %}

<form method="post" id="form" enctype="multipart/form-data" >
	{% csrf_token %}
	
	{{ form|crispy }}
	<div>
		<input type="submit" value="Guardar" id="guardar" name="guardar">
		<input type="submit" value="Publicar" id="publicar" name="publicar">
		<input type="hidden" name="value" value="g" id="value">
	</div>
	
</form>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/ckeditor/ckeditor-init.js"></script>
<script type="text/javascript" src="/static/ckeditor/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
	$( "#publicar" ).click(function() {
		$("#value").val("p");
		$( "#form" ).submit();
	});
</script>
{% endblock %}
