{% extends 'base.html' %}


{% block title %}
Todos las canciones - Hits Música
{% endblock %}


{% block styles %}

<div id="target-style">
	<link rel="stylesheet" type="text/css" href="/static/css/list.css">
</div>

{% endblock %}

{% block body %}

<div id="target-body">
<table>
	<thead>
		<tr>
			<td>Link</td>
			<td>Foto</td>
			<td>Categoría</td>
		</tr>
	</thead>
	
	<tbody>
		{% if object_list %}
			{% for bann in object_list %}
				<tr>
					<td><a href="{{bann.link}}">{{bann.link}}</a></td>
					<td><img class="" src="/{{bann.photo}}" width="50" heigth="50"/></td>
					<td>{{ bann.category.name }}</td>
					<td> <button>
					     	<a href="{% url 'principal:editar_banner' bann.id %}">Editar</a>
     					 </button>
     					 <button>
					     	<a href="{% url 'principal:eliminar_banner' bann.id %}">Eliminar</a>
					     </button>
					 </td>
				</tr>
			{% endfor %}
		
		{% else %}
			<h1> No hay canciones registradas </h1>
		{% endif %}
		
		
	</tbody>

</table>
</div>
{% endblock %}