{% extends 'base.html' %}

{% block title %}
{{title}} - Hits Música
{% endblock %}

{% block styles %}
<div id="target-style">
	<link href="/static/css/formularios/formularios.css" rel="stylesheet">
	<link href="/static/css/sol.css" rel="stylesheet">
</div>
{% endblock %}

{% block body %}

<div id="target-body">
<div class="container">
    <div class="row col-md-8 col-md-offset-2 registeration">
    
        <div class="registerInner">
            <div class="col-md-12">
                <h3 class="headerSign">SUBIR CANCION</h3>
            </div>
			
			
			<center><span class="errorlist">{{mensaje}}</span></center> 
			<form method="post" id="form" action="{{action}}" enctype="multipart/form-data" >
				{% csrf_token %}

				<div class="col-xs-12 col-md-6 wow animated slideInLeft" data-wow-delay=".5s">
					<center>
							{{form.name.errors}}
							<input type="text" name="name" class="form-group" placeholder="Título" value="{{form.name.value|default_if_none:''}}" maxlength="40" id="id_name" />

							{{form.id_youtube.errors}}
							<input type="text" name="id_youtube" class="form-group" placeholder="Id de youtube" value="{{form.id_youtube.value|default_if_none:''}}" maxlength="30" id="id_id_youtube" />
						
						<div class="form-group">
							<label for="id_genre">Género:</label>
							{{form.genre.errors}}
							{{form.genre}}
						</div>

						<div class="form-group">
							<label for="id_artists">Cantantes:</label>
							{{form.artists.errors}}
							{{form.artists}}
						</div>

						<div class="form-group">
							<label for="id_album">Album:</label>
							{{form.album.errors}}
							<select name="album" id="id_album" class="select-form">
								<option value="0">form</option>
							</select>
						</div>
						
					</center>
				</div>

				<div class="col-xs-12 col-md-6 wow animated slideInRight" data-wow-delay=".5s">
					<center>
						<div class="form-group">
							{{form.release_date.errors}}
							{{form.release_date}}
						</div>
					
				        <div id="div_id_photo">
							<label for="">Portada:</label>

							<p class="errorlist">{{form.photo.errors}}</p>

							<input type="file" name="photo" class="inputfile inputfile-1" onchange="upload_img(this);" id="id_photo" />
							<label for="id_photo">
		                        <svg xmlns="http://www.w3.org/2000/svg" class="iborrainputfile" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path></svg>
		                        <span class="iborrainputfile">Seleccionar imagen</span>
	                        </label>
	                        <br />
							<div class="img" style="display: none;"></div>
				        </div>
			        </center>
			    </div><!-- End Right Inputs -->


				<div class="col-xs-12 wow animated slideInTop" data-wow-delay=".5s">
					<center>
						<label for="id_lyric">Letra:</label>
						{{form.lyric.errors}}
						<div class="django-ckeditor-widget" data-field-id="id_lyric" style="display: inline-block;" data-ckeditor-basepath="/static/ckeditor/ckeditor/">
						    <textarea cols="40" id="id_lyric" name="lyric" rows="10" data-processed="0" data-config='{"skin": "moono-lisa", "toolbar_Basic": [["Source", "-", "Bold", "Italic"]], "toolbar_Full": [["Styles", "Format", "Bold", "Italic", "Underline", "Strike", "SpellChecker", "Undo", "Redo"], ["Link", "Unlink", "Anchor"], ["Image", "Flash", "Table", "HorizontalRule"], ["TextColor", "BGColor"], ["Smiley", "SpecialChar"], ["Source"]], "toolbar": "full", "height": 291, "width": "auto", "filebrowserWindowWidth": 940, "filebrowserWindowHeight": 725, "language": "es"}' data-external-plugin-resources='[]' data-id="id_lyric" value="{{form.lyric.value|default_if_none:''}}" class="select-form" data-type="ckeditortype"></textarea>
						</div>
					</center>
				</div>

				<div class="col-xs-12" data-wow-delay=".5s">
        <center>
        <strong class="loader-porcent"></strong>
        <div style="display: none;" class="loader"></div></center>
        </div>

				<div class="relative fullwidth col-xs-12">
					<center>
						<input type="submit" value="Guardar" id="guardar" class="signbuttons btn btn-primary" name="guardar">
					</center>
				</div>

			</form>
        </div>
        
    </div>
</div>
</div>
{% endblock %}




{% block scripts %}
<div id="target-script">
<script type="text/javascript" src="/static/ckeditor/ckeditor/ckeditor.js" async="async"></script>
<script type="text/javascript" src="/static/ckeditor/ckeditor-init.js" async="async"></script>
<script type="text/javascript" src="/static/js/app/custom-file-input.js"></script>
<script type="text/javascript" src="/static/js/app/sol.js"></script>

<script type="text/javascript">
	(function() {

		$("#id_artists").searchableOptionList({
			maxHeight:'300px'
		});
	    $("#id_artists").change(function() {
	    	
	    	smart_select();
	    }); 
	    
	}).call(this);
	
	(function() {
		
		if ("{{ photo }}" != ""){
			$('#img_id').remove();
			$("#div_id_photo .img").css("display","block");
	    	$("#div_id_photo .img").append('<img id="img_id" src="/{{photo}}" alt="" />');
		}
    	
    	smart_select();

	}).call(this);
	
	function smart_select(){
		var artists_id = $("#id_artists").val();
        // Empty the second <select>
        
        $('#id_album').empty();
        $('#id_album').append('<option value="0">Selecione una opcion </option>');
        
        $.ajax({
        	type: 'GET',
        
            url: "{% url 'player:get_albums' %}",
            data: { 'artists': artists_id },
            dataType: 'json',
            success: function (data) {
            	for (var i = 0; i <= data.length; i++) {
            		if (data[i]["id"] == {{album_id}}){
                    	$('#id_album').append('<option value="' + data[i]["id"] + '" selected>' + data[i]["name"] + '</option>');
            		}else{
            			$('#id_album').append('<option value="' + data[i]["id"] + '">' + data[i]["name"] + '</option>');
            		}
            	}
            }
          });
        $('.sort-select#sort2').show();
	}
	
	
	function upload_img(input) {
		$('#img_id').remove();
		$("#div_id_photo .img").css("display","block");
    	$("#div_id_photo .img").append('<img id="img_id" src="#" alt="your image" />');
    	
        if (input.files && input.files[0]) {

            var reader = new FileReader();
			
            reader.onload = function (e) {
            	var img = new Image();
            	img.src = e.target.result;
            	img.onload = function () {
            		if (this.width < 350 || this.height<350){
            			$("p.errorlist").append("La imagen debe tener un minimo de 350px de ancho y alto")
            		}else{
            			$("p.errorlist").text("");
            		}

                	$('#img_id').attr('src', this.src );
            	}
            	
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

</script>
</div>
{% endblock %}



