{% extends 'base.html' %}


{% block title %}
Todos las canciones - Hits Música
{% endblock %}


{% block styles %}

<div id="target-style">
	<link rel="stylesheet" type="text/css" href="/static/css/list.css">
</div>

{% endblock %}

{% block body %}

<div id="target-body">
	<center>
		<form method="get" id="search-form" action="{% url 'player:listar_canciones' %}" class="">
	        <div class="form-group ">
	          <input type="text" class="form-control" name="search" placeholder="Buscar...">
	        </div>
	        <button type="submit" class="btn btn-danger"><i class="fa fa-search" aria-hidden="true"></i></button>
      	</form>
	</center>
<table>
	<thead>
		<tr>
			<th>Titulo</th>
			<th>Lanzamiento</th>
			<th>Portada</th>
			<th>Autores</th>
			<th>Album</th>
			<th>Genero</th>
			<th>Likes</th>
			<th>repro</th>
			<th>descargas</th>
			<th>Acciones</th>
		</tr>
	</thead>
	
	<tbody>
		{% if object_list %}
			{% for song in object_list %}
				<tr>
					<td><a href="{% url 'player:detail_cancion' song.slug %}">{{ song.name}}</a></td>
					<td>{{ song.release_date }}</td>
					<td><img class="" src="/{{song.photo}}" width="50" heigth="50"/></td>
					<td>{% for artist in song.artists.all %}
						{{ artist.name }},
					{% endfor %}</td>
					<td>{{ song.album.name }}</td>
					<td>{{ song.genre.name }}</td>
					<td><center>{{ song.likes.count }}</center></td>
					<td><center>{{ song.num_views }}</center></td>
					<td><center>{{ song.num_downloads }}</center></td>
					<td> <button>
					     	<a href="{% url 'player:editar_cancion' song.id %}">Editar</a>
     					 </button>
					 </td>
				</tr>
			{% endfor %}
		
		{% else %}
			<h1> No hay canciones registradas </h1>
		{% endif %}
		
		
	</tbody>

</table>

	<div class="text-center">
                {% if object_list.has_other_pages %}
                    <ul class="pagination text-center">
                        {% if object_list.has_previous %}
                            <li><a class="link-pag" href="?search={{request.GET.search}}&page={{ object_list.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in object_list.paginator.page_range %}
                            {% if object_list.number == i %}
                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li><a class="link-pag" href="?search={{request.GET.search}}&page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if object_list.has_next %}
                            <li><a class="link-pag"  href="?search={{request.GET.search}}&page={{ object_list.next_page_number }}">&raquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
</div>
{% endblock %}