{% extends 'base.html' %}

{% block title %}
Todos los albums - Hits Música
{% endblock %}


{% block styles %}

<div id="target-style">
	<link rel="stylesheet" type="text/css" href="/static/css/list.css">
</div>

{% endblock %}

{% block body %}

<div id="target-body">
<table>
	<thead>
		<tr>
			<td>Titulo</td>
			<td>Ano</td>
			<td>Portada</td>
			<td>Autores</td>
			<td>Canciones</td>
		</tr>
	</thead>
	
	<tbody>
		{% if object_list %}
			{% for album in object_list %}
				<tr>
					<td><a href="{% url 'player:detail_album' album.id %}">{{ album.name}}</a></td>
					<td>{{ album.year }}</td>
					<td><img class="" src="/{{album.photo}}" width="50" heigth="50"/></td>
					<td>{{ artist.name }}</td>
					<td>{{ album.song_set.all.count }}</td>
					<td> <button>
					     	<a href="{% url 'player:editar_album_song' album.id %}">Editar</a>
     					 </button>
     					 <button>
					     	<a href="{% url 'player:delete_album' album.id %}">Eliminar</a>
					     </button>
					 </td>
				</tr>
			{% endfor %}
		
		{% else %}
			<h1> No hay albumes registradas </h1>
		{% endif %}
		
		
	</tbody>

</table>
</div>
{% endblock %}

